[2018-11-09 08:51] htcsharp commented on #1012
[src.zip](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/files/2565197/src.zip)

[2018-11-09 10:06] VeeK727 commented on #923
I'm facing the same issue. I tried the fix above but it didn't work? Any more ideas?

[2018-11-09 13:15] EddyVerbruggen commented on #1005
What's your `firebase.nativescript.json`? Or even better: can I look at a repo? And does it matter if you use tns 4 or 5?

[2018-11-09 13:16] EddyVerbruggen commented on #978
I don't see how the plugin can change any of that. Perhaps contact Firebase support?

[2018-11-09 13:16] #978 closed

[2018-11-09 13:16] #972 closed

[2018-11-09 13:23] EddyVerbruggen opened #1022 "Bump Firebase SDK versions"
For a while now I've been unable to bump the iOS SDK because they're working on a gRPC upgrade for Firestore. While doing so there are duplicate files in the project and the NativeScript CLI fails to compile when the Xcode 10 "Modern" buildsystem is used (which is the default).

I've been waiting for a new release, and while it looked like the issue was solved, the Firebase team reverted the chang

[2018-11-09 15:43] DickSmith opened #1023 "bug: Crashlytics + Android Runtime 5.0 incompatible"
I'm still narrowing this one down, but since the RC and even up to the full release of {N} 5.0, I have been unable to get the app to run consistently.

Essentially when live-syncing with Crashlytics enabled on the app (even with 0 actual calls to any of its methods) and when using the Android Runtime 5.0, the app will launch and then will just sit on the launch screen, with the emulator or device

[2018-11-09 16:07] #1022 closed

[2018-11-09 16:07] EddyVerbruggen commented on #957
Closed by #1020

[2018-11-09 16:07] #957 closed

[2018-11-09 16:16] EddyVerbruggen commented on #1000
About to release 7.4.0 which includes the latest Firebase iOS SDK and I'm quite positive the issue is fixed (it is for me).

[2018-11-09 16:16] #1000 closed

[2018-11-09 16:32] EddyVerbruggen commented on #1005
Please bump the plugin to 7.4.0 (just released). I've tested most features on iOS and Android, with NativeScript 4 and 5 and have not run into this issue.

If you still have the issue after upgrading (clean your platform folder as well!) then please share a repo I can look at.

[2018-11-09 16:32] #1005 closed

[2018-11-09 16:45] GeorgeRXia commented on #518
@Skintillion was your suggestion for me? I tried it but still not working. i decided a work around with just using data parameter. I'm just putting this message for anyone else having this issue.

[2018-11-09 17:01] EddyVerbruggen commented on #1004
Hmm, don't think this plugin can help that. I've changed the log message a bit.

[2018-11-09 17:01] #1004 closed

[2018-11-09 17:03] EddyVerbruggen opened #1024 "ML Kit camera preview doesn't appear on iOS with NativeScript 5"
It all works, but the camera preview isn't shown.

[2018-11-09 17:03] #1024 closed

[2018-11-09 17:06] EddyVerbruggen commented on #1002
You may want to check plugin version 7.4.0 because I saw some mentions in the SDK changelog about Firestore and coming out of offline mode that have now been integrated into the plugin. Closing for now.

[2018-11-09 17:06] #1002 closed

[2018-11-09 17:16] sedobrengocce commented on #467
Hi, i started working on this feature
I've done the android part, but i've some problem with the IOS, someone can help me?

[2018-11-09 17:19] EddyVerbruggen commented on #1023
Yeah I see a startup crash on Android with NativeScript 5.0.0 as well, when using the demo-ng app.

[2018-11-09 18:49] Skintillion commented on #518
Yes if you don't have that it won't work. Considering we have no code of yours to really review we can but guess at it.

My background messaging works great on Android and iOS on the newest NativeScript so I can only assume its a missing configuration or something else.

[2018-11-09 20:43] DickSmith commented on #1023
https://github.com/NativeScript/android-runtime/pull/1209/files

I haven't looked at it, and was about to do similar myself as previously mentioned, but this PR may be the solution.

[2018-11-09 22:08] htcsharp commented on #1012
I have thiis file in my project.
<img width="1217" alt="screen shot 2018-11-10 at 08 04 00" src="https://user-images.githubusercontent.com/28991805/48290763-be749d00-e4bf-11e8-81bf-7fb91cbd9261.png">

[2018-11-10 10:50] edyrkaj commented on #250
hi @EddyVerbruggen, using
`
"tns-android": {
  "version": "5.0.0"
}
`

`tns build android` failed
Command ./gradlew failed with exit code 1

[2018-11-10 13:55] EddyVerbruggen commented on #1023
I've just tried 3.2.1 but it doesn't help, unfortunately. Appreciate the tip though.

[2018-11-10 20:30] #530 closed

[2018-11-10 20:34] EddyVerbruggen commented on #1003
Please share a repo so this can be reproduced. But please first try the latest plugin version.

[2018-11-10 20:36] EddyVerbruggen commented on #999
Please share a repo - I've never seen that, and the SO issue you linked to mentions this is not needed when using Firebase.

[2018-11-10 20:36] #999 closed

[2018-11-10 20:37] EddyVerbruggen commented on #988
Is phone auth enabled in the Firebase console?

[2018-11-10 20:39] EddyVerbruggen commented on #977
Share a repo - hard to give any meaningful feedback without being able to look at the project.

[2018-11-10 20:39] #977 closed

[2018-11-10 20:40] #971 closed

[2018-11-10 20:41] EddyVerbruggen commented on #976
Depends on your Android version I think. I would appreciate if you'd Google a bit.

[2018-11-10 20:42] #964 closed

[2018-11-10 20:45] EddyVerbruggen commented on #963
Thanks for sharing! It may be fixed with plugin version 7.4.0, but I've never seen this particular error. I'll keep this in mind though in case it does pop up.

[2018-11-10 20:45] #963 closed

[2018-11-10 20:47] #892 closed

[2018-11-10 20:47] #889 closed

[2018-11-11 12:44] GeorgeRXia commented on #518
@Skintillion yeah sorry, since this project is for work I cannot share my repo. Could you guide me parts you would like to see?

[2018-11-11 12:45] GeorgeRXia commented on #976
I tried but then I stumbled into the code of the dependency and notice there are comments saying it only works for IOS but the documentation doesn't state that so I didn't know which was out of date

[2018-11-11 13:34] Chehow opened #1026 "Can't run application on Android device after installation of Firebase plugin"
Hi

After installation of "nativescript-plugin-firebase": "^7.4.1" I can't build my application any more.
I see such error:
Project successfully built.
Installing on device b40c398b...
Successfully installed on device with identifier 'b40c398b'.
Unable to apply changes on device: b40c398b. Error is: Socket connection timed out..
Executing after-watch hook from D:\nodejs\ChatStories\hooks\after-wat

[2018-11-11 14:10] EddyVerbruggen commented on #1026
Do the demo apps in this repo work for you?

[2018-11-12 06:03] Chehow commented on #1026
Looks like after some magic (wihtout code changes) it started to work.

[2018-11-12 06:03] #1026 closed

[2018-11-12 22:37] Gcuencam opened #1027 "TypeError: com.google.android.gms.ads.AdView is not a constructor"
Hi Eddy,

I'm using native-plugin-firebase (v7.4.1) to admob and I receive the next error:

JS: 'Error in firebase.admob.showBanner: TypeError: com.google.android.gms.ads.AdView is not a constructor'

Previously, I'm using nativescript-admob plugin and all was fine, but in the build I had gradle conflicts (because I'm using firebase auth, messages and realtimedb) and I had to change to this plugin

[2018-11-13 06:51] EddyVerbruggen commented on #1027
What have you tried to resolve it? Removed the platforms folder? Feel free to share a repo and I’ll take a look if you’re really stuck. Plz don’t share snippets, only the real deal :)

[2018-11-13 10:06] Gcuencam commented on #1027
Solved!

It was silly. Going from the plugin nativescript-admob to the nativescript-plugin-firebase, I forgot to reconfigure the plugin and put `admob: true` in the configuration file, firebase.nativescript.json.

Once this was done I deleted the platforms folder and it worked.

What would life be without these little details? :')

Thanks !

[2018-11-13 10:07] #1027 closed

[2018-11-13 11:15] academici opened #1028 "Nativescript vue crash when you receive push notification on background mode (or app is closed)"
repo https://github.com/academici/nativescript-vue-firebase

nativescript: 5.0
nativescript-vue: 2.0
tns-android: 5.0
nativescript-plugin-firebase: 7.4.1

1. when the app is active, messages received successfully
2. when the app is background or closed, messages are displayed in top panel. When clicking on the message, the app opens with an error:

[code]

[2018-11-13 14:19] EddyVerbruggen commented on #1028
I have no idea what could cause that. Perpaps you’ll need to delay calling firebase.init a little?

[2018-11-13 14:35] academici commented on #1028
@EddyVerbruggen with setTimeout 10s same error

[2018-11-13 15:04] EddyVerbruggen commented on #1028
OK. You’ll need to dig around yourself a little because I can’t help you this week.

[2018-11-13 16:10] carlosGesimde commented on #962
I have the same problem. I need to know how can convert the doc ts code into js code working with this plugin. The view works fine for me, only the example js needs to be more understandable for me.

[2018-11-14 11:44] edusperoni commented on #1004
If this error came from this plugin (and not from user code passed to it), we should probably make sure this never happens: https://github.com/NativeScript/android-runtime/issues/887#issuecomment-348164990

`makingMode: none` is basically mandatory in angular applications otherwise we get very poor performance

[2018-11-14 11:56] EddyVerbruggen commented on #1004
@edusperoni I know, I use it as well in my Angular apps. But it's not clear to me if in this case anything actually breaks in the app or that it is a mere glitch. Still, the plugin can't help it either way.

[2018-11-14 21:07] janossuta opened #1029 "Android app crashes after updated plugin to 7.4.0"
Hi,

I have updated my app to the nativescript 5.0 and I got some java error after the firebase plugin initialized but the application still running.

[code]

So I checked if there is a newer version of your plugin and I saw that you made one (7.4.0) so I updated my app but after that it crashes without any error message (both on emulator and phone)

I tried both 7.4.0 and 7.4.1

This happens on A

[2018-11-15 09:50] edyrkaj opened #1030 "IOS - failed to call firestore"
CONSOLE ERROR file:///app/tns_modules/@angular/core/bundles/core.umd.js:1743:28: ERROR TypeError: null is not an object (evaluating 'firebase.firestore.collection(_COLLECTION_NAME).where')

[2018-11-15 10:38] karo-dc opened #1031 "Barcode scanning not working properly on Android"
I'm using vue.js and I am using the same code in your example.
It working and is showing camera feed and scans code well, but when I set width and height to 100% it's stretching abnormally.
Also when I navigate to another page and get back to same scan page camera freezes. I tested in few devices and the result is the same.

[2018-11-16 03:42] nakorndev opened #1032 "How can I use notification click to open app with specific routes."
Sorry if I ask what docs has been written, but I no see a way to interact with click notification to open some specific route. Like I receive a new notify from firebase without open application. When I click it will only open a app homepage.

Please give me some example or docs to make this happens. Thanks.

[2018-11-16 07:51] NickIliev commented on #1023
@EddyVerbruggen it seems that the latest android gradle plugin has changed the location of the folder that contains the metadata. The `nativescript-plugin-firebase` is manually copying the fabric gradle
 plugin's metadata to the intermediates assets output folder.
With the bumping of the android gradle plugin version, this location is no longer valid which is causing the crash.

[2018-11-16 08:40] EddyVerbruggen commented on #1023
Thanks a million, @NickIliev! It's indeed the exact same problem I tackled before in #549 (but totally forgot about it). That `assets` folder changed to `merge[Debug]Assets` and the script needs to adjusted accordingly. I should be able to make this compatible with any {N} version. Gonna fly SOF ✈️AMS now, but will take care of it when I'm home.

[2018-11-16 10:18] EddyVerbruggen commented on #1030
Did you enable firestore? Have you triwd removing the platforms folder? If all else fails, please share a repo and I’ll see if I can help.

[2018-11-16 10:20] EddyVerbruggen commented on #1029
Do you have Crashlytics enabled? I’m working on a fix for that currently. If not please share a repo and I might take a look.

[2018-11-16 17:58] EddyVerbruggen commented on #1023
Hey @KristianDD thanks! I actually created something very similar on the flight home today. Will bump the version shortly.

[2018-11-16 19:17] DickSmith commented on #1023
@EddyVerbruggen
Just tried the build and can confirm. 😁

[2018-11-16 19:23] henriquecf commented on #921
Hello @BaronChen I am having the same issue. What did you do to solve this? I have tested this in a blank project it gives me the same error, using therecognizeTextOnDevice instead...

[2018-11-16 21:37] edyrkaj commented on #1030
You are right. I have runned npm config from node_modules to choose services for firebase and it fixed the problem.
Also it was after I have removed platform and added again.
Thnx

[2018-11-17 10:15] janossuta commented on #1029
Hi @EddyVerbruggen,
No I haven't enabled Crashlytics.
I'm going to prepare a repo and then share that with you but in the meantime I tried 7.4.2 but the issue remained.

Any idea why I can't make your demo run?

[2018-11-17 12:13] EddyVerbruggen commented on #1029
Without telling me what you tried I can’t.

[2018-11-17 12:40] janossuta commented on #1029
I cloned your repo then follow the steps

- cd src.
- npm i (just answer 'n' to any prompts as they are ignored anyway).
- npm run demo.ios or npm run demo.android (answer 'n' again if prompted).

and I got the previously described error message

[code]
and this is from the log file:
[code]
firebase.nativescript.json
[code]

[2018-11-17 14:50] EddyVerbruggen commented on #1029
Yeah on windows `./pack.sh` won't work, but nevermind running the demo app. Can you share that repo?

[2018-11-17 14:55] #1030 closed

[2018-11-17 15:45] EddyVerbruggen commented on #1032
You'll have to route the user to the correct page in `onMessageReceivedCallback`. Probably in an 'app loaded' event. But that's up to your app, not something this plugin can do.

[2018-11-17 15:45] #1032 closed

[2018-11-18 08:05] benlooi commented on #993
You can try this for your entitlement file.

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	 <key>keychain-access-groups</key>
  <array>
    <string>YourTeamId.com.yourcompany.appName</string>
  </array>

	</dict>
</p

[2018-11-18 14:17] Adangsutisna commented on #962
@EddyVerbruggen Thank you very much

[2018-11-18 18:01] thecodacus opened #1033 "com.tns.NativeScriptException: Failed to find module: "nativescript-plugin-firebase" for angular in tns preview with android"
Trying to run preview mode using nativescript preview app in android getting this error at the line
const firebase=require("nativescript-plugin-firebase")

`LOG from device Redmi: com.tns.NativeScriptException:

Error calling module function

Error calling module function

Error: com.tns.NativeScriptException: Failed to find module: "nativescript-plugin-firebase", relative to: app/tns_modules/

[2018-11-18 19:03] janossuta commented on #1029
hi @EddyVerbruggen,

Here is my [repo](https://github.com/janossuta/demoApp)

[2018-11-18 19:43] EddyVerbruggen commented on #1029
See the note at the top:
https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/ADMOB.md#enabling-admob

[2018-11-18 20:02] janossuta commented on #1029
Thanks I deactivated admob and the crash is disappeared but after firebase init I still get this java errors
and this was the main reason for updating the plugin

[code]

[2018-11-18 21:01] EddyVerbruggen commented on #1029
Is there an actual issue or it’s just that those log messages are annoying?

[2018-11-18 21:11] janossuta commented on #1029
just the log messages, I don't know what are those

[2018-11-18 21:41] EddyVerbruggen commented on #1029
Me neither, but they don’t worry me enough to investigate further.

[2018-11-18 21:41] #1029 closed

[2018-11-18 23:56] benlooi commented on #620
Hi Manijak,
Can you share your main.ts? Or advise me how to solve this? I seem to be having a similar issue as my Braintree plugin requires me to write some AppDelegate code in my main.ts and it is preventing FIrebase facebook login from returning to the app .
My main.ts code:
`import { platformNativeScriptDynamic } from "nativescript-angular/platform";

import { AppModule } from "./app/app.module

[2018-11-19 03:20] cryptodude2000 opened #1034 "Issue with admob showInterstitial"
I have been trying to understand how the preloadInterstitial and showInterstitial work.

Based on the documentation - preload should be called first, then show. What we where doing is passing the ad arguments to both the preload and show methods.

Turns out based on the code in the plugin, the showIntersitital has a check to see if an ad is pre-loaded IF YOU PASS AD ARGUMENTS to it, if not it will

[2018-11-19 06:44] diadal opened #1035 "unable to build any platform"
on Android I keep getting this

[code]

[2018-11-19 08:30] diadal commented on #1035
yes I do  `nativescript-social-login`
[code]

[2018-11-19 08:36] EddyVerbruggen commented on #1035
Can you disable the Google sign-in feature in the Firebase plugin? That may help to fix this issue as [it depends on a much older play services version](https://github.com/mkloubert/nativescript-social-login/blob/8f1f894f63783df4df4c6bcf3486316278257c9f/src/platforms/android/include.gradle#L27).

Alternatively, you can try adding this to `App_Resources/android/app.gradle`:

[code]

[2018-11-19 08:44] diadal commented on #1035
build.gradle
[code]

app.gradle

[code]

firebase.nativescript.json

[code]

[2018-11-19 08:54] diadal commented on #1035
Android working now it remain iOS

[code]

[2018-11-19 11:44] diadal commented on #1035
android no longer working

[2018-11-19 16:07] BrianChapman opened #1036 "firebase.firestore().settings() is missing"
The settings method on firebase.firestore.Firestore appears to be missing. How do you set the settings for the firestore (example: timestampsInSnapshots: true)?

https://firebase.google.com/docs/reference/js/firebase.firestore.Firestore#settings

[2018-11-19 20:02] ole1986 commented on #1028
I am having the same problem. But only when the app is closed.
While the app is still running but in background the notification receiver handler is triggered properly...

[2018-11-19 20:17] ole1986 commented on #1028
@academici can I ask what your click_action is named and how the notification array is built?

I noted when I have no click_action at the correct place I can tap the notification (while app is closed) and nothing happens.

So, I fixed the array to add the click_action at 'andriod' -> 'notification' -> 'click_action'.
Previously (old variant) it was located in 'notification' -> 'click_action'

So,

[2018-11-19 20:52] ole1986 commented on #1028
@academici I workaround this by doing a delay initialization of firebase.

So instead of `firebase.init()` I wait 5 sec. and then init it

[code]

[2018-11-20 04:31] dolanmiu opened #1037 "Stuck on Splash screen indefinitely"
On a fresh brand new project, when using this library, the Simulator stays on the Splash Screen.

No error. No Logs.

It just stays there

[2018-11-20 06:43] EddyVerbruggen commented on #1037
Please share the repo.

[2018-11-20 07:14] shivgolani commented on #1037
@EddyVerbruggen getting the same issue on iOS.

[2018-11-20 07:57] EddyVerbruggen commented on #1037
See my previous comment.

[2018-11-20 09:44] EddyVerbruggen commented on #1036
I looked at the web API and it seems like the only relevant options are `persist` and `timestampsInSnapshots`. You can use `persist` during `init`, and `timestampsInSnapshots` has been enabled by the plugin on iOS for a few versions (because of deprecation warnings). I've also enabled it for Android with 7.4.3.

Would you need to be able to configure `timestampsInSnapshots` from your app's code (s

[2018-11-20 12:29] EddyVerbruggen opened #1038 "Running AdMob on an iOS device fails when 'testing' is true"
On a simulator it's fine, but on a device, you'll get an error related to the symbol `kGADSimulatorID` (it can't be found, although it's part of the metadata). We can simply replace it by its actual runtime value ("Simulator").

[2018-11-20 12:33] #1038 closed

[2018-11-20 18:35] shivgolani commented on #1037
@EddyVerbruggen @dolanmiu Adding Invites is causing the issue.

[2018-11-20 20:49] BrianChapman commented on #1036
Got it, I didn't notice the deprecation warning.

[2018-11-20 20:49] #1036 closed

[2018-11-20 21:49] dolanmiu commented on #1037
I fixed this issue by using the following json:

[code]

This includes turning off invites as suggested by @shivgolani
I also turned off Android for now to keep it simple

I deleted `platforms/ios` just to be sure

Then it worked

[2018-11-21 05:38] anaszgh commented on #467
@sedobrengocce i was about to start with this when i saw your comment, how can i help to speed it up?

@JCenas can't you just test it using the simulator? i may look into your fork and work on the IOS Part.

[2018-11-21 09:15] mbouclas commented on #977
@zslusnys is correct. The `facebooklogin.xml` file needs to be placed under `App_Resources\Android\src\main\res\values` and not `App_Resources\Android\values\facebooklogin.xml`. At least in my case this is what worked in the end

[2018-11-21 09:33] EddyVerbruggen commented on #977
I've updated the documentation.

[2018-11-21 10:45] raulvc commented on #714
did you guys get it to work? I'm using the bare minimum version (without all other firebase's features as I use SNS), onMessageReceivedCallback always works when app is in foreground but gets ignored when app is in background

[2018-11-21 11:05] EddyVerbruggen commented on #714
@raulvc Check out the demo app: https://github.com/EddyVerbruggen/nativescript-plugin-firebase/tree/master/demo-push

[2018-11-21 11:43] EddyVerbruggen commented on #714
Perhaps, but I'd rather fix the problem. Do you have the same behavior with that demo app I linked to?

[2018-11-21 16:04] ole1986 commented on #1028
Instead of adding the firebase.init() into the main.js I have added it into the first "View" being called by Vue.

so, when you have for instance
[code]

The App should be the right place. Example

[code]

[2018-11-21 19:50] afaridanquah opened #1039 "Not receiving device token"
Using with Vue nativescript.

Am not getting the device token after allowing push notification. This is how my main.js looks like

import { messaging, Message } from "nativescript-plugin-firebase/messaging";

Vue.prototype.$router = router

Vue.prototype.$goto = function (to, options) {
    this.$navigateTo(this.$router[to], options)
}

console.log(messaging);

messaging.registerForPushNotificatio

[2018-11-22 17:14] rickybrown commented on #1039
same problem - no matter what i do, `onPushTokenReceivedCallback` doesn't fire and `getCurrentPushToken` always returns undefined

[2018-11-22 18:21] Mia12344 opened #1040 "cloud messaging not getting the message from firebase"
i am using nativescript firebase and when i push message from firebase console then message is not received on android app .
but when i use
`curl -X POST --header "Authorization: key=SERVER_KEY" --Header "Content-Type: application/json" https://fcm.googleapis.com/fcm/send -d "{\"notification\":{\"title\": \"My title\", \"text\": \"My text\", \"badge\": \"1\", \"sound\": \"default\"}, \"data\":{\"f

[2018-11-22 22:18] mrioso opened #1041 "Error MLKit Face detection - Android"
ML Kit error: Waiting for the face detection model to be downloaded. Please wait.

PD: Text recognition works fine

[2018-11-23 15:36] felix-idf opened #1042 "Android FCM: Not able to see the notification in the notification tray (foreground/background)"
Hi @EddyVerbruggen ,

right now we want to include firebase cloud messaging in our app using your plugin and unfortunately I am not able to see the actual notification in the Android notification tray.

My general configuration:
tns-android: 4.2.0
tns-core-modules: 4.2.1
nativescript-plugin-firebase: 7.4.2
device: Motorola X PLay Android 7.1.1

My firebase configuration:
{
    "external_push_clien

[2018-11-24 00:34] marcelomiranda90 commented on #1042
I had this problem, I believe it is related to the notification channel that api 26 should be configured for users to receive the notifications, follow the steps to have the problem solved.

put this in your strings.xml
`<string name="default_notification_channel_id" translatable="false">default</string>
`

put this in your AndroidManifest.xml

<application ...>
`        <meta-data android:name="c

[2018-11-24 00:34] marcelomiranda90 commented on #1040
I had this problem, I believe it is related to the notification channel that api 26 should be configured for users to receive the notifications, follow the steps to have the problem solved.

put this in your strings.xml
`<string name="default_notification_channel_id" translatable="false">default</string>
`

put this in your AndroidManifest.xml

<application ...>
`        <meta-data android:name="c

[2018-11-24 10:04] marcelomiranda90 commented on #1042
I've seen this, but even with a Xiaomi Redmi 4x with Android 7.1 I had the problem.

[2018-11-24 19:58] phamhuy opened #1043 "tns debug ios"
When running in debug mode with command `tns debug ios`, when opening the browser and got to localhost:41000, I got HTTP 426 error: "Upgrade Required".

[2018-11-24 21:11] Roar1827 commented on #467
Anyone having any luck with this?

[2018-11-24 21:16] JCenas commented on #467
@anaszgh I can't get ios simulator to windows or unix.

[2018-11-25 14:47] Mia12344 commented on #1040
hey @marcelomiranda90   i do not have string.xml  also project is not working by adding
<meta-data android:name="com.google.firebase.messaging.default_notification_channel_id" android:value="@string/default_notification_channel_id"/>

hear is my error log

* What went wrong:
Execution failed for task ':app:processDebugResources'.

  Output:  /Users/m.tahir/projects/projects/seefarma/platforms/andr

[2018-11-25 16:13] Mia12344 commented on #1042
i have the same problem too

[2018-11-25 16:32] marcelomiranda90 commented on #1040
the file must be in:

app/App_Resources/Android/src/main/res/values/strings.xml

after including the channel id, your strings.xml should look like this:

[code]

after saving the change, run:

tns platform remove android
tns run android

[2018-11-25 18:30] afaridanquah commented on #1040
Trying to use with NativeScript-Vue and getting no device token back with ios

[2018-11-25 22:34] agnoam commented on #534
Hey, I'm dealing with receiving share intent in android NativeScript angular app. And I search a way to navigate in my pages. The app log that the page moved but actually nothing was changed on the UI. There is any way to fix it **without firebase** ?

[2018-11-26 12:10] felix-idf commented on #518
@Skintillion are you sure that one has to add the service "org.nativescript.plugins.firebase.MyFirebaseMessagingService" to the AndroidManifest? I cannot see anything in the docs of this plugin about that.

[2018-11-26 14:09] gregersen79 opened #1045 "Messaging: onPushTokenReceivedCallback called immediately after unregisterForPushNotifications"
On Android, right after I successfully have called messaging.unregisterForPushNotifications(), the callback onPushTokenReceivedCallback gets called returning a new token. So the phone gets unregistered successfully but then receives a new token.

I have tested this on a Google Pixel 2, Samsung Galaxy S8 and S4 (real devices).

I have tried creating a new project and added this:

`require("nativesc

[2018-11-26 15:06] felix-idf commented on #1042
In my case, the type of the push message itself caused this issue. Our backend was sending data messages, so thats why no notification was created in the notification bar.

During my tests witht the firebase console, notification messages were sent and thaty why the notification was created as expected in this case.

@Mia12344 if you have the same problems, have a look here: [https://firebase.goog

[2018-11-26 15:06] #1042 closed

[2018-11-27 10:15] tommag21 commented on #1039
+1 same problem here too

[2018-11-27 13:52] tomshabtay commented on #1039
+1

[2018-11-28 03:47] nakorndev commented on #190
2 years we are still need this. +1

[2018-11-28 06:06] jefflam commented on #1039
Hey @EddyVerbruggen , I'm also running into the same issue as above (got the same logs too) where my app does not seem to get the `token` (it's `undefined`).

I'm following this section where I only aim to use the plugin for push notifications for both iOS and Android, and not for other things: https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/NON_FIREBASE_MESSAGING.m

[2018-11-28 16:10] rodrigograca31 commented on #591
I'm running an ionic/angular/typescript project and I can't see the network calls either.... I love the answer but I need to see the call itself....
using `@ionic-native/http` post method.

[2018-11-28 18:38] jnorkus opened #1048 "Android: Remote Config not fetched if called before foregroundActivity is set"
I am upgrading my apps to latest Angular and NS. I've run into this issue where my remote config is not fetched if called before `foregroundActivity` is set. I found this code:
[code]
The problem is that launch has already happened at this point and is not fired at all. Looks like `launchEvent` does not guarantee the `foregroundActivity` to be present.

[2018-11-28 18:58] jnorkus commented on #1048
I created a PR with a fix.

[2018-11-28 20:13] Mia12344 commented on #1040
its not working for me @marcelomiranda90
hear is the repo can you see this
https://github.com/Mia12344/testing

[2018-11-28 21:54] EddyVerbruggen commented on #1048
TY!

[2018-11-28 21:54] #1048 closed

[2018-11-29 06:04] jefflam commented on #1039
@EddyVerbruggen after trying out to install the whole firebase (but only using messaging) rather than follow the steps of the non-firebase-messaging, I'm now able to get the device token as well as notifications!

I guess perhaps there is something off with the non-firebase-messaging section, or maybe I misunderstood it.

I would recommend everyone here who has that issue to try that out too inste

[2018-11-29 12:16] tebieto commented on #865
Explanations are actually not clear for newbies to understand, If I know how to make things work, I would make everything clear for newbies. I am building for android, I receive the notifications, but I can only console.log them or alert them, teach us how  to make the  notification appear in notification appear in android notification bar even when app is closed

[2018-11-29 13:12] afaridanquah commented on #1039
Yeah noticed that as well. When you go through the NO FIREBASE installation steps you never get a token back. It seems to only work with the cloud messaging set to true in the firebase.nativescript.json file.

[2018-11-29 21:56] rickybrown commented on #1039
I can confirm what @jefflam and @afaridanquah said, doing it this way gets me a token, but unfortunately not the correct token. I'm on iOS, the token should be shorter. I use AWS SNS and it does not accept it. I had to start using the deprecated push-plugin just to get other pieces set up in my app until we can figure out this plugin and switch over

[2018-11-29 22:00] EddyVerbruggen commented on #1039
Guys, please share a repo so I take a look what’s going on. I use the push demo in this repo to test and don’t have this issue (at least, not the last time I checked).

[2018-11-29 22:07] rickybrown commented on #1039
will create a fresh repo, try notifications, and share - just a min

[2018-11-29 23:33] rickybrown commented on #1039
here is a fresh repo, following the instructions in `NON_FIREBASE_MESSAGING.md`:
https://github.com/rickybrown/ns-angular-push

here are my logs, you'll see on the fourth line down the token is undefined:
[code]

[2018-11-30 09:59] EddyVerbruggen commented on #1039
Thanks, @rickybrown, that's highly appreciated. I'll look into this today.

[2018-11-30 10:38] EddyVerbruggen commented on #1039
Damnit, I forgot to document quite an important piece of the puzzle to make this work:

https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/d6cc3cc91bd71800b1b7e9d75460682515e58ce4/demo-push/app_resources/iOS/Info.plist#L50-L51

You can try adding that to your project and it'll work. I'm currently considering the best way to automate or document this.

[2018-11-30 11:03] EddyVerbruggen commented on #1039
Opted for updating the docs - I don't want the plugin to mess with your plist file. Users already had to add something to the plist anyway, so adding another line shouldn't hurt. [Docs updated](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/3d171c64ec011341b44846182bcc459eab4c7a92/docs/NON_FIREBASE_MESSAGING.md#configure-push-notifications-in-infoplist).

Note that the reason

[2018-11-30 13:33] larssn commented on #930
@BrianChapman It's too rough atm. The only thing that works is Firestore support, and basic Auth support (Auth in ongoing, just did a related PR: https://github.com/EddyVerbruggen/nativescript-plugin-firebase/pull/1052).

These are the only two working modules yet. I'm probably not going to convert all of AF2; I'll start with what my business needs.

I'll create a public AF2 (alpha) branch soon, I

[2018-11-30 15:09] rickybrown commented on #1039
Awesome! I actually did require the plugin in my real repo, just forgot to on this test one. I’ll be able to try adding the key to my info.plist in a couple hours to see if it works.

[2018-11-30 16:56] rickybrown commented on #1039
bingo, I can confirm this works. I'm able to get the token, and also receiving push notifications when the app is closed. I have a separate issue which is odd - not able to receive "foreground" notifications. What happens is, when the app is open the push notification displays as if it's a background/remote notification. Never experience that before so didn't know it was possible. normally I recei

[2018-11-30 17:05] EddyVerbruggen commented on #1039
@rickybrown Thanks for testing! And set this to `false`:

https://github.com/rickybrown/ns-angular-push/blob/66e7b6aefcb5b7e4ec54ac6bf4252aa4f981b55a/src/app/app.component.ts#L34

[2018-11-30 17:31] rickybrown commented on #1003
this is the exact error I'm getting, was this resolved already or just closed for inactivity?

[2018-11-30 17:33] EddyVerbruggen commented on #1003
@rickybrown I did ‘t get that with your test repo. Do I have to send a certain payload to the device in order to reproduce it?

[2018-11-30 17:34] rickybrown commented on #1039
doh! literally read that, and said to myself it was set correctly... doing too many things at once. my apologies. Thanks!

[2018-11-30 17:39] rickybrown commented on #1003
@EddyVerbruggen that might be the case, i notice i'm getting the alert message but the APNS data payload is not coming through. Gotta run, later I will spend some time testing it out with a payload on the test repo. I appreciate your work on this plugin, will get back on after I've dug in some more. Everything else seems to be working as it should

[2018-11-30 19:22] rickybrown commented on #1003
@EddyVerbruggen These are my logs upon initializing the application, without sending/receiving any push notifications or taking any other actions, you'll see the error just a few lines down from the top:

[code]

Upon receiving a push notification, whether I do or do not send a payload, this is the message object that is logged:
[code]

And although this piece is irrelevant to the plugin - just fo

[2018-11-30 20:48] EddyVerbruggen commented on #1003
Thanks. I can take a look this sunday.

[2018-12-01 00:03] rickybrown commented on #1003
@EddyVerbruggen thanks. I can confirm that I am also getting the same error on the test repo, and also receiving the same message object without the additional APNS payload

[2018-12-01 20:31] yonatann opened #1053 "Error when trying to get messaging push token"
Hello,

I am trying to handle push notifications in my app.

I have initialized firebase and once it has been initialized I try to call firebase.addOnPushTokenReceivedCallback and get an error.

My initialization code:
let instance = await firebase.init({});
console.log("firebase.init success!");

firebase.addOnPushTokenReceivedCallback(
    function(token) {
        console.log("Firebase push tok

[2018-12-02 02:16] mtoka opened #1054 "Demo App on Android - no such file or directory"
I am following below steps from [this website](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/ML_KIT.md) to run demo app:
[code]
When running this command `npm run setupandinstall ` I am getting error as `no such file or directory` for `nativescript-plugin-firebase/publish/package/nativescript-plugin-firebase-7.4.3.tgz`

[2018-12-02 02:40] BMwanza commented on #905
Not sure if I'm going about this the wrong way but I am having trouble setting this up.

I created a new Firebase Project and configured it on the Firebase Console to use my apps bundle ID. Then saved the plist in the appropriate iOS folder but getting the following error:
Hey Everyone I’m having trouble seperating my Dev and Prod environments on with the firebase plug in
/Users/BMwanza/NativeScri

[2018-12-02 11:51] EddyVerbruggen commented on #1003
Hey @rickybrown, I've fixed that `FIRMessaging` error, although that shouldn't actually hamper the plugin's functionality.

I'm not entirely sure what the issue with the payload is you reported above ("..this is the message object that is logged:.."). What's the actual problem here? If there is an issue, please update your https://github.com/rickybrown/ns-angular-push project and I'll take a look.

[2018-12-02 15:13] gggiii opened #1055 "Build succesfull - Sucket connection timed out error"
Trying to set up firebase on my app, still getting this error.
I tried it without the plugin and it works, anyone knows whats the matter?

LOG:
[18-12-02 15:54:55.241] Build started.
[18-12-02 15:54:56.919] (CLI) Getting accounts information...
[18-12-02 15:54:58.966] (CLI) Using account 364a88a7e3ce460cb927964f8c3e4102.
[18-12-02 15:54:58.966] (CLI) Starting cloud build of 'C:\Users\krivu\Desktop

[2018-12-03 06:43] rickybrown commented on #1003
@EddyVerbruggen awesome thanks. I guess want I need to know is - are you able to push a payload and receive the data? The log shows the alert text, but I'm trying to also receive additional data, here's an example payload from apple's website (are you able to push an object like this and receive all the data in your app?):
[code]
note this question is unrelated to the thread's issue that you fixed

[2018-12-03 06:57] rickybrown commented on #1003
I cloned the plugin, trying to play with it

[2018-12-03 07:58] EddyVerbruggen commented on #1003
Hey @rickybrown, I'm using the macOS Pusher app to test payloads, and when sending this to my iOS device with the demo-push repo:

[code]

I receive this in my app's code through the plugin:

[code]

Note that `foo2` is in there twice because the plugin copies stuff from the `data` object to a higher level, but that's beside the point. So AFAIK you should be able to extract your `acme1` and `acme2

[2018-12-03 08:00] EddyVerbruggen commented on #1003
Btw, 7.4.3 has been released a minute ago.

[2018-12-03 09:03] rickybrown commented on #1003
@EddyVerbruggen you are right, I tried with pusher app and it does work. I'm not sure why that data sent from AWS SNS interface doesn't come through - only the message text does. It's clearly not a problem with the plugin, so I'll have to figure the rest out myself. Thanks for all your help!

[2018-12-03 17:32] rickybrown commented on #1003
@EddyVerbruggen I was able to modify the AWS options in my server code to get the payload sent through successfully. I am smooth sailing now. Thanks!

[2018-12-03 17:39] EddyVerbruggen commented on #1003
Great to hear!

[2018-12-03 17:39] #1003 closed

[2018-12-03 19:56] EddyVerbruggen commented on #1053
Share a repo plz, I don't even see your `firebase` import here..

[2018-12-03 19:56] #1053 closed

[2018-12-04 15:37] Mia12344 commented on #1040
@marcelomiranda90  hey i have working on it and able to get notification from firebase but its working is not fine . For 10 build i have produced only for one time i am able to get the notification but most of case i am not able to get message from firebase ? What type of issue is that?

[2018-12-04 16:47] hcgustavo opened #1057 "Can't re-login with Facebook"
**Environment**
- Nativescript: 5.0.1
 - Nativescript-Vue: 2.0.2
 - TNS Core Modules: 5.0.5
 - Android Runtime: 4.2.0
- nativescript-plugin-firebase: 7.4.3
- Device: Android Emulator (Nexus 5X API 27)

**Describe the bug**
When I open the app and login with Facebook, it works fine. But if I logout and try to re-login (without closing the app), it doesn't work. It seems the method firebase.login()

[2018-12-04 21:45] vesnenokanna commented on #1057
I have the exact same issue :( Waiting for the reply from Eddy.

[2018-12-05 00:50] jfturcot opened #1058 "Authorization library should not be required for Dynamic Links"
I am trying to use Dynamic Links, but it tries to call FIRAuth which my project does not use.

Could you please change the following:
https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/f18262b6e56c6ac93358bde928841340b2d6489d/src/firebase.ios.ts#L162-L163

To:
[code]

Thanks!

[2018-12-05 16:07] hcgustavo commented on #1057
I've managed to fix the issue, but I'm not sure it's the best solution. I'm gonna leave it here for your consideration, @EddyVerbruggen .

On the `firebase.android.js`, I removed the following bit of code from the `firebase_common_1.firebase.init` function to the `firebase_common_1.firebase.login`, right at the beginning:
[code]

[2018-12-05 18:11] afaridanquah commented on #1039
Hi @EddyVerbruggen getting some long Token like this Current device token: eaZOn5hnx2s:APA91bFJ6cwW1W5t70Q1dyfHAOv164DxLRnJ7mJQEAjZRa_QXKyHZKjp47sfRADJQvLLw2gqMKehrnbrDAilPHtQY6sPVQq61Egza5DoVQhI_kWQHMRzsge4_BBBBB_mi_5

instead of something like this 06da8e33fc0d97240c49b7d03b804f871da9ed7051cd8133dc2bc22a2abc722
Can you please take a look ?

[2018-12-05 18:38] rickybrown commented on #1039
@afaridanquah are you using firebase for your app? If not, can you confirm that your json looks like this:
[code]
and that you are not using `firebase.init`?

I ask, because I made that mistake the first time I tried this plugin and received a long device token like that as well. So in that case you would want to follow these instructions:
https://github.com/EddyVerbruggen/nativescript-plugin-fire

[2018-12-05 19:57] afaridanquah commented on #1039
I tried both Cloud and NON FIREBASE. Can you check your package.json and confirm the the version you are running?

[2018-12-05 21:41] rickybrown commented on #1039
I've only tried versions 7.4.2 and 7.4.3 and they both work. Try to run the test repo here:
https://github.com/rickybrown/ns-angular-push

(remember to replace org.nativescript.nsangularpush with your bundle id)

[2018-12-05 23:31] marcelomiranda90 opened #1059 "Callback onAdLoaded and onAdFailedToLoad."
Eddy, in the last updates we have already been able to execute something when the interstitial is closed.

I also want to be able to know when it is effectively preloaded or the preload failed, so I can always tell if I should call the preload or if I can display the ad.

As I use frequency capping by admob, not always the ad is preloaded properly, I've changed the file locally to android by addin

[2018-12-06 06:32] TinusJ opened #1060 "Tried to Serialize an unsupported type"
PLEASE REPORT THIS AT https://github.com/EddyVerbruggen/nativescript-plugin-firebase/issues: Tried to serialize an unsupported type: com.google.firebase.Timestamp, error: TypeError: javaObj.entrySet is not a function

[2018-12-06 09:20] indradha commented on #1057
I get the same issues as well, firebase.login() never resolves if we relog on logged out account (only happen on facebook, google seems work just fine), BUT in my condition, it only happen if I relog with different account.

how to reproduce the error:
1. firebase.login with facebook
2. firebase.logout
3. go to your facebook app, logout
4. firebase.login with facebook with different facebook accou

[2018-12-06 10:16] #1057 closed

[2018-12-06 10:22] amittiwari725 commented on #224
![screenshot_2018-12-06-15-42-41-550_org nativescript drawer](https://user-images.githubusercontent.com/45282503/49578034-cd3f5a00-f96e-11e8-9720-9c1b23467239.png)
can anyone tell me why I am getting this error??

[2018-12-06 11:17] hcgustavo commented on #1057
Thanks @EddyVerbruggen !

[2018-12-06 16:32] danbockapps opened #1061 "App won't launch due to version mismatch between Google Analytics and Google App Measurement"
I installed the plugin for my app. When I run tns run ios, I get an error, and the app wont' start.

*** JavaScript call stack:
(
0   configure@[native code]
1   applicationDidFinishLaunchingWithOptions@file:///app/tns_modules/nativescript-plugin-firebase/firebase.js:39:33
2   UIApplicationMain@[native code]
3   start@file:///app/tns_modules/tns-core-modules/application/application.js:273:26
4   r

[2018-12-06 17:57] danbockapps commented on #1061
The error happened with the latest version, 7.4.3. I downgraded to 7.3.0, and did not get the error.

[2018-12-06 20:35] danbockapps commented on #698
I successfully uploaded the dSYM manually by running the `upload-symbols` script from my terminal, as specified here: https://firebase.google.com/docs/crashlytics/get-deobfuscated-reports?authuser=0

[2018-12-06 22:41] marcelomiranda90 commented on #1040
From what I realized the problem we are seeing has to do with the limit of execution in the background:

https://developer.android.com/about/versions/oreo/background?hl=en

I captured this log when sending a message from the firebase console:

`12-06 08:53:42.185  1536 10179 W ActivityManager: Background start not allowed: service Intent { act=com.google.firebase.MESSAGING_EVENT `

Now I'm looking

[2018-12-06 22:43] marcelomiranda90 commented on #1040
@EddyVerbruggen Do you have a tip for us? Thank you.

[2018-12-07 00:46] lcocking opened #1063 "Unable to build iOS with clean install of Master-Client Firebase template (ld: warning: directory not found for option)"
Getting following error upon running iOS simulator:

[code]

`tns doctor` says my environment is good:
[code]

**Environment**
nativescript-angular: ~7.0.0
nativescript-firebase-plugin: ~7.4.0
tns: 5.0.3
angular: ~7.0.0
webpack: ~7.0.0
xcode: 9.4.1 (was originally 10.1)

**Steps to reproduce**
1. Run `tns create my-app-name --template tns-template-master-detail-ng`
2. Run `tns platform add ios`
3.

[2018-12-07 07:56] bettsjj commented on #163
Resolved own issue.

https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/ADMOB.md

What about the nativescript-admob plugin?

There's currently no functional difference between the AdMob features in the Firebase plugin and nativescript-admob.

The main advantage of using the version in the Firebase plugin is to avoid a gradle build conflict in the Android build you may

[2018-12-07 08:02] NickIliev commented on #1063
@EddyVerbruggen we are also experiencing the above on our builds. We noticed that the issue is happening only on machines where `repo update` was executed so I guess it might be related to some kind of incompatibility with the latest pod for the storage option (which is the only option enabled in the Kinvey master-details template)

[2018-12-07 08:21] EddyVerbruggen commented on #1063
@NickIliev Kinvey or Firebase? 😉

[2018-12-07 08:31] NickIliev commented on #1063
sorry I meant Firebase (the template is the same but using Kinvey vs Firebase depending on the choice from SideKick)

[2018-12-07 08:33] EddyVerbruggen commented on #1063
Gotcha, thx

[2018-12-07 08:47] EddyVerbruggen commented on #1063
Hmm, these steps described by @lcocking run the app fine on my simulator (latest Xcode and NativeScript 5.0.3):

- Run tns create my-app-name --template tns-template-master-detail-ng
- Run tns platform add ios
- Run tns run ios --bundle

Although I also get those "directory not found" messages (and always have!).

@NickIliev is the cloud build running the same script, with the latest Xcode and Nat

[2018-12-07 09:04] NickIliev commented on #1063
Ok it seems that our app crash is happening runtime and the app is crashing without any error logs (the `directory not found` errors are not related). We are currently looking into this one and will flow up any related info.

[2018-12-07 09:32] NickIliev commented on #1063
@EddyVerbruggen  after running `pod repo update` I had to change this line in `node_modules/nativescript-plugin-firebae/platforms/ios/Podfile`

[code]

to this one
[code]

And the issue was resolved

[2018-12-07 11:08] EddyVerbruggen commented on #1063
@NickIliev If it was the other way around then it would have made sense, but I'll update the plugin to 5.14.0 nonetheless (it was released a few days ago https://firebase.google.com/support/release-notes/ios).

[2018-12-07 11:17] NickIliev commented on #1063
@EddyVerbruggen I think it might have to do with the optimistic operator usage ( **~>**)

If thye above statement is true taht would mean that  '~> 5.12.0' will get updated up to `5.12.9` but won't get `5.14.0`

[2018-12-07 11:35] EddyVerbruggen commented on #1063
@NickIliev Exactly, but according to [their release notes](https://firebase.google.com/support/release-notes/ios) there's no version between 5.12.0 and 5.13.0, and 5.12.0 seems to work just fine for me (even after a `pod repo update`. And the resolved version in `platforms/ios/Podfile.lock` is indeed `5.12.0`.

Btw, I just tried building with 5.13.0 and 5.14.0 and there's a build error when Firest

[2018-12-08 00:12] BrianChapman opened #1065 "WebApi onAuthStateChanged doesn't"
firebase.auth().onAuthStateChanged((fbUser) does not add the listener to firebase.addAuthStateListener. Shouldn't it call back to firebase.addAuthStateListener and add the listener rather than mange the callback only with in the webapi?

[2018-12-08 11:11] danbockapps commented on #1061
This looks related: https://github.com/firebase/firebase-ios-sdk/issues/2151

[2018-12-08 11:54] danbockapps commented on #1061
I created a new app from scratch and reproduced the issue:

1. tns create firebase-test-app --template tns-template-blank-ng
2. Create app in Firebase console and follow the steps
3. Change package.json to my package name
4. Download GoogleService-Info.plist and put it in App_Resources/iOS
5. tns plugin add nativescript-plugin-firebase
6. Answer n to all questions except iOS, Crashlytics and save

[2018-12-08 15:58] danbockapps opened #1066 "Installing plugin makes device console very verbose on iOS device"
After installing the plugin, and running `tns run ios` or `tns debug ios`, I get much more console output than before:

![ezgif-5-c0d27682fd9e](https://user-images.githubusercontent.com/4488712/49687786-24ac0a00-fad6-11e8-8856-fd1571131683.gif)

These messages don't look like they're related to the plugin, but more likely a more verbose logging level got turned on. This gets in the way of seeing t

[2018-12-08 16:18] EddyVerbruggen commented on #1066
I have no idea what to do about that.. feel free to reopen with more insight (anyone).

[2018-12-08 16:18] #1066 closed

[2018-12-08 16:31] danbockapps commented on #1066
This duplicates https://github.com/EddyVerbruggen/nativescript-plugin-firebase/issues/978 - I should have found that before.

[2018-12-08 17:14] EddyVerbruggen commented on #1061
Thanks!

[2018-12-08 17:36] EddyVerbruggen commented on #1061
Added a locked dependency to `pod 'GoogleAppMeasurement', '5.3'` as suggested in the upstream issue. Thank you for bringing this to my attention!

Just published to npm with version 7.4.4.

[2018-12-08 17:36] #1061 closed

[2018-12-08 17:38] EddyVerbruggen commented on #1063
FYI build error may be experienced because of an upstream issue in the Firebase iOS SDK as was reported in #1061. I've released 7.4.4 to fix that one.

[2018-12-08 21:52] JonasJW opened #1067 "Unable to copy google-services.json"
My NativeScript App crashes as soon as I install the nativescript-plugin-firebase.

I create a new app with `tns create test1`. I run `tns run android` everything works to this point. Then I generate my goolge-services.json and run `tns plugin add nativescript-plugin-firebase`. As soon as the plugin is installed, the app crashes after the splash screen with the error:

`
    Unable to copy google-

[2018-12-08 21:56] EddyVerbruggen commented on #1067
Please share a repo and reopen. Thanks!

[2018-12-08 21:56] #1067 closed

[2018-12-08 22:09] JonasJW opened #1068 "Unable to copy google-services.json"
My NativeScript App crashes as soon as I install the nativescript-plugin-firebase.

I create a new app with tns create test1. I run tns run android everything works to this point. Then I generate my goolge-services.json and run tns plugin add nativescript-plugin-firebase. As soon as the plugin is installed, I cannot run the app anymore. I get this error:

`Unable to copy google-services.json.`
`Un

[2018-12-08 22:34] Skintillion opened #1069 "Nativescript V5 Crash on Start (Blank Template)"
[code]
Works fine.

[code]
Copy over Google services files to iOS and Android

[code]
Crashes on boot.

packages.json

[code]
app.gradle
[code]

[2018-12-08 22:43] Skintillion commented on #1068
Did you copy your google-services.json file over to your App_Resources/Android folder?

[2018-12-08 22:53] EddyVerbruggen commented on #1069
Thanks for reporting, but please share that repo because it probably also depends on what Firebase features you've selected. I have 3 Firebase projects on NativeScript 5 that don't have this issue...

Adding crash details would be helpful as well.

Please share a repo and reopen and I'll take a look on Sunday.

[2018-12-08 22:53] #1069 closed

[2018-12-08 22:58] Skintillion commented on #1069
Sure thing. For now here is the firebase config file as well.

[code]

I didn't add any code or anything to the app. It's the basic template from nativescript.

I'll try your demo next and see.

[2018-12-09 01:04] Skintillion commented on #1069
Found issue.

Admob meta data was missing from the Android manifest XML. Incase anyone else has this issue. It just crashes without any error.

[2018-12-09 16:17] 14skywalker commented on #1060
Seeing this issue on Android, not iOS. Looks like something with a timestamp field.

[2018-12-09 16:46] Pernick commented on #988
Yes, Firebase console has phone auth enabled.

[2018-12-09 19:11] JonasJW commented on #1068
No I actually had it placed in platform/android by accident. However I changed it to App_Resources/Android and I still get the same error.

[2018-12-09 20:33] AdamSHurwitz commented on #736
Hi, disregard my previous comment as we'll now need to use **Timestamp** on both the client and servers moving forward.

[2018-12-10 07:38] abhayastudios commented on #905
@BMwanza have a look at [this](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/issues/968#issuecomment-432011225). Does this solve the issue?

[2018-12-10 13:21] Ahineya commented on #1006
Hi.

I've just faced the same issue.

It wasn't like this before. I've used to correctly work with my project, but this issue suddenly happened, and now my project is always rebuilding itself.

I'm using the Firebase Plugin v5.1.8 with NativeScript v4.2 on a latest MacOS.

I have removed node_modules and platforms/android, and ran "tns debug android".

Here is the part of log after successful inst

[2018-12-10 14:37] EddyVerbruggen opened #1072 "Android build fails because it suddenly can't find com.google.gms:google-services:4.2.0"
See https://stackoverflow.com/questions/53704155/could-not-find-com-google-gmsgoogle-services4-0-1 for details.

TL;DR: Google unpublished the dependency from their maven repo, so we need to have the plugin add another maven repo during the build. 😡

[2018-12-10 14:46] mediadeo commented on #1072
Desperately watching for a fix! any ideas as to why they unpublished the dependency ? is this related to the deprecation of the GCM platform you think?

[2018-12-10 14:47] EddyVerbruggen commented on #1072
Give me 15 minutes and it's done.

I have no idea, would love to know!

[2018-12-10 14:56] EddyVerbruggen commented on #1072
OK, thanks for bearing with me - 7.4.5 is now on npm. Remove your `platforms` folder to be sure the native dependencies get updated.

[2018-12-10 14:56] #1072 closed

[2018-12-10 15:22] mediadeo commented on #1072
works like a charm! thanks eddy!

[2018-12-10 15:58] abhayastudios commented on #968
@edusperoni sorry for the delay. This seems to work. Can you submit this PR? Thanks!

[2018-12-10 16:05] abhayastudios commented on #905
@BMwanza honestly, I haven't tried it with functions. However, if you use this plugin's [support](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/FUNCTIONS.md) for functions, I would expect it to use the correct ones depending on the google services config that is used in the build... but yeah you would need to deploy the functions to both the dev and prod project (

[2018-12-10 23:40] cryptodude2000 commented on #1059
Same exact thing Eddy. I have my code working perfectly with this setup. Would be great to add to master - and seems pretty useful, and should not impact previous implementations.

I use the onAdloaded event to set different variable for downstream functionality. Our audience is international so some users dont get ads because of network issues.

Thanks.

[2018-12-11 15:28] daniel-rfe opened #1073 "Facebook login not working on iOS"
Hello,

I'm not being able to login by Facebook in iOS 12.1. I Don't know about other version since I test on a real device, as I'm on Windows using sidekick. I receive the following message:

[code]
I tried looking for this "error code 3" on facebook docs, however could not find any light.

- I already reviewed my info.plist;
- I already verified the facebook configuration on my sdk account;
- It

[2018-12-11 17:18] atoumbre commented on #958
Hello @anaszgh
Please, did you worked around this issue ?

[2018-12-11 17:57] lcocking commented on #1063
Just getting back to this. Tried changing the podfile as per your suggestion @NickIliev, which seemed to resolve any pathing issues, but still getting a crash of the app in the simulator with no apparent errors or logs. Did that completely resolve the issue for you?

[2018-12-11 20:57] nsfbng opened #1074 "firebase.query load data on second attemp"

[2018-12-12 02:47] lcocking commented on #1063
After playing around it looks like it was a configuration error with Firebase Storage. To diagnose the silent crash I ended up opening the iOS workspace in xcode and building there, which indicated an invalid argument for the initial storage call (my bucket gs path was incorrect).

@EddyVerbruggen I'm not sure if there's anything you can do to log something in the console when there's configuratio

[2018-12-12 02:47] #1063 closed

[2018-12-12 06:56] EddyVerbruggen commented on #1063
Thanks for reporting back. Where did you specify the incorrect bucket path?

[2018-12-12 09:15] #1074 closed

[2018-12-12 13:23] techedemic opened #1075 "Generate Password Reset Email Link"
As per Firebase API documentation, the is functionality to do the following:
https://firebase.google.com/docs/auth/admin/email-action-links#generate_password_reset_email_link

This feature does not seem to be available in the `nativescript-plugin-firebase` plugin, unless I am really looking in all the wrong places.

This feature is a key component in my authentication/user management space. Please

[2018-12-12 13:25] EddyVerbruggen commented on #1075
You mean this? https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/653401b8ab1bef255e59364cc0061f7a51b65474/docs/AUTHENTICATION.md#resetting-a-password

[2018-12-12 15:50] paweldziura commented on #963
I experience this error with v7.4.6 and previous ones too when sending the app to Testflight. It works with tns run ios but doesn't work with tns publish ios.

[2018-12-13 08:25] abhayastudios opened #1076 "Crash after updating pods on iOS"
Hi!

After migrating my project from NS 4.2 to 5.1, it started crashing while calling `firebase.init()`. I have been enabling/disabling features, but so far to no avail. Crashlytics shows me that it is around this (see full thread dump below):
[code]

Since this is something with `FIRFirestore`, I already tried disabling Firestore (to try and isolate the issue) and rebuilding after deleting `platf

[2018-12-13 08:31] abhayastudios commented on #1076
[code]

[2018-12-13 08:32] EddyVerbruggen commented on #1076
Please elaborate..

[2018-12-13 08:33] abhayastudios commented on #1076
@EddyVerbruggen  hey man, to be honest it works fine on another project, so I guess it must be something environmental. I was too soon to hit enter in the original post, please see updated post.

[2018-12-13 08:36] EddyVerbruggen commented on #1076
Cheers mate - let me know if there's a repo I can look at to assist with. Will have some time this evening.

[2018-12-13 09:48] abhayastudios commented on #1076
@EddyVerbruggen honestly I don't want to bother you with looking at a repo. Maybe just a hint from your experience what/how to check/investigate (I want to learn how to debug better). Am I right to assume that `FIRFirestore setSettings` is loading the `Info.plist` and as such I need to check there? (although it didn't change apart from the location since `App_Resources` is now in the project root

[2018-12-13 13:08] vidrepar commented on #1073
Same here. I also tried nativescript-facebook plugin and got the same error.

[2018-12-13 14:39] vidrepar commented on #1073
Maybe this is a way forward to find a solution: https://stackoverflow.com/questions/35248412/ios-facebook-login-error-unknown-error-building-url-com-facebook-sdk-core-e

[2018-12-13 16:11] abhayastudios commented on #1073
Indeed pinning the Facebook pods in `platforms/ios/Podfile` as below fixes the issue:

[code]

[2018-12-13 18:50] EddyVerbruggen commented on #1058
FIxed in #1070

[2018-12-13 18:50] #1058 closed

[2018-12-13 22:57] abhayastudios commented on #1076
@EddyVerbruggen after some trial and error, I found that my other project started to crash at the same point as well after updating the pods repo. Unfortunately I was unable to run the demo-ng project (I got some errors about `functions` as you can see below). Could you maybe try to update your pods repo and see if you also get issues?

I read on the Firebase Github, that there are some versioning

[2018-12-13 22:57] abhayastudios commented on #1076
By the way: this is the runtime error I get when running the demo-ng project of this plugin:

[code]

Also when I run `demo-ng.ios` this I get these errors:

[code]

[2018-12-14 01:52] Skintillion commented on #1068
platform remove and add?

[2018-12-14 09:43] navneetkarnani opened #1078 "Can't find variable: TNSMLKitCameraViewDelegate"
I have the ml_kit property in the firebase.nativescript.json set to false.

I took the starter from from the sample "Building a Good-Looking Login Form" ( https://play.nativescript.org/?template=play-ng&id=Hqp5UQ&v=2973 )

Then I removed the Kinvey references and replaced them with firebase.

I have a dummy project created in firebase console to allow email/password based login and followed instru

[2018-12-14 11:34] vidrepar commented on #1073
@abhayastudios awesome, it works! In the meantime, for anyone still struggling with this:

1. Remove platform
[code]

2.  Add platform and generate Podfile
[code]

3. Change Facebook Authentication in Podfile (platforms/ios/Podfile)
[code]

4. In **platforms/ios** run:
[code]

5. Run ios again
[code]

[2018-12-14 12:16] daniel-rfe commented on #1073
Thanks! I'm happy to see that we have a solution, however it didn't work for me, but since I'm on windows and using cloud builds, I'm 95% sure that sidekick does not take into consideration any modification I do on node_modules folder and it goes directly to the npm repository to build... Hence I must wait for a new version release :/

[2018-12-14 20:13] EddyVerbruggen commented on #1073
Thanks for your help, everyone!

[2018-12-14 20:13] #1073 closed

[2018-12-14 21:03] abhayastudios commented on #1076
@EddyVerbruggen I fiddled around some more with a test project to reproduce the issue and very possibly the mistake is mine. I have a `FirebaseProvider` in which I define a reference to a collection for use in multiple methods  (before `firebase.init()` is  run) like below:

[code]

The app doesn't crash on this definition, but immediately after running `firebase.init()`.  Like I wrote, with the p

[2018-12-14 21:41] abhayastudios commented on #1076
@EddyVerbruggen [here](https://github.com/abhayastudios/firebase-crash) you go. It is about [this](https://github.com/abhayastudios/firebase-crash/blob/master/src/app/firebase.provider.ts#L8) line. If you can guard it and I can still use this kind of class variable it would be really useful in order to avoid all kinds of timing checks and/or repetitive declaration in each method that references th

[2018-12-15 01:36] abartolo commented on #793
Thank you @neil-119  and @bdrobinson. Adding the following code to my dependency works.

[code]

[2018-12-15 12:18] #1078 closed

[2018-12-15 12:58] EddyVerbruggen commented on #1076
So I've been thinking. I considered queueing the calls and execute them after `init` is called but since `firebase.firestore.collection()` immediately returns a collection reference I can't delay it. If it were Promise based that would work, but that would make using this function harder and break compatibility with the Web API.

So I'm going to add this to the function (and a bunch of other funct

[2018-12-15 13:10] EddyVerbruggen commented on #1076
Btw, the reason of the crash is: `init` needs to set some settings on the Firestore object (based on what you pass to `init`, like setting the `persist` flag), but that's not allowed after it has been already used (creating the doc/collection reference in this example).

[2018-12-15 13:22] #1076 closed, assigned to EddyVerbruggen

[2018-12-15 13:36] EddyVerbruggen commented on #1065
Good question.

[2018-12-15 19:00] EddyVerbruggen opened #1079 "Error on iOS when building for release when ML Kit is enabled"
As reported by @rdlauer. All is fine when building without the `--release` flag. This was also broken in plugin version 7.4 (probably in all older versions as well). Might be an issue since a recent NativeScript release (5.1?) but I don't bother narrowing it down, I'll rather just fix it.

The error is:

[code]

Which can be fixed by adding a `build.xcconfig` file to the plugin which requires the

[2018-12-15 19:05] EddyVerbruggen commented on #1079
Oh crap, I remember 😞. This probably broke during a recent change I had to do for AdMob. I had to remove that `build.xcconfig` file but as it turns out it also included the reference to `QuartzCore` that ML Kit seems to need as well.

[2018-12-15 19:11] #1079 closed

[2018-12-17 09:23] abhayastudios commented on #1068
@JonasJW seems the `google-services.json` is missing from your `App_Resources`?

[2018-12-17 23:40] NicholasSmilovic commented on #467
@anaszgh I believe the iOS implementation in @JCenas repo is just Interstitial ads still, JCenas mentioned they weren't able to do the iOS side.
https://github.com/4DevCoding/nativescript-admob/blob/37afee507f835fbe7193d51222bf38f3d8c2e7aa/src/admob.ios.js#L214

[2018-12-18 04:38] jafsparrow commented on #766
Now I am getting this error. tried the solution given in github repo on app.gradle file.. nothing works.. Nativescript  is not stable yet??

[2018-12-18 21:43] NicholasSmilovic commented on #467
To help move things forward I tried to make a PR but it could use some help
https://github.com/EddyVerbruggen/nativescript-admob/pull/51

[2018-12-20 08:02] kunjee17 opened #1080 "Couldn't find Manage User functions"
There are bunch of [manager user](https://firebase.google.com/docs/auth/web/manage-users) functions. Like, you verify user using phone verification and then add further details to same user. I can't find all functions in that other than email verification functions and update profile function. Can you please point me if functions are already implemented or if any plans to implement them?

[2018-12-20 08:22] EddyVerbruggen commented on #1080
Well, quite a few of those are implemented and documented here: https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/AUTHENTICATION.md, so please be more specific about what you need.

[2018-12-20 11:53] kunjee17 commented on #1080
@EddyVerbruggen hey, thanks for replying and nice library.

Requirement for me is, I need to allow user to authenticate him/her self using email/phone and password. And I also need to verify phone no.

So, I was thinking of creating user using phone no verification method. Which is as per documentation working. But then I wanted to add other details to user like, name, email etc. I couldn't find a

[2018-12-20 17:16] alereisan opened #1081 "Cannot get device token and have java.lang.NullPointerException"
Neither ´onPushTokenReceivedCallback´ nor ´getCurrentPushToken´ are called.
I have tried it on different devices and emulators (ios and android).

´firebase.init´ works successfully.

Right before the successful Android build, i get this message in the terminal:

[code]

[2018-12-20 22:50] phamhuy opened #1082 "[Phone Auth] No event when clicking "cancel" on verification Prompt"
Using phone auth, there is no event when clicking "cancel" on verification prompt.
Suggestion: the promise should either resolve or reject when clicking "cancel" so that the application can continue to make decision of what to do next.

[2018-12-21 07:42] efgonz commented on #702
This is great but seems that we have to wait a bit, so, is there any other way to load a custom tensorflow model in a nativescript app with angular?

[2018-12-21 11:09] EddyVerbruggen opened #1083 "Bump Firebase SDK versions"
It's that time of the month again. Let's bump as many dependencies as possible and release a new minor version (7.6.0).

[2018-12-21 11:38] #1083 closed

[2018-12-21 14:27] hermandinho opened #1084 "Build fails after Installing plugin"
Hello,
After installing this plugin in my NativeScript + Vuejs app, i get the following error during build:

![image](https://user-images.githubusercontent.com/7148566/50347152-ef230a00-0534-11e9-9d3e-e12b95630057.png)

tns version: 5.0.1

Any help?

[2018-12-21 14:31] EddyVerbruggen commented on #1084
That’s not much to work with..

[2018-12-21 14:38] hermandinho commented on #1084
Please what other informations can I provide?

[2018-12-21 14:39] hermandinho commented on #1084
Here is my package.json

`{
  "nativescript": {
    "id": "com.test.com",
    "tns-android": {
      "version": "5.0.0"
    },
    "tns-ios": {
      "version": "5.0.0"
    }
  },
  "description": "Application pour petites annonces",
  "license": "SEE LICENSE IN <your-license-filename>",
  "repository": "<fill-your-repository-here>",
  "dependencies": {
    "axios": "^0.18.0",
    "moment": "^2.23

[2018-12-21 14:44] hermandinho commented on #1084
Here is my app.greddle

![image](https://user-images.githubusercontent.com/7148566/50347813-3b6f4980-0537-11e9-97b3-042e4d8da8d1.png)

[2018-12-21 15:03] EddyVerbruggen commented on #1084
A repo I can clone and try.

[2018-12-21 15:21] hermandinho commented on #1084
Thanks for your quick replies. I got the issue. I was using the nativescript-admob plugin too.

[2018-12-21 15:21] #1084 closed

[2018-12-21 17:12] EddyVerbruggen opened #1085 "Add support for AdMob's "Rewarded Video Ads""
As was [just added to nativescript-admob](https://github.com/EddyVerbruggen/nativescript-admob/pull/51).

[2018-12-23 00:03] roberto910907 commented on #821
Same here! App created using SideSick + VueJs

`java.lang.RuntimeException: Unable to start activity ComponentInfo{org.nativescript.preview/com.tns.NativeScriptActivity}: com.tns.NativeScriptException:
Calling js method onCreate failed

TypeError: Cannot read property 'FirebaseAnalytics' of undefined
File: "file:///data/data/org.nativescript.preview/files/app/vendor.js, line: 1341, column: 36

Sta

[2018-12-23 09:19] phamhuy commented on #1082
Tested on android! The promise throw an error. The phone auth for ios is still having the app crash problem as mentioned in issue #988.

[2018-12-23 09:44] phamhuy commented on #988
I'm having the same problem. @EddyVerbruggen please test with my repo below. I've uploaded my repo at:
https://github.com/phamhuy/huyapp.git
It's working for android, but not ios. The description of this plugin says it's only working for real device and not simulator/emulator, but I found that it's been working for android emulators. I've been struggling to get it to work with ios for a few weeks

[2018-12-23 15:04] oronoa opened #1086 "init() promise returns with null instance"
I get an instance of null upon the init () promise resolving
Not sure what am I doing wrong followed the guide to the letter.

[2018-12-23 16:10] oronoa commented on #1086
Thx! here I posted one - https://github.com/oronoa/starter_ns

looks like none of the interfaces are enabled in the plugin although I did set most to true on the json

[2018-12-23 17:45] EddyVerbruggen commented on #1086
Did you try removing the platforms folder after adding the plugin?

[2018-12-23 18:14] oronoa commented on #1086
I just deleted it and ran > tns debug android --bundle --emulator

still the same, it prints "firebase-.init done" but the instance is null and all the other FB callbacks are never called

[2018-12-23 19:56] EddyVerbruggen commented on #1086
Ah, now I see what you mean. You should really ignore that instance returned by the `init` method (it used to be a reference to the Realtime DB instance). It's more or less a relic from the past, when it made sense to use this plugin with Realtime DB only. Since then, Firestore was added, and you can even use the plugin without using its DB features these days.

I've just removed the `instance` fr

[2018-12-23 19:56] #1086 closed

[2018-12-23 19:59] oronoa commented on #1086
So shouldn't I see Firebase push token being printed ? with the token ?
When I look inside the firebase.android.js code it looks like messagingEnabled() returns false ...

[2018-12-23 20:07] EddyVerbruggen commented on #988
When I run your repo it crashes for me as well, but just below that logged message about `verifyPhoneNumberUIDelegateCompletion` there's this:

*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Please register custom URL scheme 'com.googleusercontent.apps.422739635229-ibefj7fnji9lhuo00k9t08qoskf6egjd' in the app's Info.plist file.'

So I copied over my conf

[2018-12-23 20:13] EddyVerbruggen commented on #1086
You're right, I wasn't aware that was an issue as well. Let me reopen this and take a look.

[2018-12-23 20:17] EddyVerbruggen commented on #1086
Can you make sure it's not just a matter of installing the plugin again? If you've enabled `messaging` in `firebase.nativescript.json` after initial installation, then removing the platforms folder and node_modules is required for the plugin to drag in the additional native libraries. The alternative would have been to simply ship all libs by default, but that would be horrible for build times and

[2018-12-23 20:44] karan-patel61 opened #1087 "Cannot read property 'firebase' of undefined"
I added the start-up wiring to my app.vue and i got this error:
`An uncaught Exception occurred on "main" thread.
java.lang.RuntimeException: Unable to start activity ComponentInfo{org.nativescript.application/com.tns.NativeScriptActivity}: com.tns.NativeScriptException:
Calling js method onCreate failed

TypeError: Cannot read property 'firebase' of undefined
File: "file:///data/data/org.nativesc

[2018-12-23 20:47] EddyVerbruggen commented on #1087
Share a repo and I might take a look..

[2018-12-23 20:48] oronoa commented on #1086
ok I did that ... I now get Application has stopped ....

[2018-12-23 20:58] oronoa commented on #1086
ok, I'm not really sure but after a few remove plugin and rm -rf and reinstalling all now it works ...  Thx for your time and help!

[2018-12-23 21:49] karan-patel61 commented on #1087
https://bitbucket.org/growbusy/growbusy/src/back-end/growbusy/

[2018-12-24 01:34] karan-patel61 commented on #1087
I took a look at the vendor.js and the line: 24374 looks like this:
`      com.google.firebase.analytics.FirebaseAnalytics.getInstance(appModule.android.currentContext || com.tns.NativeScriptApplication.getInstance()).setAnalyticsCollectionEnabled(arg.analyticsCollectionEnabled !== false);
`

[2018-12-24 07:28] houstona opened #1088 "Get Google Auth Code & Specify Scopes"
How would I go about getting the auth code from Google to send to a server to validate? And how would I go about specifying the scopes needed?

[2018-12-24 09:11] EddyVerbruggen commented on #1087
@karan-patel61 That repo's master branch doesn't have the Firebase plugin installed. Please tell me EXACTLY what I need to do to reproduce this.

[2018-12-24 09:12] EddyVerbruggen commented on #821
@roberto910907 / @farukzahra  Can you share a repo and steps so I can reproduce this?

[2018-12-24 09:46] mvanan88 commented on #389
When sign in through facebook with the same emailid used in google sign up, I am showing a error msg to user, I want to specify the **EMAIL** which has been used, to show in error msg.

[2018-12-24 16:49] karan-patel61 commented on #1087
1. Clone the repo
2. Pull from the back-end branch
3. Run it with `tns run android --emulator --bundle`

[2018-12-24 19:03] EddyVerbruggen opened #1089 "Firestore on Android may crash during livesync"
I had this happen during development in my Vue app: `java.lang.IllegalStateException: FirebaseFirestore has already been started and its settings can no longer be changed. You can only call setFirestoreSettings() before calling any other methods on a FirebaseFirestore object.`

[2018-12-24 19:04] #1089 closed

[2018-12-24 19:34] phamhuy commented on #988
I figured out my problem: I missed the reCAPTCHA step in the instruction in firebase console. The step is to add custom URL schemes. So, I've fixed the issue by adding the following to Info.plist:
`<key>CFBundleURLTypes</key>
<array>
	<dict>
		<key>CFBundleTypeRole</key>
		<string>Editor</string>
		<key>CFBundleURLSchemes</key>
		<array>
			<string>CLIENT_REVERSED_ID</string>
		</array>
	</dict>
<

[2018-12-24 19:38] EddyVerbruggen commented on #988
@phamhuy I think you're pretty qualified to do that actually ;)

Here's an example: https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/06de110c628489de1da5c6034b112c1ed92df3d3/docs/AUTHENTICATION.md#ios-1

[2018-12-25 12:16] EddyVerbruggen commented on #467
This has just landed in nativescript-admob. I'll add this here soon. https://github.com/EddyVerbruggen/nativescript-admob/pull/51

[2018-12-25 13:15] EddyVerbruggen commented on #1087
@karan-patel61 That branch doesn't have a `firebase.nativescript.json` file so I have no idea what your Firebase config looks like..

[2018-12-25 20:04] kurmivivek295 commented on #858
Was that problem solved? I am also getting the same error. I am using Angular.

[2018-12-25 22:59] karan-patel61 commented on #1087
I have tried to reinstall the firebase plugin and I got the following message:
`$ tns plugin add nativescript-plugin-firebase`

`> nativescript-plugin-firebase@7.6.0 postinstall` `C:\Users\patel\growbusy\growbusy\node_modules\nativescript-plugin-firebase`
`> node postinstall-hooks.js && node scripts/postinstall.js`

`NativeScript Firebase Plugin Installation`
`No existing firebase.nativescript.jso

[2018-12-26 00:08] karan-patel61 commented on #1087
I added the `firebase.nativescript.json` manually and reinstalled the firebase plugin:
` tns plugin add nativescript-plugin-firebase`

`> nativescript-plugin-firebase@7.6.0 postinstall` `C:\Users\patel\growbusy\growbusy\node_modules\nativescript-plugin-firebase`
`> node postinstall-hooks.js && node scripts/postinstall.js`

`NativeScript Firebase Plugin Installation`
`Config file exists (firebase.n

[2018-12-26 18:53] EddyVerbruggen commented on #1087
Wondering why you see `terminal is not interactive`. Which shell is that, and can you try a different one?

[2018-12-26 23:17] delanick opened #1090 "No .entitlements file in CLI 5+"
Hey @EddyVerbruggen

In your instructions you make mention of the .entitlements file. I'm using NS CLI 5+ and don't have an entitlements file, at all. Do you know why? Or how I can create it?

Using:
Xcode 10.1
NS CLI 5.0.3, then 5.1 and now 5.2 -> none of them create an entitlements file. PLEASE advise :)

[2018-12-27 06:18] makesitenow commented on #858
@kurmivivek295  It recently returned for me. I updated the plugin to its latest version, updates tns core and so forth, and it started working again.

[2018-12-27 09:38] EddyVerbruggen commented on #1090
You can grab this one: https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/demo/app_resources/iOS/app.entitlements

[2018-12-27 09:38] #1090 closed

[2018-12-27 23:32] Mflm commented on #1086
Hi

I deleted and reinstalled all but still the same problem.

After **init**, I can't call `onMessageReceivedCallback` or `PushTokenReceivedCallback`.

[2018-12-28 22:05] KkevinLi opened #1091 "Question/Feature: Group namespace and function"
With the firebase webApi I am able to access DataSnapshot just by importing firebase
`function foo(a: firebase.database.DataSnapshot): any {}`
but with the Nativescript WebApi, `import * as firebaseWeb from "nativescript-plugin-firebase/app";
` is not enough as I do not have access to DataSnapshot unless I import from `"nativescript-plugin-firebase/app/database"`;

Is there a reason for this diffe

[2018-12-30 14:52] oronoa opened #1092 "App not starting"
have this repo which was working correctly a few days ago

https://github.com/oronoa/starter_ns

cloned it again and it's not working . getting 'app has stopped' with nothing much in the console log
I did try to delete the platforms dir etc.
can't get it to work again. what am I doing wrong ??

[2018-12-30 14:57] EddyVerbruggen commented on #1092
Dunno, but are you sure you need [both Firestore and Realtime DB](https://github.com/oronoa/starter_ns/blob/14c0665a1c2deaf8fc1d8df1205f8a92a982f037/firebase.nativescript.json#L5-L6)? And [these are mutually exclusive](https://github.com/oronoa/starter_ns/blob/14c0665a1c2deaf8fc1d8df1205f8a92a982f037/firebase.nativescript.json#L11-L12).

Furthermore, almost all your dependencies pin to the [major

[2018-12-30 15:02] oronoa commented on #1092
Sorry, forgot to mention I did change the init for the plugin to have only AdMob and messaging which I need. What I'm getting in the emulator is "App has stopped" which not much else in the console I can report about .... any suggestions or something I can do to get more output I will happily run.

[2018-12-30 15:30] EddyVerbruggen commented on #1092
Check this: https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/ADMOB.md#android

[2018-12-30 15:30] #1092 closed

[2018-12-30 22:19] Healios opened #1093 "Cannot read property 'get' of null"
I am having issues getting the firestore part of this plugin to work.

I create an app using the Vue Firebase template provided via Nativescript Sidekick. I navigate to the plugin folder in node_modules to reconfigure it (I enable firestore).

I then add the following code to the app.js in the "created event":
[code]

I then get the following error:

[2019-01-01 12:09] shuvojit007 commented on #631
I solved this after using addOnSuccessListener instead of OnCompleteListener.

OnCompleteListener is always called if completed successfully, or there was an error.  So we should check the task for success or failure. Or we can split it up into an onSuccess and onFailure callbacks that get invoked depending on the status of the task.

[2019-01-01 20:19] abozanona commented on #271
I'm having this issue too, I'm building my application on cloud.

[2019-01-01 22:59] stephan-fischer commented on #239
@elinswilberg  how can i call it?
`  firebase.auth().signInWithCustomToken("mytoken")`?

Thank you!

[2019-01-02 21:05] #1091 closed

[2019-01-02 21:20] KkevinLi opened #1094 "Datasnapshot exists()"
How can we call exists() on firebase.database.datasnapshot?

[2019-01-03 10:19] JaganJonnala commented on #599
+1

[2019-01-03 11:03] canhkieu commented on #1036
I used version:     "nativescript-plugin-firebase": "^7.6.0"
And I got this error because I can not settings

[code]

[code]

[2019-01-03 11:10] canhkieu commented on #1089
I things it's the same error with #1036 because we cann't settings follow this guide:
https://firebase.google.com/docs/firestore/quickstart#initialize

[code]

[2019-01-03 22:42] mudi256 commented on #631
i'm facing this issue on kitkat when adding inApp messaging dependency

[2019-01-04 09:45] yblok13 opened #1096 "firebase.js:1275:24: Error in firebase.query: ReferenceError: Can't find variable: FIRDatabase"
Issue is happening on device(iPhone 7 plus) and emulator.

        firebase.query((q) => {
            console.log(q)
            }, "/parties",{
            singleEvent: true,
            orderBy: {
                type: firebase.QueryOrderByType.CHILD,
                value: 'isPublic'
            },
            range: {
                type: firebase.QueryRangeType.EQUAL_TO,
                val

[2019-01-04 09:49] EddyVerbruggen commented on #1096
You probably haven't enabled this line:

https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/e295d5b54c18f16bb97321143e4b500d68fc41d2/demo/firebase.nativescript.json#L6

Or if you have, please remove the `platforms` and `node_modules` folders and rebuild.

[2019-01-04 09:49] #1096 closed

[2019-01-04 11:41] inONEL commented on #701
@EddyVerbruggen If your using Non-Firebase Push Messaging, so without the use of firebase do I still need a google-services.json? I am able to build for IOS but not Android getting the "Unable to copy google-services.json." warning.
Thank a lot

[2019-01-04 11:44] yblok13 commented on #1096
Thanks for the speedy reply! That did fix the error - and I realize now you did mention it in the docs.
However, nothing is being logged from my code?
I have a collection with path "/parties", each document has a field "isPublic" with boolean true.
Any idea?

Thanks in advance!

[2019-01-04 12:41] inONEL commented on #701
For those struggling with "Non-Firebase Push Messaging" and getting the "Unable to copy google-services.json." warning. You still need to setup a FireBase Cloud Messaging account.

[2019-01-04 12:47] EddyVerbruggen commented on #1096
Perhaps there's a missing index, or the permissions are incorrect.

[2019-01-05 10:51] EddyVerbruggen commented on #1094
Can you give a full example?

[2019-01-05 10:51] EddyVerbruggen commented on #1091
Why was this closed / what did you find out?

[2019-01-05 15:55] KkevinLi commented on #1094
[https://firebase.google.com/docs/reference/android/com/google/firebase/database/DataSnapshot#exists()](url)

`  const example: firebase.database.DataSnapshot = ____;
    example.exists();`

I noticed that I could just check if `DataSnapshot.val() !== null` so it is not as important that I cannot call exists().

[2019-01-06 10:39] EddyVerbruggen commented on #1094
Example added to the Web API example @ https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/DATABASE.md#addvalueeventlistener

[2019-01-06 10:39] #1094 closed

[2019-01-06 19:34] nuno-morais commented on #1040
Someone already fix this issue?

[2019-01-06 21:24] nuno-morais opened #1097 "Firebase PushNotifications are not received in iOS"
Hello,
I'm not able to receive pushnotifications in iOS.

You can check this issue on this repository:
 - https://github.com/nuno-morais/TestPushNotifications

This is never called:
[code]
neither

[code]

[2019-01-07 00:47] KkevinLi commented on #380
Thinking of picking this up. Does this have the same technical hurdle you encountered when implementing transactional updates for Android (Firestore)?

[2019-01-07 15:19] amalichev commented on #923
+1

[2019-01-07 18:04] EddyVerbruggen commented on #1085
Almost done, need to test Android a little more.

[2019-01-08 07:50] saibbyweb commented on #723
### THIS WORKED FOR ME

I was having the same problem. On Android Pie
[code]
On a physical device running Marshmallow:

[code]

### THE PROBLEM WAS WITH THE CALLBACK

I was directly feeding the **message** received to console, removing or stringfying the message solved the issue for me
[code]
to

[code]

[2019-01-08 11:08] Healios opened #1099 "Feature request: localizing verification & password reset email"
Hello,

I propose that support for localization of the verification and password reset email is added.

You can find more information about it [here](https://firebase.google.com/docs/auth/android/manage-users). Look under "Send a user a verification email" and "Send a password reset email" (same thing really).

It seems to only be the two following methods:
- auth.setLanguageCode
- auth.useAppLang

[2019-01-08 11:55] EddyVerbruggen commented on #1099
Pretty cool feature to have, thanks for sharing it!

[2019-01-08 11:57] saibbyweb opened #1100 "Enable push support for iOS without Xcode (on Windows)"
This is more of a question than an issue which I couldn't find in the docs.

[Enabling push support in Xcode](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/MESSAGING.md#enable-push-support-in-xcode) in the docs points to opening the project in **Xcode** and switch on the **Push Capabilities**. But what If I'm developing on Windows. I don't have Xcode.

### How to

[2019-01-08 12:14] EddyVerbruggen commented on #1100
The doc at that link also says that step will create a file you need to copy. Here's an example: https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/demo/app_resources/iOS/app.entitlements

[2019-01-08 12:14] #1100 closed

[2019-01-08 17:58] Dreaming-In-Code opened #1101 "Android: LED not flashing when Push Notification is received."
Hi,

I am unable to get the LED to flash on my android device when receiving a push notification (via firebase console and postman). Here is the payload that is sent.

{"notification":{"title": "My title", "text": "My text", "badge": "1", "color":"#000070" "sound": "default"}, "data":{"foo":"bar"}, "priority": "High", "to": "DEVICE_TOKEN_HIDDEN"}

Is this intended behaviour? if so, how would you g

[2019-01-08 18:43] EddyVerbruggen commented on #1101
I have not added any code that would help making the LED flash. According to which spec should we add what exactly to the payload in order for the LED to flash?

[2019-01-09 08:43] delanick commented on #1090
@EddyVerbruggen Thanks bud!

[2019-01-09 08:45] delanick commented on #1090
@EddyVerbruggen  Sorry to bug again, I just need to try understand this. The entitlements file you linked above, as aps-environment set to development. Do I need to create a dev push cert with Apple?

And once ready for production, do I change the entitlements file to "Production", "production", or "prod" or what?

Sorry, this is breaking my brain a bit!

[2019-01-10 03:55] SyedRahim commented on #611
I've installed Firebase authentication before and it was working fine but lastly, I installed Firebase/Storage (Steps using rnFirebase documentation) and now the app is installing with BUILD SUCCEED but not launching.

[2019-01-10 09:32] Dreaming-In-Code commented on #1101
Thanks for getting back to me, I am not sure if you can send something in the payload in order for the LED to flash (or unless I couldn't see anything looking at the documentation https://firebase.google.com/docs/cloud-messaging/http-server-ref).

Is there another way we could setup the LED to flash when a notification is received? I've looked at implementing local notifications (https://www.npmjs

[2019-01-10 10:09] EddyVerbruggen commented on #1101
@Dreaming-In-Code Looks like I could add [something like this](https://github.com/katzer/cordova-plugin-local-notifications/blob/6d1b27f1e9d8e2198fd1ea6e9032419295690c47/src/android/notification/Builder.java#L144) to [this code of the local notifications plugin](https://github.com/EddyVerbruggen/nativescript-local-notifications/blob/9c06edda3369a2000f9b3ad68676059bad9e3a3f/native-src/android/app/s

[2019-01-10 10:37] Dreaming-In-Code commented on #1101
@EddyVerbruggen That would be a great feature in local notifications, any idea if/when it will be implemented?

[2019-01-10 10:40] EddyVerbruggen commented on #1101
Would you mind opening a feature request in that repo? I can't promise any timeframe, but at least I won't forget about it. And who know, perhaps someone else wants to pick it up even :) . THX!

[2019-01-10 11:04] Dreaming-In-Code commented on #1101
@EddyVerbruggen instead of starting a new feature request I have simply added my contribution to this issue that is already open [here](https://github.com/EddyVerbruggen/nativescript-local-notifications/issues/128).

A little off topic... If I wanted to have a go and create this feature myself, how do I go about compiling the Java (Builder.Java) code so that it will be used by the plugin? So far t

[2019-01-10 15:22] alangiovannipc commented on #1010
Thanks so much , I resolved the problem, Updating the version .

[2019-01-10 18:41] Vivekburada commented on #389
@mvanan88 But potential user from retract from signing in thinking that it is Bug.
When ever a user Signs up with Google, we ask him to verify phone number and create database reference based on phone number, then again if the same User logs in with facebook, Then check if phone number is verified, otherwise ask user to verify it. if the phone number is same then, Database reference will be same.

[2019-01-10 21:24] mosesweb opened #1106 ""this account already exists on your device""
How do I battle this error I get when I try to login through Google on my phone?
This appears when I logout from firebase (with logout) and when I try log in again I get the google login but I can't login because of this error: "this account already exists on your device". How do I login if I logged out and I have a Google account on the phone already?

[2019-01-11 03:15] Jonarod commented on #1087
I have the same problem when cloning [this repo](https://github.com/jlooper/picme)...
Reproduce steps:
[code]
I use Genymotion to emulate, but I also get the same error when manually transferring the `debug.apk` (`tns build android --bundle`) to a physical android device.

[2019-01-11 10:18] EddyVerbruggen commented on #1087
@Jonarod That's expected as that project is not using Android: https://github.com/jlooper/picme/blob/2b70772c8a500fed74ed3c4284b955e1e9a9e1b8/firebase.nativescript.json#L3

[2019-01-11 15:55] stevenspiel commented on #437
@marcelogpinheiro did you ever figure this out?

[2019-01-11 16:21] yassipad commented on #1039
Hi,

So I've tried everything that's been mentioned here and i'm still having the same issue: the token is always "undefined". I configured the package to only use notifications:

[code]
But when I add **require('nativescript-plugin-firebase')** before my app starts, I get the **GoogleService-Info.plist** missing error. If I don't require it, the token is always undefined.

Please note that I'm us

[2019-01-11 16:35] EddyVerbruggen commented on #1039
@yassipad Share a repo please.

[2019-01-12 04:17] praveshkhatana opened #1107 ""${PODS_ROOT}/Fabric/run" double quote is missing"
`"${PODS_ROOT}/Fabric/run"` double quote is missing which causing the following issue

[code]

it works fine when i add `"` in build phases via  xcode.

[2019-01-12 11:46] #1106 closed

[2019-01-12 15:03] EddyVerbruggen commented on #1107
Where's that missing from exactly? The relevant LoC is this one, but it looks right:

https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/13fca449d815003dcc629fbad2928e632b3fbfd2/publish/scripts/installer.js#L495

[2019-01-12 19:50] henriquecf opened #1108 "Firebase Functions httpsCallable returns error on Android after every deploy of function"
Hello. It is being a while since I am having this issue but I was not sure where it was coming from.

Every time I make a deploy to a cloud function, the first time I call this function after it has been deployed I get the following error from the plugin, even knowing that the function worked properly:

` Error Caught: Error: com.google.android.gms.tasks.RuntimeExecutionException: java.net.SocketT

[2019-01-12 22:42] praveshkhatana commented on #1107
it should be like `'\"${PODS_ROOT}/Fabric/run\"'`

working fine for me after this change

[2019-01-13 02:58] ryanlangton commented on #923
Same problem here

[2019-01-13 13:47] ematechno opened #1109 "Push Notification Crash APP"
On some device, when my APP is running in backgroud and a push notification is received, the APP crashes with the error below:

Fatal Exception: java.lang.NoSuchMethodError: No virtual method setChannelId(Ljava/lang/String;)Landroid/support/v4/app/NotificationCompat$Builder; in class Landroid/support/v4/app/NotificationCompat$Builder; or its super classes (declaration of 'android.support.v4.app.No

[2019-01-13 15:51] EddyVerbruggen commented on #1109
Some devices?

[2019-01-14 10:41] marklanhamhc opened #1110 "Push Notifications not displaying in iOS"
The iOS device is receiving the notification but its not triggering the devices push notification capabilities — as in its not showing the popup, we have checked the device settings as well. We know the device is receiving the notification from Firebase as we are displaying the message on the apps home page once you click a button. Android however is working fine.

[2019-01-14 18:05] EddyVerbruggen commented on #702
Hi folks, I'm actively working on this task and I'm seeing a few results that give me good hope for the near future ;)

What would be really helpful to me is receiving a few custom tflite models, along with a sample image and expected labels (and scores). Would really appreciate if anyone can provide me with those, otherwise I'll continue development with the single model I have.

[2019-01-14 19:35] jlooper commented on #702
On it!

[2019-01-14 22:15] MrCalamitus commented on #1041
Hello @EddyVerbruggen you made a great work with this plugin.

I have the face Dependency in my config. But sometimes I have the same problem

 <img width="761" alt="captura de pantalla 2019-01-14 a la s 16 11 42" src="https://user-images.githubusercontent.com/7023270/51144591-1a88d400-1817-11e9-9898-987cf7e1478e.png">

[2019-01-15 00:54] jlooper commented on #702
Eddy, there are some here https://www.tensorflow.org/lite/models

[2019-01-15 01:05] geoffbullen commented on #702
I’m excited!

[2019-01-15 22:44] acrollet commented on #1031
@karo-dc I was seeing this issue as well, I tried clearing history when navigating away and now the scanner works fine when re-opening. e.g.:

`this.$navigateTo(SomeOtherComponent, { clearHistory: true });`

[2019-01-16 03:51] vosonha89 commented on #1068
It worked for me 👍. Many thanks.

[2019-01-16 08:33] fernandezmjm commented on #1008
hi @Ianc22  @EddyVerbruggen ,

I'm also trying to use this function and it's for both iOS and android.

Sorry to ask but are there any updates with this?

[2019-01-17 13:14] jdonovanMCBG opened #1112 "Feature Request: Support In-App Messaging"
Would it be possible to add support for [Firebase In-App messaging](https://firebase.google.com/docs/in-app-messaging/)?

[2019-01-17 13:36] EddyVerbruggen commented on #1112
Sounds like a good plan to me. No idea why though, because there's tons of other stuff I have to do.

[2019-01-17 15:24] EddyVerbruggen commented on #1107
Hi, did you close this because it's not an issue anymore?

[2019-01-17 16:25] Aceman18 opened #1113 "Crashlytics install/setup not showing on firebase dashboard"
Hi,
I have been trying to add crashlytics to my app, I've followed the guide in the docs folder.

However when I go onto my firebase dashboard I’m still stuck with the Crashlytics install wizard.
![screen shot](https://user-images.githubusercontent.com/24454702/51331604-068cde80-1a72-11e9-9c66-f7370bd6629d.png)

I've tried following the firebase process by installing Fabric and working through tha

[2019-01-17 16:38] EddyVerbruggen commented on #1113
AFAIK you need to select "This app is new to Crashlytics", and press "Next". Then the screen changes to something like "waiting for your first crash report". Then produce a crash, and it can easily take a day before that screen changes (later data comes in much quicker).

[2019-01-17 17:00] Aceman18 commented on #1113
Ok great, I've done that and it tells you to go to the docs:
![screen shot 2019-01-17 at 16 55 49](https://user-images.githubusercontent.com/24454702/51334975-d7c63680-1a78-11e9-8a69-f9f22ad4a5c0.png)

Previously when I tried that option I never clicked on the link to go to the docs as I already had it open in another tab in my browser.

However, after clicking the link it takes you onto the third

[2019-01-17 17:11] praveshkhatana commented on #1107
I found a reason which was causing this issue.
if project/folder name contain any spacing like `project a` then it start giving such error and fix for that is `'\"${PODS_ROOT}/Fabric/run\"'`

[2019-01-17 17:41] EddyVerbruggen commented on #1107
Oh that makes sense! I’ll add the quotes then, thx!

[2019-01-17 19:08] #1107 closed

[2019-01-17 19:33] EddyVerbruggen commented on #702
I'm wrapping things up for a first release with support for loading and interpreting bundled quantized models on both iOS and Android. Interpretation can be performed from a still image, as well as a live camera feed.

Please check the [updated ML Kit docs](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/ML_KIT.md#custom-model-inference). I'll release 7.7.0 soon, so

[2019-01-17 19:33] #702 closed

[2019-01-18 09:53] EddyVerbruggen commented on #1041
Please share a repo which I can clone and inspect.

[2019-01-18 10:32] EddyVerbruggen commented on #1097
I didn't check other things, but [this filename](https://github.com/nuno-morais/TestPushNotifications/blob/master/app/App_Resources/iOS/demong.entitlements) doesn't look right. Rename to `app.entitlements`.

[2019-01-18 14:40] MrCalamitus commented on #1041
Hi @EddyVerbruggen.
Ready! ... I invited you at my repo, you can clone from https://github.com/MrCalamitus/faceRecognition

[2019-01-18 15:52] JillevdW commented on #405
After a long adventure through the issues I believe this to be the cause of my problem.

When `singleEvent` is set to false, the callback is called for each item individually, in the right order. However, when it is set to true, it is returned all at once, it is returned in a seemingly random (looks like reverse alphabetical?) order.

Without having too much time to work through the code behind th

[2019-01-18 15:54] JillevdW commented on #50
Issue #405 seems to be relevant here. I feel piping on the client side is a hacky work-around seeing as it'll be a major hit to performance on bigger queries.

[2019-01-18 16:08] EddyVerbruggen commented on #405
As you can see [here for Android](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/6a0d221091ab22f2824a552eee95083c3d8ddb83/src/firebase.android.ts#L1644) and [here for iOS](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/fd48490680c78bc33f772c65ac9fc661c4880031/src/firebase.ios.ts#L1415), the data is simply returned as one "snapshot", and the plugin passes t

[2019-01-18 16:14] JillevdW commented on #405
Hey, thanks for the incredibly swift reply. I'm wondering if I got things confused then, I'll now refer to how I've implemented something similar in Swift:
`
mainRef.child("Posts").queryOrdered(byChild: "timestamp").queryLimited(toFirst: 100).observe(.value, with: { (snapshot) in
            if snapshot.exists() {
                for post in snapshot.children {
                    if let postSnap

[2019-01-18 17:40] JillevdW commented on #405
@EddyVerbruggen that could be true, I'm not sure, however that would imply the query function is not the same as the function I just posted, some observations:
- In the Swift function, the snapshot function contains all the results from the query in an array. As such, the callback is only called **once** (not entirely true, since I use the function `.observe` which observes value changes as well,

[2019-01-19 03:05] nuno-morais commented on #1097
why `app.entitlements`?

[2019-01-19 07:23] Omi231 opened #1115 "App crashes after adding firebase.init()"
Everything was working fine untill i yesterday decided to upgrade to Nativescript 5. Now only in new projects as soon as i add initialize firebase in app.component using `firebase.init({})` app crashes (Nativescript 4 projects run without any issue).

The error doesn't provide me any clue what is wrong.
![screenshot-1547882164069](https://user-images.githubusercontent.com/44071105/51423634-ef22328

[2019-01-19 08:38] EddyVerbruggen commented on #1097
Did you try it?

[2019-01-19 08:40] EddyVerbruggen commented on #1115
To see the actual error, run ‘adb logcat’ on the command line and make it crash again.

[2019-01-19 10:36] Omi231 commented on #1115
reinstalling plugin and mapping with existing firebase project solved the issue.

[2019-01-19 10:36] #1115 closed

[2019-01-19 10:40] nuno-morais commented on #1097
Yes I made the change and it is not working...

However this project is a fork of your repository.... I don't understand why I have to change anything.

You can confirm on `build.xconfig` the entitlements `CODE_SIGN_ENTITLEMENTS = demong/demong.entitlements`

Can you explain? 🙏

[2019-01-19 11:07] EddyVerbruggen commented on #1097
Check https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/MESSAGING.md#copy-the-entitlements-file

[2019-01-19 11:10] nuno-morais commented on #1097
the app name is the name of root folder?

[2019-01-19 11:34] EddyVerbruggen commented on #1097
Yeah just like in the demo, but you can also use `app.entitlements` so you don't need to worry about that.

[2019-01-19 11:41] nuno-morais commented on #1097
ah, thanks.
I have some concerns about it.... I don't know what is happening, because when I'm using the simulator I'm receiving the `onMessageReceivedCallback` (i'm using logs), but when I use the real mobile the notification does not appear.

[2019-01-19 11:47] nuno-morais commented on #1097
I found this log:
`5.15.0 - [Firebase/Messaging][I-FCM002010] The subscription operation is suspended because you don't have a token. The operation will resume once you get an FCM token.`

I'm not receiving any push token 🤔

[2019-01-19 11:51] nuno-morais commented on #1097
Do you have any suspect why I'm not able to get the push token on iOS? (just for sanity check: it is working on Android)

[2019-01-19 12:15] EddyVerbruggen commented on #1097
No idea, but I can spend an hour looking at your project. If you'd like that, please mail me at eddyverbruggen at gmail dot com so we can arrange something.

[2019-01-19 12:15] #1097 closed

[2019-01-20 07:19] caiusCitiriga commented on #632
@KkevinLi any news on this?

[2019-01-21 16:37] diegocastillomck commented on #714
Hi, is there any solution for this problem? I'm facing the same issue. @raulvc were you able to fix this problem?

[2019-01-21 16:44] raulvc commented on #714
I did manage to solve it at the time by downgrading firebase version

[2019-01-21 17:00] Jxckaroo opened #1116 "Nativescript Angular Demo not working"
When i try to run the demo android app on a windows machine with the android studio emulator, i seem to get the following error after running npm run demo.android:

'.' is not recognized as an internal or external command,
operable program or batch file.
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! nativescript-plugin-firebase@7.7.0 package: `cd ../publish && ./pack.sh`
npm ERR! Exit status

[2019-01-21 17:48] diegocastillomck commented on #714
I downgraded to 6.4.1 and 6.1.1 and it still not working. Which version did you use?

[2019-01-21 18:12] raulvc commented on #714
Hey Diego, sorry for not being clear, I didn't downgrade the plugin, I downgraded the firebase version that gets built with gradle on android, take a look at `app/App_Resources/Android/app.gradle` (compare it with Eddy's example).

[2019-01-21 18:13] raulvc commented on #714
try to force a different version like this:

[code]

[2019-01-21 18:34] diegocastillomck commented on #714
Updated to plugin version to 7.7.0 and it worked!

[2019-01-22 07:07] Vanekru opened #1117 "Can't start new install app"
I'm installing a new app NaticeScript-Vue. Install this plugin and get errors.

[code]

[2019-01-22 07:08] Vanekru commented on #1117
Sorry is proxy

[2019-01-22 07:08] #1117 closed

[2019-01-22 11:42] NickIliev commented on #1116
@Jxckaroo I've updated all dependencies to latest and the demo is working as expected on my side.

Here is the updated package.json
[code]

[2019-01-22 18:51] Jxckaroo commented on #1116
@NickIliev Are you on a windows machine? Because i have updated the dependencies to match yours and here is my output when running npm run demo-ng.android

Below is also the NPM log output:

[2019-01-23 02:54] kriztupher1 opened #1119 "getValue returning object that isn't compatible with listview"
Hi,

I am using the following function to get my data from firebase and display it in a listview. However, it's downloading an object and I think listview wants an array. I have looked at every forum post on the web and can't figure this out.

I am sure there is a simple solution to this. I'm still learning javascript/vue/nativescript so thanks for any help.

`
fetchRequestForGettingData(currentDa

[2019-01-23 07:13] NickIliev commented on #1116
@Jxckaroo yes I am testing on Windows as well, but instead of the provided npm scripts I've started the demo directly via the CLI
[code]

[2019-01-23 18:57] Jxckaroo commented on #1116
That seemed to get it working thanks.

Looks like the npm scripts are not optimised for windows?

[2019-01-23 19:07] vtjon opened #1120 "AdMob: Cannot read property of addView"
Despite adding a timeout, I often get TypeError: Cannot read property 'addView' of null  when I create the banner. The main admob repo seems to have some extra null checks. See:
https://github.com/EddyVerbruggen/nativescript-admob/blob/master/src/admob.android.js#L140

I think these are missing in this repo. Is it possible to add those checks?

[2019-01-24 09:59] EddyVerbruggen commented on #1120
Good point. Added here as well. Thanks!

[2019-01-24 09:59] #1120 closed

[2019-01-24 11:56] uttahb opened #1121 "getting credential EmailAuthProvider"
Is there a way to get the credentials EmailAuthProvider.credential(email, pass) in the the plugin. I tried with both firebaseWebApi and native api, couldn't find the access to the method.

Thanks.

[2019-01-24 13:38] EddyVerbruggen commented on #1121
Would you mind adding document references for the native iOS and Android SDKs?

[2019-01-24 15:55] uttahb commented on #1121
Sure
[android](https://firebase.google.com/docs/reference/android/com/google/firebase/auth/EmailAuthProvider)
&
[ios](https://firebase.google.com/docs/reference/swift/firebaseauth/api/reference/Classes/EmailAuthProvider)

[2019-01-24 16:38] EddyVerbruggen commented on #1121
Thanks, so when you login, a credential is created but never returned to the client because I never thought it would be useful. Can you enlighten me how it can be used?

[2019-01-24 19:34] #1119 closed

[2019-01-24 20:36] GalushkoVasiliy opened #1122 "Current push token: undefined"
Hello, I have issue with Current push token: undefined on IOS platform, I add files app.entitlements to app_resources/ios and to platform but token is undefined
on Android this task is done
Can you help me?

[2019-01-24 20:55] EddyVerbruggen commented on #1122
Not unless you share a repo.

[2019-01-24 22:40] GalushkoVasiliy commented on #1122
Thanks for feedback, Eddy, can you check https://github.com/GalushkoVasiliy/test.git repo?

[2019-01-24 22:41] GalushkoVasiliy commented on #1122
I add a repo

[2019-01-25 00:51] acrollet commented on #839
possibly helpful: https://github.com/EddyVerbruggen/nativescript-plugin-firebase/issues/1031#issuecomment-454580772

[2019-01-26 09:20] GalushkoVasiliy commented on #1122
Hi, Eddy, can you help me?

[2019-01-27 11:31] EddyVerbruggen commented on #1122
@GalushkoVasiliy 2 things:
- Make sure you test on a real device
- Change [this line](https://github.com/GalushkoVasiliy/test/blob/7e021e8aa24c9e101901eff7250dd80414e3fb7d/App_Resources/iOS/build.xcconfig#L10) to `CODE_SIGN_ENTITLEMENTS = ownapp/ownapp.entitlements`

Then remove the platforms/ios folder and it should work.

[2019-01-27 11:31] #1122 closed

[2019-01-28 14:18] KkevinLi opened #1123 "Firestore Transaction Get doesn't return a promise"
According to the docs, Transaction.get() should be returning a non null Promise containing the DocumentSnapshot.

https://firebase.google.com/docs/reference/js/firebase.firestore.Transaction#get

[2019-01-28 15:40] demym opened #1124 "can't get notification in background"
Hi,

i am using version 7.7.0 of the plugin, on android for now.

I cannot get the  onMessageReceivedCallback to be triggered when my app is in background. The notification appears, and clicking it triggers the onMessageReceivedCallback, but in that case i have not the correct title and body of the message. I would really like to have the onMessageReceivedCallback triggered when the app is in back

[2019-01-29 13:39] Ianc22 commented on #1008
Hi @fernandezmjm. So sorry about the late reply. I glimpsed the email last week and then forgot to get back to it. Been a little manic. You got it sorted?

We have resolved to update Android:

firebase.android.js
firebase_common_1.firebase.getAuthToken.
     var onSuccessListener = new com.google.android.gms.tasks.OnSuccessListener({
                    onSuccess: function (getTokenResult) {

[2019-01-29 17:05] Maxatma commented on #627
seems like firebase can't be used inside the framework, as soon we don't have these capabilities in it.

[2019-01-30 08:22] jannomeister opened #1125 "Migration from push-plugin to plugin-firebase"
Previously I used `nativescript-push-plugin` to handle push notifications in iOS. On my server I used `https://github.com/node-apn/node-apn` to send notification to iOS devices. `nativescript-push-plugin` works very well. But since the NS team deprecated it and they have a migration guide for  push-plugin to plugin-firebase, so I tried to implement it. I did some testing but I didn't receive any p

[2019-01-30 09:09] EddyVerbruggen commented on #1125
Sure. It's library-agnostic. Did you check out demo-push to see if you have all bits in place?

[2019-01-30 16:02] alexZaicev commented on #500
Any updates on the topic? I have tried to user onDisconnect() with set/update/remove, but it throws that omDisconnect is not a function...

[2019-01-30 16:13] EddyVerbruggen commented on #500
Indeed it isn't a function because it's not currently implemented (nor documented).

[2019-01-30 17:00] job111 opened #1126 "on using firebase facebook login are user email and password saved in firebase DB"
what am trying to achieve is
i want to be able to check if you user email and password already exist in firebase DB
if not user will be directed to a page where they a fill form

[2019-01-30 19:27] EddyVerbruggen opened #1127 "Add support for ML Kit's Natural Language and Language Identification"
New feature in the latest iOS SDK (and Android-only for now). See https://firebase.google.com/docs/ml-kit/ios/identify-languages

- [x] Bump latest SDKs
- [x] Implement these new ML Kit features

[2019-01-30 19:41] zalesak opened #1128 "Add support for "inverse" barcodes"
Please add scanning of inverse barcode - white code on black background.
It will be super to turn on or off this feature through configuration, or switch scanner to "inverse" mode.

[2019-01-30 20:41] EddyVerbruggen commented on #1128
What would that implementation look like? I mean, interpreting camera images is offloaded to ML Kit.

[2019-01-31 07:39] EddyVerbruggen commented on #1128
If you can preprocess the image and turn it into a 'regular' QR code then yeah.

[2019-01-31 08:03] EddyVerbruggen commented on #1125
So I guess you want me to look at your code?

[2019-01-31 08:04] jannomeister commented on #1125
Also, im not receiving a token using `registerForPushNotifications` or `getCurrentPushToken`.

[2019-01-31 08:07] jannomeister commented on #1125
I already allowed xcode push notification and added
[code]
in my info.plist

[2019-01-31 08:08] jannomeister commented on #1125
@EddyVerbruggen does `GoogleService-Info.plist` still needed for non-firebase push notification? because when I checked the demo-push for non-firebase push notif, I didn't see any GoogleService-Info.plist.

[2019-01-31 08:37] EddyVerbruggen commented on #1125
Can you share a repo instead of snippets?

[2019-01-31 09:15] jannomeister commented on #1125
the repo is hosted in gitlab and its a private repo :(

[2019-01-31 09:44] EddyVerbruggen commented on #1125
Two things:
- Make sure that entitlements file has the correct name and the reference in `build.xcconfig` is correct. This may be the case, I did not run your app nor did I check the config in Xcode
- More importantly, this https://github.com/jannomeister/test-push-notif/blob/71a7143cca82252d54a7de5cee56573c2cc4ff12/app/main.ts#L24-L55 overrides the appdelegate changes of the plugin! I don't see w

[2019-01-31 10:13] jannomeister commented on #1125
@EddyVerbruggen its because of the damn delegate! thank you so much!! you're a lifesaver :)

[2019-01-31 10:20] #1125 closed

[2019-01-31 21:26] RohanTalip opened #1129 "Separation of Environments doesn't appear to work for iOS"
I have both of these files:
- app/App_Resources/iOS/GoogleService-Info.plist.dev
- app/App_Resources/iOS/GoogleService-Info.plist.prod

I ran `tns platform remove ios` and then `tns platform add ios` to ensure that the correct files are copied.

Running `tns run ios --bundle` builds the iOS app and starts it in the simulator but the app crashes at this line:
[code]

When I rename app/App_Resources

[2019-02-01 09:43] FranciZ opened #1130 "FIRMessaging client not setup"
Get an occasional error on iOS.

`nativescript-plugin-firebase: 7.7.0`

also happens on previous versions.

[code]

[code]

[2019-02-01 09:46] FranciZ commented on #1130
Get an occasional error on iOS.

`nativescript-plugin-firebase: 7.6.1`

[code]

[code]

[2019-02-01 15:25] VladsGG commented on #1055
i'm experiencing this problem. whenever i install firebase it gets this error. using firebase v7.7.0

[2019-02-01 20:53] islam56naser commented on #839
I'm also having this issue is there any update on this ?

[2019-02-01 21:39] NeriCodec commented on #1057
This bug is present now, the method logout da : `undefined`

[2019-02-02 02:54] kunjee17 commented on #1055
Remove the admob and give it a try. It should work. Ad mob without ad mob id in configuration will fail.

[2019-02-02 11:50] fernandezmjm commented on #1008
hi @Ianc22
I just used what was stock by the plugin since everyone in the team needs to do it every time the plugin is installed. However, we sorted to using a decoder for the token just to get the claims.

@EddyVerbruggen
Thank you for the response also, maybe plugin update would be a great help as well as for the future users.

[2019-02-02 13:33] FranciZ commented on #1130
Removed node_modules and platforms and re-downloaded GoogleService-Info.plist which seems to have helped this issue.

[2019-02-02 13:33] #1130 closed

[2019-02-02 14:02] jerbob92 commented on #375
@faisal3389 We also had this issue, we fixed it like this:
[code]

You should do this after `require('nativescript-plugin-firebase');`

[2019-02-02 14:14] jerbob92 commented on #1039
For anyone reading this, the issue could also be another plugin overriding the app delegate.
See this issue I made in another plugin: https://github.com/mkloubert/nativescript-social-login/issues/69
It also contains a fix.

[2019-02-02 16:47] EddyVerbruggen commented on #1035
@fvci2015 Why do you combine the Firebase and AdMob plugins? The former contains all the features of the latter.

[2019-02-02 19:17] Ianc22 commented on #1008
Hey Eddy,

Not from what I can see, no. You have the
     getAuthToken()

method (which I've pasted above, with an ammended
    resolve({
        token: getTokenResult.getToken(),
        claims: getTokenResult.getClaims()
     });
There plugin only returns the token. We're also after the claims... Have a look here https://firebase.google.com/docs/reference/android/com/google/firebase/auth/GetToke

[2019-02-02 19:20] Ianc22 commented on #1008
hmm yeah we're not actually using the claims now as it stands....

[2019-02-02 19:41] EddyVerbruggen commented on #1008
I meant: instead of amending the local copy of the plugin, I'd be happy to merge a PR that adds this feature so you no longer have to 😉

[2019-02-03 19:02] Ianc22 commented on #1008
That would be awesome!! Thanks @EddyVerbruggen :) 👍

[2019-02-03 19:12] Ianc22 commented on #1008
Currently, we're amending the following:
For Android:
firebase.android.js: firebase_common_1.firebase.getAuthToken resolve with the following:

     resolve({
               token: getTokenResult.getToken(),
               claims: getTokenResult.getClaims()
      });

and for iOS
firebase.ios.js: firebase.ios.js replace
    user.getIDTokenForcingRefreshCompletion(arg.forceRefresh, onCompletion
wit

[2019-02-04 04:18] jmarlow4 opened #1131 ""Error: Unsupported browser""
I've set up a shared angular nativescript app with this firebase plugin and it builds and runs well, but when I make calls to AngularFireAuth, specifically with the signInAnonymously method, it never makes the call, and instead errors out "Error: Unsupported Browser."

I've tried retracing my steps during setup and I think I've done everything correctly. I've also tried searching if others have ha

[2019-02-04 09:13] oronoa commented on #637
Did someone find a solution for this question?

[2019-02-04 10:13] EddyVerbruggen commented on #637
Probably best to look at the docs for iOS and Android (https://firebase.google.com/docs/) and see if it's possible.

[2019-02-04 21:37] Mia12344 commented on #1063
i have still this issue how to fix this ?

[2019-02-05 08:48] amathos80 opened #1132 "addOnMessageReceivedCallback not fire with Message Data when app is closed (swiped)"
Hi, i have this problem with Message Data.
If application is in foreground or background (minimized) i can get the "addOnMessageReceivedCallback".

I am using Message Data because i don't wont automatic notification when app is in background (i am using local-notification plugin) and "showNotifications: false" in "firebase.init" not work for android.
Then i send all needed information in my custom

[2019-02-05 09:41] EddyVerbruggen commented on #1108
The question is clear, but the problem is not observed in my demo app.

What's the timeout set in your cloud function? Check https://console.cloud.google.com/functions/list?project=<your project>

Mine are set to 60 seconds.

Btw, [Googling the issue](https://www.google.com/search?ei=w1hZXLTrIo7TkgXDmYXwDQ&q=firebase+cloud+function+timeout+exception+android+deployment&oq=firebase+cloud+function+ti

[2019-02-05 09:50] EddyVerbruggen opened #1133 "Use Xcode's "Modern Build System" with NativeScript CLI 5.2.0+"
My NativeScript buddies fixed a long-standing Cocoapods issue that only seemed to surface with this plugin. With that fixed in 5.2.0 we can use the "Modern Build System" (introduced with Xcode 10) again. Before, I had to force using the "Legacy Build System".

[2019-02-05 09:53] #1133 closed

[2019-02-05 09:54] kanclalg opened #1134 "Custom logs for crashlytics"
Hi, I wonder if custom logs for crashlytics (https://firebase.google.com/docs/crashlytics/customize-crash-reports#ios) supposed to work in the latest plugin version?
I get it to work for android and seems like Crashlytics.log (https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/src/crashlytics/crashlytics.d.ts#L7) works as expected for android but on iOS I don't get any log

[2019-02-05 10:08] henriquecf commented on #1108
Hello Eddy. This is strange indeed. When I searched for this I thought this was not a plugin issue either, but I am not sure anymore. I think this has something to do with the socket connection between the functions server and plugin, but I am not sure either with this problem is ocurring here or in the APK. But it is happening constantly with me.

It returns a rejection about 10 seconds later say

[2019-02-05 10:15] EddyVerbruggen commented on #1108
Hi, I noticed a delay in the availability of the function directly after a deploy as well, but I didn't hit that 10 sec timeout yet. It would be useful for me to know if that timeout crashes the app, or is the promise simply rejected?

Not sure what to do about this. Perhaps the plugin could auto-retry upon a timeout..

[2019-02-05 10:20] henriquecf commented on #1108
I think I forgot to say about that. The function processing happens normally in the cloud function. It works as normal. Just the client that times out and returns a rejection.

[2019-02-05 10:21] henriquecf commented on #1108
But in some cases this lets me in a complicated situation, as I rely on the answer to suppose everything went fine, so my users finish up duplicating some actions.

[2019-02-05 10:32] kanclalg commented on #1134
It's documentated in this link under "Add custom logs" https://firebase.google.com/docs/crashlytics/customize-crash-reports#ios

[2019-02-05 10:50] EddyVerbruggen commented on #1134
Thanks. I doubt that macro is available on NativeScript. Can you try `console.log("CLS_LOG: " + CLS_LOG)`? In case you get a TypeScript error, add `declare const CLS_LOG: any`.

[2019-02-05 11:44] kanclalg commented on #1134
Yeah, I've already tried it before, it throws:
`ERROR ReferenceError: Can't find variable: CLS_LOG`.
Do you have any ideas how to wrap that macro so it would be accessible to nativescript?

[2019-02-05 12:10] EddyVerbruggen commented on #1134
I don't think you can, but I haven't extensively googled it. Perhaps we can use these alternatives: https://github.com/irccloud/ios/blob/master/Crashlytics.framework/Headers/CLSLogging.h

[2019-02-05 12:21] kanclalg commented on #1134
What do you have in mind exactly? None of these seems to be accessible.

[2019-02-05 12:48] EddyVerbruggen commented on #1134
OK, then it's not possible I guess. But the generated typings seem to suggest `logEvent` is a thing, so I'm not sure why your events aren't logged ☹️

https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/14d83d8cb881f197ec5a4009f0126286fed69041/src/platforms/ios/typings/objc!Crashlytics.d.ts#L154

[2019-02-05 13:00] kanclalg commented on #1134
`logEvent` is also missing from their official documentation here: https://firebase.google.com/docs/reference/ios/crashlytics/api/reference/Classes/Crashlytics#-recorderror
and looks like it's deprecated: https://github.com/irccloud/ios/blob/master/Crashlytics.framework/Headers/Crashlytics.h#L202
I'll try to use Answers. logCustomEventWithName they are referring.

[2019-02-05 13:03] EddyVerbruggen commented on #1134
Oh interesting, that would be `Answers.logCustomEventWithNameCustomAttributes("myEvent", null)` in NativeScript. Curious if that works!

[2019-02-05 13:22] kanclalg commented on #1134
Unfortunately, that doesn't work too :( In case you wonder how I test it, I'm logging multiple (3) events (using these functions, e.g  logCustomEventWithNameCustomAttributes, logEvent..) seperated by 2 seconds and after that I'm invoking `Crashlytics.sharedInstance().crash()` to force crash. Also tried to crash with non fatal like that `Crashlytics.sharedInstance().recordError(NSError.errorWithDom

[2019-02-05 17:16] galer88 opened #1135 "didReceiveMessage: not implemented"
Hi and thanks for an amazing plugin! I've implemented push notifications https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/MESSAGING.md on android and everything works fine. Now I try to do the same on iOS but unfortunately I have some problems.

I tired your culr example requests https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/MESSAGIN

[2019-02-05 18:55] EddyVerbruggen commented on #1135
Perhaps there's something wrong initializing the plugin, because that method is actually wired by the plugin:

https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/794467a9d72b66247c1343eee3a7665c6b00306c/src/messaging/messaging.ios.ts#L616

Can you share a repo and an example of the exact CURL command?

[2019-02-06 09:09] EddyVerbruggen commented on #1127
Hmmkay, so both iOS and Android have build issues. Let's wait a little.

[2019-02-06 09:14] EddyVerbruggen commented on #1127
I'll leave the SDK bumps in here though.

[2019-02-06 09:42] preethijayanthi commented on #72
How to use this plugin in app level gradle ?

[2019-02-06 10:08] #1113 closed

[2019-02-06 10:56] Zampa98 opened #1136 "How to show push notifications when app in foreground?"
I can't show push notifications in my Android app when is in foreground. It work only when it is in background or when the phone is locked.

[2019-02-06 11:02] EddyVerbruggen commented on #1136
Did you try [this](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/MESSAGING.md#always-show-notifications-when-the-application-is-in-foreground)?

Depends a bit on the Android version though.

[2019-02-06 11:08] Zampa98 commented on #1136
No, I'm using [this](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/NON_FIREBASE_MESSAGING.md)

[2019-02-06 11:09] EddyVerbruggen commented on #1136
OK, have you tried setting `showNotificationsWhenInForeground` (see the doc you linked to)?

[2019-02-06 11:16] Zampa98 commented on #1136
Yes, I done it.
this is my code, but does not work.
`Firebase.getCurrentPushToken().then((token: string) => console.log(Current push token: ${token}));
        Firebase.registerForPushNotifications({
            showNotificationsWhenInForeground: true,
            onMessageReceivedCallback: (message: Firebase.Message) => {`

[2019-02-06 11:23] EddyVerbruggen commented on #1136
Oh, wait, that's an iOS-only property according to that documentation. I got this mixed up with the local notifications plugin where it's actually possible on Android: https://github.com/EddyVerbruggen/nativescript-local-notifications/blob/9e40c06a5112164536cd2b3d4e8a5f4a4dfbe902/native-src/android/app/src/main/java/com/telerik/localnotifications/Builder.java#L61

I guess you currently can't with

[2019-02-06 11:37] Zampa98 commented on #1136
8.0.0

[2019-02-06 11:48] Zampa98 commented on #1136
what i have to do?

[2019-02-06 11:57] EddyVerbruggen commented on #1136
What do you mean? Wait for someone to pick this issue (probably me), or show a custom notification when a notifications is received on Android when the app is in the foreground? Perhaps with nativescript-toast, or nativescript-local-notifications.

[2019-02-06 12:51] Zampa98 commented on #1136
sorry, I wait yuor solution

[2019-02-07 00:21] job111 opened #1137 "how to get a single FieldValue"
am trying to check a FieldValue and see if it exists or not

[2019-02-07 07:18] EddyVerbruggen commented on #1137
So what have you tried already?

[2019-02-07 11:04] solvemon opened #1138 "arrayUnion with objects produces null values"
First of all, thanks for a fantastic library!

I am having some trouble updating an array in my document, using arrayUnion;

**note**: Just to test the two different versions of the API, I am doing the update operation twice. My imports are as follows:
[code]

When I attempt to update my array using a primitive (I have tested string and number), it seems to work fine:
[code]
My updated fb store vi

[2019-02-07 16:19] EddyVerbruggen opened #1139 "Migrade Android gradle 'compile' to 'implementation'"
`compile` is deprecated and supposedly is removed sometime soon.

[2019-02-07 16:20] EddyVerbruggen commented on #1139
Also, remove a script that bumps gradle from `com.android.tools.build:gradle:3.2.0` to `3.2.1` as NativeScript is moving to `3.3.x` soon, and the bump doesn't seem needed anyway (it was an experiment for Fabric/Crashlytics compatibility).

[2019-02-07 16:22] #1139 closed

[2019-02-07 17:21] job111 commented on #1137
i tried everything but nothing seems to be working

[2019-02-07 17:24] jmarlow4 commented on #1131
No one knows what's causing this?

[2019-02-07 18:06] EddyVerbruggen commented on #1131
Is it because you’re using the plugin through angularfire?

[2019-02-07 18:32] CaptainDingle commented on #1008
@Ianc22  - For me, changing to:

`user.getIDTokenResultForcingRefreshCompletion`

is still returning just the token as a string on iOS. It is not returning the Result object that we normally get in the web API that has the custom claims. It seems to be working for you - did I miss something?

[2019-02-07 19:40] jmarlow4 commented on #1131
I am using @angular/fire, yes... is that a no-no?

[2019-02-07 20:20] EddyVerbruggen commented on #1131
At the moment you can’t use that. Just stick to the native api or web api documented in the readme.

[2019-02-07 21:55] #1131 closed

[2019-02-08 00:51] #1126 closed

[2019-02-08 01:49] ctacosta commented on #887
I can confirm I am having the exact same issue.

I found I was able to get the processed text using MLKitTextRecognition custom element in live view via the scanResult event

then accessed the  processed text using the passed in event object

eventObject.value.text;

using the recognizeTextOnDevice function seems to give that android error.

[2019-02-08 02:11] job111 commented on #1137
I'm going to close this issue since i managed to solve the problem

[2019-02-08 02:11] #1137 closed

[2019-02-08 13:49] yassipad commented on #1039
Hi @jerbob92 and thanks for the advice :) I managed to get it to work by removing the social-login plugin entirely, so it is definitely a conflict between those two. How did you get both working at the same time? What version of nativescript-social-login are you using?

Thanks :)

[2019-02-08 13:53] jerbob92 commented on #1039
@yassipad You can find the fix in https://github.com/mkloubert/nativescript-social-login/issues/69
The trick is to use that piece of code instead of the code given in the readme ( https://github.com/mkloubert/nativescript-social-login#typescript )

[2019-02-08 14:00] yassipad commented on #1039
thanks for the quick answer! i did exactly that, however, when i do, i always get the "invalid GoogleService-Info.plist" error...

[2019-02-08 14:01] jerbob92 commented on #1039
Hi @yassipad, I think that error is unrelated to the bug I had.

[2019-02-08 14:03] yassipad commented on #1039
well, i don't get that error without the nativescript-social-plugin so that's why i was asking for the version you're using

[2019-02-08 14:05] jerbob92 commented on #1039
Firebase 7.6.0
Social-login 4.0.1

[2019-02-08 15:17] yassipad commented on #1039
well nothing works, i just can't load both of them :/ thanks for your help anyways :)

[2019-02-08 19:08] rafaelcmrj commented on #1080
Any idea when the `updateEmail` method will be implemented?

[2019-02-09 13:18] EddyVerbruggen commented on #1080
@kunjee17 Changing a password is supported: https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/b833b1bee77b0f30217af14c1902ad76d6b543ad/docs/AUTHENTICATION.md#changing-a-password

[2019-02-09 14:13] kunjee17 commented on #1080
Thanks @EddyVerbruggen

[2019-02-09 17:22] EddyVerbruggen commented on #1138
Very good question actually.

I have only seen examples where primitives are used (as in your first example). Same for the official docs. So that's why the plugin doesn't expect an object.

I'd love to add it but I need to look at a working example of the web api or the Java / ObjC versions. Are you able to find one?

[2019-02-09 22:19] RohanTalip opened #1141 "Firestore Timestamps are being returned as Dates"
Hi,

I'm using version [7.7.0](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/releases/tag/7.7.0) of nativescript-plugin-firebase (in JavaScript, not TypeScript) for an iOS app and I'm seeing Firestore Timestamps being returned as Dates.  These are fields that are being returned as Timestamps in my web app, but when using this plugin (and indirectly, the iOS Firebase SDK), they are

[2019-02-09 23:20] EddyVerbruggen commented on #1141
Hi, not too sure what’s wrong here. Is the Date incorrect / do you lose precision?

[2019-02-09 23:58] rafaelcmrj commented on #1080
@EddyVerbruggen any idea for the `updateEmail` method?

[2019-02-10 08:54] RohanTalip commented on #1141
Well, the main issue is the difference in data types, which means the methods available on those data types are different (I was trying to reuse code between my web app and the iOS app).  I can work around it, but I'd prefer not to, particularly if it's all going to change soon anyway.

The [Firebase iOS Release Notes](https://firebase.google.com/support/release-notes/ios) mention this for version

[2019-02-10 08:57] EddyVerbruggen commented on #1141
8.0.0 will probably on npm in about a week. But whatever the native sdk returns doesn’t matter as the plugin will translate it to JS Dates anyway. So AFAIK you should just ignore all that. To remain backward compatible I intend to not change the type at all. Does that make sense?

[2019-02-10 08:58] RohanTalip commented on #1129
I should point out that I don't have Android enabled or configured for this project, which is why something like pull request #1140 is necessary.

[2019-02-10 08:59] EddyVerbruggen commented on #1141
Btw, if the web api (now) returns a timestamp, I may be tempted to do that for the web api of this plugin as well.

[2019-02-10 09:25] RohanTalip commented on #1141
Great re: version 8.0.0 being on npm in about a week!

If you are referring to the [Firebase JavaScript SDK](https://firebase.google.com/support/release-notes/js), then yes, as of version 5.8.0 (released January 17th, 2019) the default is now to return Timestamp objects instead of Date objects.

See also https://firebase.google.com/docs/reference/js/firebase.firestore.Settings#~timestampsInSnapsho

[2019-02-10 16:20] EddyVerbruggen commented on #1080
@rafaelcmrj I've just added `updateEmail`, [check out the doc](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/a749960738998964fa8ce3c8cb4134921dbf6bd1/docs/AUTHENTICATION.md#updating-an-email-address).

I've also aligned this a bit better with the Web API:
- `changePassword` is now `updatePassword`
- added `updateEmail`
- `resetPassword` is now `sendPasswordResetEmail`

Will b

[2019-02-10 16:20] #1080 closed

[2019-02-11 05:55] solvemon commented on #1138
Yes, I am using the web API on a web application to do something similar, and that seems to be working fine:

[code]
I can't share much more of my code due to IP, but it should be fairly easy to test this out in a FB connect web application.

[2019-02-11 07:14] EddyVerbruggen commented on #1138
Thanks, can you also share how that's stored (a screenshot from the FB console)?

[2019-02-11 07:25] solvemon commented on #1138
Sure, the results are as expected in the console:
![image](https://user-images.githubusercontent.com/5978195/52550025-8a6a8a00-2dd6-11e9-8a5c-b5b29b154bfb.png)

[2019-02-11 10:58] EddyVerbruggen commented on #1138
Thanks for those details, that really helped. Pretty sad I can't find any official example of using an object with `arrayUnion`, but anyway: got it fixed!

On iOS it already worked as expected by the way.

Available in 8.0.0 which will be out later this week(end).

[2019-02-11 10:58] #1138 closed

[2019-02-11 11:43] solvemon commented on #1138
Brilliant, thank you so much! I will keep an eye open and update when the new version comes out, and report back!

[2019-02-11 18:49] mshanak commented on #1136
To make the notification works in foreground and background, you need to format the push message ( not this plugin ) correctly.

as explained in the FCM [documentation](https://firebase.google.com/docs/cloud-messaging/concept-options), you need to have two attributes in the message ``notification`` key and the ``data`` key
The ``notification`` key is used when the app is in the background, and the

[2019-02-11 18:50] mshanak commented on #1124
To make the notification works in foreground and background, you need to format the push message ( not this plugin ) correctly.

as explained in the FCM [documentation](https://firebase.google.com/docs/cloud-messaging/concept-options), you need to have two attributes in the message ``notification`` key and the ``data`` key
The ``notification`` key is used when the app is in the background, and the

[2019-02-11 18:51] mshanak commented on #1032
To make the notification works in foreground and background, you need to format the push message ( not this plugin ) correctly.

as explained in the FCM [documentation](https://firebase.google.com/docs/cloud-messaging/concept-options), you need to have two attributes in the message ``notification`` key and the ``data`` key
The ``notification`` key is used when the app is in the background, and the

[2019-02-11 18:55] yassipad commented on #1039
Alright so for anyone facing the same issue, i finally managed to get it to work: as i suspected, the issue was due to the - deprecated - "Google/SignIn" pod installed by social-login that automatically requires Firebase/Core, thus making the firebase-plugin believe that firebase should be configured when requiring it:
[code]

The solution for me was to replace **pod 'Google/SignIn'** by **pod 'Go

[2019-02-11 19:10] tirsomartinezreyes commented on #1041
Hi @EddyVerbruggen and @MrCalamitus

To avoid the "Waiting for the face detection model to be downloaded. Please wait." infinite console log, you can add the face model as dependency into gradle (I did it on app.gradle):

[code]
I notice after install and select face and label features to be use, the plugin includes model for label , but don't includes face detection model.

![image](https://user-

[2019-02-11 19:18] tirsomartinezreyes commented on #1041
I think the face option is missing on

https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/12dc2e99df9ab269de0939aefd13f6d64b7875bb/src/scripts/postinstall.js#L4952

[2019-02-12 11:10] EddyVerbruggen commented on #887
I just update the doc and demo-vue app to show how to embed ML Kit on Android. Hope that helps.

[2019-02-12 11:10] #887 closed

[2019-02-12 14:02] shilik commented on #887
Thank you Eddy, you save my day.

[2019-02-12 14:51] edusperoni commented on #1129
I'm not sure that PR would work correctly. I was going to do a PR some time ago but things came up and I never got the time. The current behavior copies the google play services only on env change on iOS (so building debug and then release would copy it correctly). I wrote a possible fix but didn't get the time to properly test it: https://github.com/EddyVerbruggen/nativescript-plugin-firebase/iss

[2019-02-13 06:39] Shunmugathangam commented on #817
custom sound works as expected on >8, if we create notification channel, when send a message the
notification message json should have the channel id.

https://developer.android.com/training/notify-user/channels
https://firebase.google.com/docs/cloud-messaging/concept-options
https://firebase.google.com/docs/cloud-messaging/http-server-ref

add the below code in your app.componet.ts

import { isAn

[2019-02-13 09:35] valeraf opened #1143 "Build with --release flag"
Hello Eddy,
Would like to ask if you have an idea on the problem:
Getting error _ Can't** find variable: FIRApp_, when I use *--release* flag.

Running on Simulator IOS 12.1

`
"dependencies": {
    "@angular/animations": "~5.2.0",
    "@angular/common": "~5.2.0",
    "@angular/compiler": "~5.2.0",
    "@angular/core": "~5.2.0",
    "@angular/forms": "~5.2.0",
    "@angular/http": "~5.2.0",
    "@

[2019-02-13 21:42] silaspedrosa commented on #611
Unfortunately, I'm facing similar problems here.

[2019-02-15 08:22] gbonline opened #1144 "rpc_requester warning with latest version"
Hi, I'm having some warning on a new basic app to learn to use the firestore db: I've used the latest nativescript version 5.2 with the latest firebase-plugin, as you can see on the terminal output below,
the app was build with the simple command `tns create firestoredemo --ng`
My system is a imac with Mojave 10.14.3
then I've added the firebase plugin and configured for firestore as in the follow

[2019-02-15 08:48] EddyVerbruggen commented on #1144
I guess this warning can be ignored. I don't have control over what Xcode wants to throw as warnings that originate from the Firebase SDKs..

[2019-02-15 08:48] #1144 closed

[2019-02-15 09:05] Frederiks96 commented on #382
I had this problem as well, checked the provisioning profile validity, added the required background modes in the `Info.plist`, added entitlements to the `AppName.entitlements` and placed it in the right folder. My setup is using NativeScript-Vue with Typescript and I have come to the conclusion that the Typescript import `import Firebase from "nativescript-plugin-firebase";` doesn't seem to work

[2019-02-15 09:13] EddyVerbruggen commented on #382
Thanks for sharing that, @Frederiks96 - I hope the docs in this repo make this clear as well (user require instead of import because the latter gets removed bt the TS transpiler if the import is not used). Cheers!

[2019-02-15 09:17] Frederiks96 commented on #382
Thanks for the reply @EddyVerbruggen, I must have missed that then.. My mistake.. But could it be that the import is case sensitive? I imported `Firebase` (with a capital F) instead of `firebase` - I am new to Typescript/JS (coming from native iOS), so I am figuring it out as I go..

[2019-02-15 09:30] LanceSamaria commented on #658
was you able to resolve this issue? I'm currently experiencing it now

[2019-02-15 11:00] LanceSamaria commented on #658
For the blank re-captcha page issue I was able to resolve it by doing these 2 things:

1st thing-

1. In the project navigator select the `blue project icon`

2. Select `Capabilities`

3. Open `Background Modes`

4. Select `Background fetch`

2nd thing-

5. Before verifying the phone number call `PhoneAuthProvider.provider(auth: Auth.auth())`

[code]

[2019-02-15 11:37] EddyVerbruggen commented on #382
No worries mate. The import depends a bit on what parts of the plugin you want to use. The demo apps in this repo show several alternatives. But as you found out, the import in the entry component (main.ts / app.ts) must be `require` unless you also use the import on that page.

[2019-02-15 18:25] reedkellen opened #1146 "Feature Request - Passing State in Email Actions"
Would it be possible to update the *sendEmailVerification* method (https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/AUTHENTICATION.md) to accept an argument similar to what is documented here (https://firebase.google.com/docs/reference/js/firebase.User#sendEmailVerification)?

I would like to be able to direct users back to the native app with a dynamic link after th

[2019-02-15 21:58] mosesweb commented on #944
@edusperoni thanks for the links. I did this, seems to work great. Just have a property you set if you should init firebase.
`
export class AppComponent implements OnInit {

  shouldFireBaseInit: boolean = true;
  constructor()
  {

  }
ngOnInit(): void {
    //Called after the constructor, initializing input properties, and the first call to ngOnChanges.
    //Add 'implements OnInit' to the class

[2019-02-16 23:52] Socha17 opened #1147 "Realtime"

[2019-02-16 23:53] #1147 closed

[2019-02-17 00:00] Socha17 opened #1148 "Realtime Database transaction error"
Been trying to get transactions working with real time database, but Ive been getting this error
`JS ERROR TypeError: undefined is not a function (near '...firebase.transaction...')`

This is my code
[code]
Ive tried both native API and web API
I also tried on both ios and android emulators, both crash with this error.

if anyone has any ideas, any help would be greatly appreciated thanks!

[2019-02-17 05:22] VladsGG commented on #1137
how did you solve it? please provide code. thanks!

[2019-02-17 12:51] ShyshkovOleg opened #1149 "Image for push notification using FCM. #Android, #help wanted"
Hi, Eddy.
I need some help to customize push notification on Android, using own backend.
The minimum task is to achive the second result, as shown on the photo(It's push notification from NS plugin showcase app). Basically I'm strugling to insert Image to push notification(the third one is mine). I've tested it with Postman and with different payload, but with out success. Is it possible with this

[2019-02-17 19:57] #1068 closed

[2019-02-18 03:01] jingjiewei commented on #858
got this error under
`
        "@angular/animations": "~7.1.0",
        "@angular/common": "~7.1.0",
        "@angular/compiler": "~7.1.0",
        "@angular/core": "~7.1.0",
        "@angular/forms": "~7.1.0",
        "@angular/http": "~7.1.0",
        "@angular/platform-browser": "~7.1.0",
        "@angular/platform-browser-dynamic": "~7.1.0",
        "@angular/router": "~7.1.0",
        "native

[2019-02-18 08:17] EddyVerbruggen commented on #1148
Please share a repo that shows the error and reopen. I can't run snippets on my phone. Thanks!

[2019-02-18 08:17] #1148 closed

[2019-02-18 17:05] JuanDeLeon opened #1150 "Not receiving FCM push notifications on iOS, but can receive from APNS"
Hi, I'm running on iOS device.
The **onPushTokenReceivedCallback** is returning 2 different tokens, one for APNS and another one for FCM.

If I use the Pusher tool on Mac, and use the APNS token, I do get the notification on device, but **onMessageReceivedCallback** is not executed.
However if I use the FCM token, the curl returns a **success** which means the device token is actually registered,

[2019-02-18 18:50] #1008 closed

[2019-02-18 19:31] EddyVerbruggen commented on #1008
Thanks for the PR! @CaptainDingle I've streamlined the API a little, so there's no difference on iOS and Android anymore when 'getting' the claims. See https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/9751c7fa1218ab8a76115b04d834192ff08c9ba1/docs/AUTHENTICATION.md#getauthtoken

Note that the signature of this method has slightly changed consequently, but as I'm about to cut the

[2019-02-18 21:21] CaptainDingle commented on #1008
Thanks so much @EddyVerbruggen, your way is much more streamlined. Thanks to @Ianc22 for pointing me in the right direction originally. Thank you for this firebase plugin and your fingerprint and secure storage plugins. I appreciate your work very much and we will try to contribute whenever we can in any way. Thanks again.

[2019-02-19 07:24] TweroDev opened #1151 "No valid 'aps-environment' entitlement string found for application on iOS10+"
I'm developing an in-house (enterprise) app with Nativescript-Vue and using this plugin to deliver the push notifications. Everything works as expected on Android and iOS 9, but on iOS 10 and above I get the following error:

`Error in application: didFailToRegisterForRemoteNotificationsWithError: no valid 'aps-environment' entitlement string found for application`

The funny thing is that the ent

[2019-02-19 07:30] EddyVerbruggen commented on #1151
Share a repo reproducing this please.

[2019-02-19 07:32] pabloislive commented on #1151
Sorry, forgot to say that it's a commercial app and I'm not allowed to share the full code, can I provide you with some specific part?

[2019-02-19 07:32] TweroDev commented on #1151
Sorry, forgot to say that it's a commercial app and I'm not allowed to share the full code, can I provide you with some specific part?

[2019-02-19 07:35] EddyVerbruggen commented on #1151
Yes, a repo that isolates the issue.

[2019-02-19 08:03] konradkluzniak commented on #456
Hi @mikelinden1
You said: "I was able to check if a user has opted into notifications"
How did you do this ?
Thanks.

[2019-02-19 08:05] TweroDev commented on #1151
@EddyVerbruggen I've created a private repo with the bare minimum to reproduce the issue and made you collaborator https://github.com/TweroDev/nativescript-firebase/invitations

I've deliberately deleted the app/App_Resources/Android/google-services.json and app/App_Resources/iOS/GoogleService-Info.plist files.

Thanks for your help, man!

[2019-02-19 08:23] EddyVerbruggen commented on #1151
Thanks, I'll open an issue there and report back here if there's something relevant to report. Thx!

[2019-02-19 08:23] #1151 closed

[2019-02-19 12:01] Ianc22 commented on #1008
Thanks @EddyVerbruggen for sorting this out. Funnily, the timing couldn't have been better. This morning got to a point where we need the claims for rules on the storage so the commented out code requesting the claims are now re-included. Will be doing some testing ;) And I concur with @CaptainDingle, all much appreciated!

[2019-02-19 14:28] #1134 closed

[2019-02-19 15:51] TweroDev commented on #1151
@EddyVerbruggen I've tried with two more devices and it works perfectly. Apparently there's some problem with the test device I was using.
Thank you for your time and for your good work, mate!

[2019-02-19 16:18] edusperoni commented on #944
@mosesweb I think you @ the wrong person :P

To shed a light into this issue, it does seem that firebase keeps running (and initialized) after all of angular dies. This IS an issue as it may not bind the new event listeners if you call them on init (your `this` WILL NOT point to the current instance).

Turns out we never faced it before because I've always used the "addcallback" methods, like `add

[2019-02-19 16:22] Zampa98 opened #1152 "Validation phone number doesn't work on ios"
In my nativescript angular project validation phone number doesn't work on ios, but on android it works well.
this is the respons error:
`firebase.js:677 Error: Please register custom URL scheme 'com.googleusercontent.apps.243326938295-m7dcm1t05cpule7olnchkpo0m9hcjev6' in the app's Info.plist file.`

[2019-02-19 16:33] EddyVerbruggen commented on #405
@JillevdW Looks like this is fixed in plugin version 8.0.0 (out soon). The order in the JSON object is now as specified as in the `orderBy` clause (on Android this was already the case), and I've added a new `children` property to the result object which is an array. Docs updated.

[2019-02-19 16:33] #405 closed

[2019-02-19 16:58] nicolocaruso85 opened #1153 "Fatal error using MLKitBarcodeScanner"
Using the component MLKitBarcodeScanner, if the use don't allow access to the camera, app crash with error "Cannot use Back Camera"

[2019-02-20 14:09] smelliott100 commented on #1088
I too would like to specify additional scopes with google auth.  I understand you can add additional scopes with he [standard firebase plugin ](https://firebase.google.com/docs/auth/web/google-signin).  But how do you add additional scopes with this plugin?

[2019-02-20 14:41] GrEg00z commented on #999
I have the same problem, with Android (didn't try with iOS), while using :
- Nativescript 4.2.4
- tns-core-modules : 4.2.1
- tns android : 4.2.0
- nativescript-plugin-firebase : 7.2.0

Here is my implementation of the method :
[code]

Did you find a solution for this ?

[2019-02-21 20:16] acrollet commented on #641
I've created a PR at https://github.com/EddyVerbruggen/nativescript-plugin-firebase/pull/1154 that allows getting query snapshot metadata. I don't think it meets all the needs here but it could be something to build on...

[2019-02-21 20:55] arxpoetica commented on #359
These tips should be documented, particularly this: https://github.com/EddyVerbruggen/nativescript-plugin-firebase/issues/359#issuecomment-303953577

[2019-02-22 08:10] ibnYusrat commented on #892
What if someone is not using realtime db?

[2019-02-22 08:11] EddyVerbruggen commented on #892
@ibnYusrat Set it to `false`, and if that leads to an error then please share a repo with me so I can take a look.

[2019-02-22 10:22] xapprika commented on #923
same problem too

[2019-02-22 14:34] DscCalabar commented on #1008
Hello,  I'm new to firebase. I'm working on a web app and I need to manage user state from one page to another,  when I sign-up or login from a form, I get the user state on that page but if I navigate to another page I loss the user*the user will no longer be logged in*, please can I get help,  thanks

[2019-02-22 16:56] zalesak commented on #1128
Can you add preprocess hook to getImage method? And add option to configuration i.a. - imagePreprocesesMethod.
Then it will be possible to create preprocessor for image source, there is plugin which can invert image https://github.com/bradmartin/nativescript-image-filters

[2019-02-22 17:32] EddyVerbruggen commented on #1128
Sounds nice, would you like to give it a try?

[2019-02-22 19:00] zalesak commented on #720
I hope this is fix:
In file mlkit-cameraview.android.js, line 243 replace with this:
var diff = Math.abs((size.width / size.height) - (pict.width / pict.height));

it compute preview/picture pair with the closest aspect ratio.

[2019-02-22 23:08] arxpoetica commented on #751
@EddyVerbruggen bump on this. I would like to open a PR on this so that I can do something other than an prompt to enter a code—I'd like to build out my own page that's a better UI for this sort of thing. Thoughts?

[2019-02-23 05:01] max-pro opened #1155 "onMessageReceivedCallback not work in background"
Hello All,
I'm using nativescript-vue. I used firebase plugin for push notifications and on onMessageReceivedCallback I called local push notifications plugin function to add image. Everything is fine if app is open but when I closed app the only firebase default notification show didn't get local notification with image. After clicked on default notification app open I get local notification with

[2019-02-23 13:46] zalesak commented on #1128
so actually i`ve made it for Android.
I added simple paramater for tag MLKitBarcodeScanner and bind custom service to preprocess byteArray from camera frame.
Preprocess has to be implemented in custom java class because of speed, but it is just simple "bitwise NOT" on byteArray,

I see here two ways how this could be made in plugin:
1. custom preprocessor service, but it will be harder to implemen

[2019-02-23 17:28] EddyVerbruggen commented on #1128
Hey @zalesak, that sounds good!

I guess adding an optional `boolean` property `supportInverseBarcodes` would be more clear. Internally we can check every nth frame. Would that work, you think?

[2019-02-24 18:54] vijay1903 commented on #923
I guess for notifications on IOS you need an apple developer account.

[2019-02-24 21:27] EddyVerbruggen commented on #1129
@RohanTalip Thanks, I've merged that PR, and also thanks to @edusperoni, I've added your proposed patch. Let's see with 8.0.0 how this pans out.

[2019-02-24 21:27] #1129 closed

[2019-02-25 09:15] #737 closed

[2019-02-25 09:32] EddyVerbruggen commented on #1153
Is this on iOS and/or Android?

[2019-02-25 09:33] nicolocaruso85 commented on #1153
Only on iOS

[2019-02-25 09:37] GrEg00z commented on #1113
After many months without any logs on crashlytics, your solution finally worked for me !!!
Thanks @EddyVerbruggen

[2019-02-25 15:49] Dawqss commented on #1153
Error log, it occurs when camera access is unavailable

`JavaScript error:
file:///app/tns_modules/nativescript-plugin-firebase/mlkit/mlkit-cameraview.js:50:81: JS ERROR NSErrorWrapper: Cannot use Back Camera
Task <7258805C-B218-4F93-A4A7-B3EE54CEFAB3>.<25> received response, status 201 content K
*** JavaScript call stack:
(
0   UIApplicationMain@[native code]
1   start@file:///app/tns_modules/tns

[2019-02-25 20:32] nuno-morais commented on #1150
@EddyVerbruggen

[2019-02-25 20:54] EddyVerbruggen commented on #1146
Thanks for requesting this! I've added the required code to 8.0.0 (trying to release that to npm tomorrow). Docs updated already: https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/AUTHENTICATION.md#sendemailverification

[2019-02-25 20:54] #1146 closed

[2019-02-25 22:12] zalesak commented on #1128
OK I have it done for both IOS and Android platgorm. I tried to email you patch but mail in your profile not work.

[2019-02-25 22:24] EddyVerbruggen commented on #1128
Please use the PR workflow instead. GitHub has great tutorials on Pull Requests and other Git workflow stuff. Thx!

[2019-02-26 09:18] EddyVerbruggen commented on #1153
Hi, I've wrapped that logic in a try-catch, and the problem is gone. Available real soon in 8.0.0.

[2019-02-26 09:18] #1153 closed

[2019-02-26 09:22] EddyVerbruggen commented on #1153
Just confirmed, this did not happen on Android.

[2019-02-26 09:30] mbajaria commented on #793
I am getting same error on buidling app
Execution failed for task ':app:transformClassesWithMultidexlistForProdRelease'.

Environment
react-native-cli: 2.0.1
react-native: 0.56.0

My **build.gradle** is

buildscript {
    repositories {
        google()
        jcenter()
    }
    dependencies {
        classpath 'com.android.tools.build:gradle:3.1.3'
        classpath 'com.google.gms:google-servi

[2019-02-26 09:47] tonyhogben opened #1156 "Android - DOCUMENT ERROR: com.google.gson.JsonSyntaxException: java.lang.IllegalStateException"
Hi,

I have just made a small update in my project from a year or two ago and the iOS version is working fine, but the Android version is erroring when it attempts to communicate with Firebase (registering and subscribing).

My Project:
[code]

Error:
[code]

[2019-02-26 15:47] EddyVerbruggen commented on #1156
Would you mind sharing a project reproducing this issue? It's a bit hard to tell what's going on without the actual code..

[2019-02-26 15:57] tonyhogben commented on #1156
Hi Eddy, sure... https://mtstudios.digitalpigeon.com/msg/omiiQDneEemx8gYtQsGbAw/57ZVIoJv92RlmQxG09IzXg/file/a298b2f0-39de-11e9-b1f2-062d42c19b03/download# - WSM - Whole-School-Meals-Update.zip (thank you)

[2019-02-26 17:19] EddyVerbruggen commented on #1156
Thanks, what do I do to reproduce the issue? Exact steps please :)

[2019-02-26 17:39] tonyhogben commented on #1156
Launch the app and select a school. It should then fail when trying to
subscribe you to a school. Once in the app, use the settings to select and
u select schools, clicking done will unsubscribe and subscribe you. The log
shows the subscription events.

Thanks Eddy.

On Tue, 26 Feb 2019 at 17:19, Eddy Verbruggen <notifications@github.com>
wrote:

--
Tony. (Sent from my phone so please forgive brev

[2019-02-26 20:44] EddyVerbruggen commented on #1156
@tonyhogben I ran the app and it crashed with the exception you mentioned immediately. I have no idea where that originates from without spending a lot of time debugging it. I'd really rather see a new app with the plugin added and the code to crash it. Hope that makes sense.

[2019-02-26 20:44] #1156 closed

[2019-02-26 23:52] guibot17 commented on #1087
I'm having similar issue when trying to preview my app on my android device:

`TypeError: Cannot read property 'FirebaseAnalytics' of undefined
File: "file:///data/data/org.nativescript.preview/files/app/vendor.js, line: 19306, column: 42

StackTrace:
        Frame: function:'runInit', file:'file:///data/data/org.nativescript.preview/files/app/vendor.js', line: 19306, column: 43
        Frame: fun

[2019-02-27 10:04] tonyhogben commented on #1156
I undertstand :(

Gutted as I only needed to make a text change in an unrelated part of the app!

[2019-02-27 14:21] belizar commented on #1033
@EddyVerbruggen
This plugin works with the preview app?
Is my first nativescript app and no understand some things

[2019-02-27 14:47] EddyVerbruggen commented on #1033
@belizar Like I said: it's *not* part of the Preview app, so you can't use that.

[2019-02-27 18:12] cecrs opened #1157 "arrayRemove on Android needs the same fix as arrayUnion"
arrayUnion was fixed here (grazie mille!) : #1138

Exact same fix is needed for arrayRemove on android. (Already works as expected on ios) PR to come.

[2019-02-27 20:36] EddyVerbruggen commented on #1087
@guibot17 I can't help without you sharing the erroneous project.

[2019-02-27 20:46] #1157 closed

[2019-02-28 03:21] acrollet opened #1159 "https callable function - uncatchable error"
Hi there,

when using an https callable function, if there is a network error, the entire app will crash with this error:

`*** Terminating app due to uncaught exception 'NativeScript encountered a fatal error: ReferenceError: Metadata for "FirebaseFunctions.FIRFunctionsErrorDomain" found but symbol not available at runtime.
`

It is not catchable in the application code. It's easy enough to repro

[2019-02-28 08:04] guibot17 commented on #1087
@EddyVerbruggen I'm just using the sidedrawer from the playground, with a few texfields added to the home page; nothing else.
I followed the instruction as you directed and mark all the entries yes expect for the ios because I'm on windows.
Upon installing the plugin, I wanted to see if could finally write some data to firebase. Unfortunately, I was getting this error when trying to launch the pre

[2019-02-28 08:05] EddyVerbruggen commented on #1087
@guibot17 Are you running the plugin inside the Preview app?

[2019-02-28 08:21] EddyVerbruggen commented on #1159
Thanks for the clear error report! I've removed the unnecessary `FIRFunctionsErrorDomain` check and verified the app no longer crashes.

[2019-02-28 08:21] #1159 closed

[2019-02-28 20:18] guibot17 commented on #1087
@EddyVerbruggen Well, I run the code and use the Preview app to see the result on my android.

[2019-02-28 21:08] EddyVerbruggen commented on #1087
I understand, but the Preview app ships with a number of plugins, and this is not one of them.. so indeed that doesn’t work.

[2019-02-28 21:08] #1087 closed

[2019-02-28 23:25] ceht commented on #845
Facing the same problem I  fixed it by deleting platform, then I ran the firebase command config again, I deleted the node modules, run npm install and finally I installed platform again, after that the plugin worked fine.

[2019-03-02 12:36] alexiej opened #1160 "Cannot read property 'vision' of undefined"
Hi

When I try run ,
`npm run setupandinstall (just skip through the plugin y/n prompts you'll get as those are ignored in this case)` I've got error on Windows machine `.' is not recognized as an internal or external command,`, so I decided to use Vue.js firebase example.

I tried to use nativescript with the mlkit image recognition but it doesn't work :(.
When I try run the code:

[code]
I've go

[2019-03-02 18:28] Araknos opened #1161 "Few errors"
Hello !
I would like to create a new project web/mobile with nativescript/angular/firebase. I followed all steps but I got this stack when doing ng serve:

I saw this issue: https://github.com/NativeScript/NativeScript/issues/4706
But changing the alias didn't works.

Any idea ?
Thank you !

[2019-03-02 22:31] DanielDent commented on #720
To the extent that this is an Android-specific issue, I think the following line is responsible:

https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/794467a9d72b66247c1343eee3a7665c6b00306c/src/mlkit/mlkit-cameraview.android.ts#L130

The selectSizePair function seems to be looking for the previewSize which most closely matches the aspect ratio of the display area -- however, it as

[2019-03-02 23:43] sebestindragos opened #1162 "Push notifications not working on IOS"
Hi, I've been struggling for the past few weeks to get this plugin to work on IOS, but it just seems that is doesn't want to. I have been able to retrieve the push token after many tries, but the onMessageReceivedCallback just won't get called.

I'm using a node.js server and sending push notifications via a node-apn module. This worked flawlessly with the old push-plugin, but I just haven't got i

[2019-03-03 10:46] EddyVerbruggen commented on #1162
It’s impossible for me to comment without being able to look at your repo.

[2019-03-03 11:26] EddyVerbruggen commented on #1161
Is there an issue with this plugin?

[2019-03-03 11:27] Araknos commented on #1161
I guess it is

[2019-03-03 12:02] EddyVerbruggen commented on #1161
What do you want me to do? It’s something in your setup, because the demo apps in this repo work just fine..

[2019-03-03 12:07] EddyVerbruggen commented on #720
Yeah that TODO is waiting to be solved indeed. Happy to merge a PR if someone would like to take a stab at it :)

[2019-03-03 12:09] EddyVerbruggen commented on #1160
Can you share a repo and instructions showing the issue?

[2019-03-03 14:57] sebestindragos commented on #1162
It's a quite large Angular app running on NS 4.2.
I'm using this plugin only for push notifications because the nativescript push plugin was deprecated in favor of this one. So I followed the setup instructions from here
https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/NON_FIREBASE_MESSAGING.md

I also followed the migration guide from the old plugin.

I do a require

[2019-03-03 15:02] EddyVerbruggen commented on #1162
Add me to the repo and I might take a look..

[2019-03-03 15:40] sebestindragos commented on #1162
It's hosted on BitBucket :)

[2019-03-03 15:57] EddyVerbruggen commented on #1162
I have a BB account (eddyverbruggen at gmail)

[2019-03-04 07:32] EddyVerbruggen commented on #1162
I'll add a ticket with my findings in your BB account. First thing I noticed is you don't require the plugin in `main.ts`. Follow-up there.

[2019-03-04 07:32] #1162 closed

[2019-03-04 09:22] jnorkus opened #1163 "JWT validation failed: BAD_FORMAT"
After upgrading to 8.0.0, I started getting the error in title on all requests to my backend. We use the Firebase Auth. Same for iOS and Android, emulator and device.

[2019-03-04 09:45] EddyVerbruggen commented on #1163
What have you tried to solve it, and is there a way for me to reproduce it?

[2019-03-04 11:17] jnorkus commented on #1163
Sorry about being lazy. I have found the issue. In version 7.x `getAuthToken` would return a `string`. Now it's `GetAuthTokenResult` where the string token is a `token` property. You can close this one but such breaking changes are probably worth mentioning somehwere.

[2019-03-04 12:09] #1163 closed

[2019-03-04 14:02] EddyVerbruggen commented on #1163
Yeah, sorry about that. What would be an appropriate place on your opinion?  Would you have checked the changelog file in this case? If so, I can add it there.

[2019-03-04 14:08] jnorkus commented on #1163
I think changelog makes sense, that's the first place to check after a major version bump.

[2019-03-04 14:25] EddyVerbruggen commented on #1163
👍 I'll take care of that. Thx.

[2019-03-04 17:55] MichaelFBA opened #1164 "Error when using Array_union to push a GeoPoint"
Hello,

I am using Version 8.0.0 of the library.
I noticed some recent changes were made when using array_union when pushing new objects into an array. It seems like all subsequent updates map the values to objects which causes an issue with GeoPoints.
https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/src/firebase.android.ts#L146

Example (See Below)
1. I am pushing a sing

[2019-03-04 18:16] EddyVerbruggen commented on #1164
Is there a fix you can propose? And does it behave the same on iOS?

[2019-03-04 20:38] mmccaff opened #1165 "Error getting firestore timestamp from server on Android"
I am adding a document in Firestore, and trying to set a created_at field using to the current date on the server, using this

```firebase.firestore.FieldValue.serverTimestamp()```

Example:

[code]

This works in iOS. However, on Android I am getting this error.

[code]

Any suggestions? Thanks for the excellent plugin!

[2019-03-04 20:59] MichaelFBA commented on #1164
Ill have to confirm it's the same on iOS, the code looks the same so I guess so.

I'm not entirely sure of the history of changes that have been made prior.
I will take a look and see.

[2019-03-04 21:08] sebestindragos commented on #1162
Hi Eddy,

I've managed to get the plugin working on IOS. Moving the require to
main.ts seems to have solved it.
I am now facing another issue though. The onPushTokenReceivedCallback is
getting called twice SOMETIMES. I've capitalized the word because I haven't
been able to figure out how to reproduce it.
On Android work as expected.

Any ideas on this one? :)

Regards,
Dragos

On Mon, Mar 4, 2019

[2019-03-04 22:07] KkevinLi opened #1166 "Error assigning FIRDatabaseReference to FIRDatabaseQuery"
[code]
Not sure why I am seeing this error when FIRDatabaseReference extends FIRDatabaseQuery. this.query is of type FIRDatabaseQuery and this.dbRef is FIRDatabaseReference.

[2019-03-04 22:15] EddyVerbruggen commented on #1166
What code triggers this?

[2019-03-04 22:32] KkevinLi commented on #1166
I am implementing a feature (firebase.ios.ts) and when I tried to do ^ I get that error.

[2019-03-05 14:27] vforv opened #1167 "Is it possible to redirect user after click on notification in backgraund?"
I am using angular and nativescript how can I redirect after user open notification to route which I want?

[2019-03-05 14:36] EddyVerbruggen commented on #1167
Sure you can, but that's more a consultancy job in your specific Angular app than a plugin issue.

[2019-03-05 14:36] #1167 closed

[2019-03-05 17:47] KkevinLi commented on #1166
Seems that FIRDatabaseReference's description method is conflicting with NSObject's description method. Had to make the type of query = FIRDatabaseQuery | FIRDatabaseReference (a bit awkward) but it resolved my problem so closing for now.

[2019-03-05 17:47] #1166 closed

[2019-03-05 19:40] vforv commented on #1167
It's issue with documentation.

[2019-03-05 19:58] alexiej commented on #1160
Hi,

I've created the repository: https://github.com/alexiej/nativescript_example

The whole code is in the `Home.vue` file, in the `app\components\` directory. After taking a screenshot I've got this error.

![android](https://user-images.githubusercontent.com/12593751/53833630-4a3b9900-3f89-11e9-93a3-d6d88334646f.png)

[2019-03-06 16:55] NikolayBa commented on #1165
@mmccaff
It seems like this is a known limitation. It is described in the demo
[(https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/demo-ng/app/tabs/firestore/firestore.component.ts#L64)]

I am personally using a workaround, which involves getting the document and then updating it:
` query.get()
         .then((querySnapshot: firestore.QuerySnapshot) => {
            queryS

[2019-03-06 17:05] mmccaff commented on #1165
@NikolayBa Do you mean that the error happens only on add, but not on update?

So after inserting a new document, you get the document and then update it with the server timestamp?

[2019-03-06 17:07] NikolayBa commented on #1165
@mmccaff yes, exactly, I have no idea why it behaves like that

[2019-03-06 18:23] mmccaff opened #1168 "Adding a document to a subcollection of a collection in Firestore"
Apologies if I am doing something wrong, but I am not sure if this is an issue with the plugin or not.

I have documents in a "message" collection. I have manually added a "comments" sub-collection to some of those documents through the web ui, and tried the below code on both documents with and without that existing sub-collection added.

The code that I'm having trouble with looks like this:

[c

[2019-03-06 18:39] AquilesOliveira commented on #1041
Resolve:
AndroidManifest.xml like this:
<application .....>
<meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="ocr, face, label" />
</application>

and app.gradle like this:
dependencies {
  implementation 'com.google.firebase:firebase-ml-vision:18.0.1'
  implementation 'com.google.firebase:firebase-ml-vision-image-label-model:17.0.2'
  impl

[2019-03-06 18:44] EddyVerbruggen commented on #1168
Hi, if you search for `.doc` [here](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/FIRESTORE.md), you'll see a lot of examples.

[2019-03-06 19:10] MichaelFBA commented on #1164
I think i might just pass a map initally

[2019-03-06 19:11] #1164 closed

[2019-03-06 20:16] mmccaff commented on #1168
Thanks,  I have looked here, but don't see any examples specific to adding a document to a sub-collection of a collection. I don't have any issues adding a document to a collection, and can add a message to messages, but not a comment to messages.comments.

I think this is what you're suggesting, by using get on the doc reference?

[code]

I am new to Firestore and could be missing something total

[2019-03-06 20:35] brndusic commented on #1135
Hi @EddyVerbruggen, I have similar problem like @galer88. I found same message in logs and tried different things to implement but without success.
Interesting thing is that app is not asking for permissions for notifications and I think we should start there with investigation.

I'm creating ng-app, added ```require("nativescript-plugin-firebase");``` on first line in ```main.ts```. ```initFireba

[2019-03-06 20:53] EddyVerbruggen commented on #1135
If you share a repo I can clone I might take a look.

[2019-03-06 21:21] brndusic commented on #1135
@EddyVerbruggen I would like to share a repo but I can't. If I have time I will try to create a demo repo.

Can you suggest what else I can try?

Could it be because of webpack?

[2019-03-06 21:33] EddyVerbruggen commented on #1135
It could be many things. And it usually is something that’s covered in the readme or demo apps, but it’s impossible to tell without the actual project.

[2019-03-06 22:26] brndusic commented on #1135
Hi @EddyVerbruggen,
found solution for my problem:

[code]

In order to make app asks for permissions I needed to call ```registerForPushNotifications```

[2019-03-07 07:36] #1135 closed

[2019-03-07 10:50] EddyVerbruggen commented on #1168
Thanks for those details, @mmccaff! I'm trying to keep as close to the Web API as possible, so I'll look into being able to use something like `ar messageRef = db.collection('rooms').doc('roomA').collection('messages').doc('message1')`.

[2019-03-07 12:33] EddyVerbruggen commented on #1168
I found the culprit; you're not using the Web API; add this import:

https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/12b5a2a1bffcc1af9661d6a5a0d07a205efaa971/demo-ng/app/tabs/firestore/firestore.component.ts#L6

And use it like this:

https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/12b5a2a1bffcc1af9661d6a5a0d07a205efaa971/demo-ng/app/tabs/firestore/firestore

[2019-03-07 12:33] #1168 closed

[2019-03-07 15:31] mmccaff commented on #1168
Yes! You are right, this works perfectly both for adding to a subcollection and getting the documents in a subcollection. I have to admit that I didn't know that there was a distinction between the Web API and whatever I was using. What *was* I using, and any direction on when to use one vs the other?

For the record, as you know, I was incorrectly doing it like this:
[code]

Whereas it needed to

[2019-03-07 16:03] EddyVerbruggen commented on #1168
Awesome, glad you got it working!

So this plugin started out with a proprietary API that I came up with to unify the iOS and Android SDK implementations. Later, I realized there's also a Web API. To support code sharing between web and native (or easy migration from web to native) I decided to add a new API that has the same interface as the Firebase Web SDK. I didn't want to remove/deprecate the

[2019-03-07 21:15] grehce commented on #698
Have the same issue, on upload-symbols run, "error: missing required flag a/api-key"

[2019-03-08 06:24] jamalmehmood commented on #817
I am still facing this issue even after sending channel id in the message json.

[2019-03-08 07:35] Shunmugathangam commented on #817
Place the mp3 file under raw folder:

EX: App_Resources\Android\src\main\res\raw\nsound.mp3

Create Notification Channel as i mentioned in my above comment

this.notificationChannel("channelId_01", "Channel Name", "Channel Description", "nsound"); // please should not give sound file extension

You can check whether the channel is created in your phone or emulator under setting -> your app --> not

[2019-03-08 09:01] Shunmugathangam commented on #817
mChannel.setSound(android.net.Uri.parse("android.resource://" + context.getPackageName() + "/raw/" + soundFileName), null);

[2019-03-08 11:30] deytola opened #1169 "Feature Request: displayName property for createUserObject"
I can't seem to save the displayname for a user during user registration. when I call firebase.createUser(), I get a warning that the displayName property does not exist when I pass displayName together with email and password. Kindly provide a way to save a user's displayName in your plugin. Thanks.

<img width="494" alt="capture" src="https://user-images.githubusercontent.com/36213634/54026346-c

[2019-03-08 12:31] EddyVerbruggen commented on #1169
What makes you think `displayName` is a valid property? I don't see it in their docs: https://firebase.google.com/docs/auth/web/manage-users#create_a_user

[2019-03-08 12:47] deytola commented on #1169
I'm a bit unclear as to how I can save the username for a user on firebase after providing email and password. Could you clarify?

![image](https://user-images.githubusercontent.com/36213634/54029196-e17e3780-41a7-11e9-8e8c-6c41d6cc34ec.png)

[2019-03-08 12:59] EddyVerbruggen commented on #1169
`displayName` is a field from a provider (like Google or Facebook). When creating a user in Firebase itself, there is no `displayName` field. You could of course store this yourself in a record in Realtime DB or Firestore, but that's up to you.

[2019-03-08 12:59] #1169 closed

[2019-03-08 13:48] deytola commented on #1169
Alright. Thanks a lot.

[2019-03-08 13:53] yayagabay opened #1170 "Module not found: Error: Can't resolve 'nativescript-plugin-firebase' in ng serve"
Module not found: Error: Can't resolve 'nativescript-plugin-firebase' in ng serve command
pls help me eddy? :) i want to build my app to android and ios and web ..

[2019-03-08 14:45] EddyVerbruggen commented on #1170
This is not really a comprehensive bugreport, is it? :)

[2019-03-08 15:09] daddach opened #1171 "Error in firebase.login: TypeError: Cannot read property 'getInstance' of undefined JS: TypeError: Cannot read property 'getInstance' of undefined"
i try to use firebase plugin in my nativescript (with Angular) project

firebase.init works fine with
[code]
but if i try to call:
[code]

then i got this error: ` Error in firebase.login: TypeError: Cannot read property 'getInstance' of undefined`.

i have already enabled email-password login in my firebase instance. and this is my firebase.nativescript.json:

[code]

any suggestions please

[2019-03-08 15:50] yayagabay commented on #1170
what do u want me to mention more?

[2019-03-08 15:50] yayagabay commented on #1170
the import // const firebase = require("nativescript-plugin-firebase");
doesnt work in ng serve...

[2019-03-08 17:31] EddyVerbruggen commented on #1170
What’s ng serve doing? Running in a browser? Perhaps share a repo to make things more clear.

[2019-03-08 17:32] EddyVerbruggen commented on #1171
Please share a repo and reopen.

[2019-03-08 17:32] #1171 closed

[2019-03-08 18:02] daddach commented on #1171
thanks for your reply. what do you mean with repo sharing?

[2019-03-08 18:06] EddyVerbruggen commented on #1171
Pushing the code to github so I can reproduce the issue.

[2019-03-08 19:29] yayagabay commented on #1170
not sure how to share a repo.
yeah its running in a browser.
but it doesnt compile because it doesnt found module
nativescript-plugin-firebase... :(

‫בתאריך יום ו׳, 8 במרץ 2019 ב-19:31 מאת ‪Eddy Verbruggen‬‏ <‪
notifications@github.com‬‏>:‬

[2019-03-08 19:31] EddyVerbruggen commented on #1170
Yeah but that plugin is meant for iOS and Android, not for a browser. So just don't include it for web..

[2019-03-08 19:31] #1170 closed

[2019-03-08 19:43] yayagabay commented on #1170
how do i not include it in my web? its inside the home.component.ts..

‫בתאריך יום ו׳, 8 במרץ 2019 ב-21:31 מאת ‪Eddy Verbruggen‬‏ <‪
notifications@github.com‬‏>:‬

[2019-03-08 19:58] EddyVerbruggen commented on #1170
That's really up to your code sharing setup, not an issue with this plugin.

[2019-03-08 21:15] GerryOnGithub commented on #784
Same problem here. The message works, just Firebase is logging an error for some reason

[2019-03-08 21:18] yayagabay commented on #1170
but its happening only when i import your firebase.. where should i put it
to not enable it while compiling web..
i dont understand really.

‫בתאריך יום ו׳, 8 במרץ 2019 ב-21:58 מאת ‪Eddy Verbruggen‬‏ <‪
notifications@github.com‬‏>:‬

[2019-03-13 05:22] codingsett opened #1173 "Background notifications not working"
Hello i have tried every fix that has been suggested in previous issues but i cant get notifications to show when the app is killed completely.

I have added this to my gradle file
[code]

and also this to my manifest

[code]

I have also usednMessageReceivedCallback but to no avail. Any help would be appreciated thanks!

[2019-03-13 06:19] EddyVerbruggen commented on #1173
Those changes should not be needed. Please share your repo.

[2019-03-13 15:41] ouss4m4 opened #1174 "MLKIT Barcode scanning no beep on scan"
i went through all the issues i couldn't find one that even relates besides one on stackoverflow with no answer,
the MLKIT Barcode scanning doesn't emit a beep on scan
 i tried various different devices, is it included in the plugin ? (source code says it's default to true)
or do i implement it on scanResult event

[2019-03-13 16:50] codingsett commented on #1173
I created a new app to recreate the issue here is the link to the repo

https://github.com/codingsett/NativescriptTestNotification

[2019-03-13 17:57] EddyVerbruggen commented on #1174
Hi! What makes you think that feature would be supported? If it was, I would have mentioned it in [the docs](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/ML_KIT.md).

Maybe I'm missing something, so please help me out here.

[2019-03-13 17:59] EddyVerbruggen commented on #1173
Let's move discussions [there](https://github.com/codingsett/NativescriptTestNotification/issues/1).

[2019-03-13 17:59] #1173 closed

[2019-03-14 09:04] ouss4m4 commented on #1174
first of all thanks for all the effort you put in this amazing plugin.
i just thought it would be supported,
then i checked the `barcodescanning-common.js` file and i found

`MLKitBarcodeScanner.prototype[exports.beepOnScanProperty.setNative] = function (value) {
        this.beepOnScan = value;
    };`
`exports.beepOnScanProperty.register(MLKitBarcodeScanner);`

this made me think it is implement

[2019-03-14 13:33] EddyVerbruggen commented on #1174
Ah that makes sense. Yeah that property is there, but it's not implemented yet. That's also why it's not documented yet. I'll leave this open as a feature request. It's not too hard to add (did it before in the nativescript-barcodescanner plugin).

[2019-03-14 15:39] Frederiks96 opened #1175 "[iOS Performance Monitoring]: traces are not started automatically"
The current implementation of performance monitoring does not start traces on iOS - it only creates them. However, it does not expose an API to start the traces with. In `performance.ios.js` on line 5 the current implementation is:
[code]
However, as the [documentation from Google](https://firebase.google.com/docs/reference/ios/firebaseperformance/api/reference/Classes/FIRPerformance#/c:objc(cs)FI

[2019-03-14 15:47] EddyVerbruggen commented on #1175
Good point! I'll change that.

[2019-03-14 15:59] #1175 closed

[2019-03-14 20:57] KkevinLi commented on #1123
Tried wrapping `Transaction.get()` in a promise, but the next Transaction call in the update block would fail with `transaction object cannot be used after its update block has completed.`

Any ideas why this would happen? Wrapping get in a a promise returned a value, but calling Transaction.set, update or delete would result in the error ^.

[2019-03-15 00:08] vforv opened #1177 "Not working for ios on device"
There is some problem with plugin I am trying to make it work whole day for ios, but no luck.

I did all steps:

- Created app id
- Created dev certs and send box push notification cert
- Then created provisioning profile
- Added certs to firebase console

All installed and started app on device like this:

`tns run ios --bundle --provision 7672d288-d708-4dfb-xh02-99c84r127588`

When I try to send

[2019-03-15 08:08] EddyVerbruggen commented on #1177
Share a repo and I may take a look.

[2019-03-15 08:08] #1177 closed

[2019-03-15 11:22] vforv commented on #1177
It was problem with App ID, my app ID was look like this: io.imenu.imenu, when I changed bundle id it works but now problem is I need to remove app, change bundle id and, create app again and wait for review...
Do you know why this bundle id create problem with registration  io.imenu.imenu ?

[2019-03-15 15:03] vforv opened #1178 "Not working after I add distribution plugin(ios)"
There is a bug in plugin, it works fine when I add development account and create new app id. After I add production account it stops working even for develmpment.

I start gettings this error message:

`{"multicast_id":8041127734126337384,"success":0,"failure":1,"canonical_ids":0,"results":[{"error":"NotRegistered"}]}`

[2019-03-15 15:37] EddyVerbruggen commented on #1178
Did you adjust the apn environment in the entitlements file perhaps?

[2019-03-15 15:48] vforv commented on #1178
Yes, go trought each step minimum 10 times... Now I installed TestFlight on another iPhone device and added Keys to firebase and it works on that device.
Very wierd...

[2019-03-15 18:10] DanLatimer commented on #817
The above worked for me.

Just a note to other people seeing this thread. Once you create a notification channel the sound or other aspects can't be mutated.

[2019-03-15 18:41] indiggojorge opened #1179 "Can't add the nativescript firebase plugin to my app"
Hi. I am unable to add the nativescript firebase plugin to my app. It appears to be an issue with certain versions of dependent plugins. I try updating or adding the plugins but never seem to get anywhere. Am I missing something?

I execute the following command in my project folder ...
"tns plugin add nativescript-plugin-firebase"

... and I get the following ...

Error while loading nativescript

[2019-03-15 19:43] indiggojorge commented on #1179
I think the main issue is that mixpanel wants tns-core-modules@^3.0.0 but  nativescript-angular@7.2.1 want tns-core-modules@^5.1.0 || >5.1.0- || >5.2.0-. How do I resolve that?

[2019-03-15 20:48] KkevinLi commented on #667
Going to take a stab at this. I wrote some java code and wanted to put that into the src directory, but when I put it in `src/platforms/android/java/com/tns/test.java` it fails to build with `Could not get unknown property 'supportVersion' for object of type org.gradle.api.internal.artifacts.dsl.dependencies.DefaultDependencyHandler.`

If I wanted to have native Java code, where should I put it so

[2019-03-17 13:29] oncul opened #1180 "NotificationManagerCompat.areNotificationsEnabled() is not supported in Android SDK VERSION 21"
When i use this command
`console.log(`Notifications enabled? ${messaging.areNotificationsEnabled()}`);`

Hello i am having this error

`NotificationManagerCompat.areNotificationsEnabled() is not supported in Android SDK VERSION 21`

My app.gradle file is

[code]

[2019-03-17 15:08] danu165 commented on #500
Has there been any update on this? Will it be implemented?

[2019-03-18 09:36] jnorkus commented on #978
Has anyone found any way to fix this? Or a reference to Firebase SDK issue? It makes it so much more difficult to debug on an iOS device!

[2019-03-18 17:54] indiggojorge commented on #1179
This issue is an environment issue and not a plugin issue.

[2019-03-18 19:18] mohammedzamakhan opened #1181 "ML Kit error: ReferenceError: Can't find variable: FIRVisionOnDeviceImageLabelerOptions"

[2019-03-18 20:11] Omi231 commented on #1171
i am having the same issue. Everything is working fine except authentication. I have also tried reinstalling plugin and removing platform.

Giving me error when trying to login anonymously or with email password it gives this error:
`Login error: {"code":"auth/exception","message":"TypeError: Cannot read property 'getInstance' of undefined"}`

[2019-03-20 20:17] indiggojorge opened #1182 "App crashes when receiving a push notification if using the Firebase and Mixpanel plugins"
My app uses Mixpanel to send usage tracking data to Mixpanel. We are using Firebase to receive push notifications. The issue is that when on an Android device, we get the following exception when a notification is pushed to the device.

`System.err: java.lang.RuntimeException: Unable to instantiate receiver com.mixpanel.android.mpmetrics.GCMReceiver: java.lang.ClassNotFoundException: Didn't find c

[2019-03-20 22:12] NeriCodec commented on #1150
+1

[2019-03-21 07:52] khhily opened #1183 "Messaging cannot receive data on ios device"
I use `nativescript-plugin-firebase` in by project, and I receive push data well on android devices, but when I test it on ios real device, there's an error.  the app had been terminated.

The error log is here:

***** Fatal JavaScript exception - application has been terminated. *****
Native stack trace:
1   0x105707370 NativeScript::reportFatalErrorBeforeShutdown(JSC::ExecState*, JSC::Exception*

[2019-03-21 08:10] EddyVerbruggen commented on #1183
What's the exact payload you're sending? Looks like there's something in the `data` object of the notification that's not expected.

[2019-03-21 08:15] khhily commented on #1183
my payload like this:
![image](https://user-images.githubusercontent.com/13519063/54739826-60399280-4bf4-11e9-8752-3c349b042467.png)

[2019-03-21 08:46] EddyVerbruggen commented on #1183
The problem *I think* is the name of the nested `data` object. Can you change that to literally anything else?

[2019-03-21 09:06] khhily commented on #1183
I try to change the `data` key to `content`, and it works. thank you very much.

[2019-03-21 09:06] #1183 closed

[2019-03-21 09:42] EddyVerbruggen commented on #1183
Cool! I'll see if I can make the plugin more compatible with `data`. Cheers!

[2019-03-21 15:28] karo-dc opened #1184 "Cloud notifications "showNotifications" == false is not working"
When initializing Firebase, I set showNotifications to "false", and I expect that notification won't show up immediately and will catch in this callback : onMessageReceivedCallback. But push notification is being shown, regardless of the showNotifications value that I've set.

[2019-03-21 15:28] karo-dc opened #1185 "Cloud notifications "showNotifications" == false is not working"
When initializing Firebase, I set showNotifications to "false", and I expect that notification won't show up immediately and will catch in this callback : onMessageReceivedCallback. But push notification is being shown, regardless of the showNotifications value that I've set.

[2019-03-21 20:23] martinstofko219 commented on #1182
After further investigation, the issue was in the nativescript-mixpanel plugin. It is using an outdated reference to a service that no longer works. I created a PR for the mixpanel plugin fixing this issue.

https://github.com/AntonioCuevaUrraco/nativescript-mixpanel/pull/8

[2019-03-21 21:07] EddyVerbruggen commented on #1182
Awesome, thanks for letting us know! 👍

[2019-03-21 21:07] #1182 closed

[2019-03-21 23:14] AquilesOliveira commented on #1181
This problem only happens in iOS, we have some solution and I believe there is also another problem: [Nativescript-camera-plus](https://github.com/nstudio/nativescript-camera-plus/issues/69)

[2019-03-21 23:16] AquilesOliveira opened #1186 "Terminating app due to uncaught exception 'NativeScript encountered a fatal error: ReferenceError: Can't find variable: FIRVision at"
This problem only happens in iOS, do we have any solution?

[2019-03-22 05:23] b02505048 commented on #1171
I solved this issue with simply rerun `npm run config` in `node_modules/nativescript-plugin-firebase`
Give it a try guys ;-)

[2019-03-22 12:04] EddyVerbruggen commented on #1180
Are you running on an Android device with API level 21 or lower?

[2019-03-22 12:30] oncul commented on #1180
No i tried 24 real device and 28 emulator.

[2019-03-22 16:16] rafaelcmrj opened #1187 "Firebase queries returning object instead of array"
Since I updated my plugin to version 8.x, the firebase queries are now returning result.value as an object instead of an array like it was in the 7.x versions. Is there any way to force it to be an array instead of an object?

[2019-03-22 19:11] Omi231 commented on #1171
@b02505048 I already did that but it didn't work for me.

[2019-03-23 14:37] ebiscardi commented on #499
Is this issue resolved? I have a similar issue.
Notifications work fine after installing the application, but after killing, notifications stop working.
To make tests, I send notification calling firebase API through Postman, using FCM token received calling firebase.getCurrentPushToken() method.
After notifications stop working, the response sent by firebase API is "notRegistered", even if the to

[2019-03-23 19:48] EddyVerbruggen opened #1188 "Add 'parent' property to Firestore's DocumentReference and CollectionReference"
It's part of the Web API, so let's add it here as well. That way users can easily traverse 'up' from a collection or document. See https://firebase.google.com/docs/reference/js/firebase.firestore.DocumentReference.html#parent

[2019-03-23 20:20] EddyVerbruggen commented on #1188
Also took the opportunity to clean up some duplicate code related to CollectionReference and DocumentReference on both platform implementations.

[2019-03-23 20:20] #1188 closed

[2019-03-23 20:24] EddyVerbruggen commented on #1187
Hi, does this help? https://github.com/EddyVerbruggen/nativescript-plugin-firebase/issues/405#issuecomment-465207727