[2018-08-11 18:26] EddyVerbruggen commented on #845
That's all perfectly fine. Can you remove the platforms/android folder and run `tns run android` again?

[2018-08-11 18:36] janossuta commented on #845
I did that a couple of times but still the same :(

I used sidekick and propt as well but always the same result.

Is there a repo with working demo in angular nativescript?

[2018-08-11 18:39] EddyVerbruggen commented on #845
The demo-ng folder. Using it all the time. Clone the repo, go to the `src` folder and run `npm i` and `npm run demo-ng.android`.

[2018-08-11 19:27] janossuta commented on #845
I couldn't manage to run you demo-ng app I got a lot of errors, but I copied your implementation to my code but nothing changed.

I'm using the latest version of nativescript and your plugin.

this is my package.json

[code]

[2018-08-11 19:28] EddyVerbruggen commented on #845
Share the entire repo if you need help.

[2018-08-11 19:39] janossuta commented on #845
this is the repo:
`https://github.com/janossuta/demoNativeScript`

[2018-08-11 19:40] #833 closed

[2018-08-11 19:53] EddyVerbruggen commented on #845
Your app works perfectly fine for me. Init runs according to the log, and when running "getdata" on the About page a bunch of data is dumped to the console (`JS: {"type":"ValueChanged","key":"borders","value":{"b_184":{"load":0,"stop":24,"name":"Mokranje - Bregovo (0-24)","start":0,"pair":"b_189"},"b_185":{"load":0,"stop":24,"name":"Oltomantsi - Ribarci (0-24)", ...`

#### My steps:

[code]

[2018-08-11 20:03] janossuta commented on #845
still not working here
I can only run with
`tns run android`

it doesn't recognize this command: `tns run android [--bundle]`

[2018-08-11 20:06] EddyVerbruggen commented on #845
With `tns run android [--bundle]` I meant either `tns run android` or `tns run android --bundle`. That's a common syntax for describing a param is optional.

I don't know what to do for you anymore. With your repo and those steps it works for me as demonstrated.

[2018-08-11 20:07] janossuta commented on #845
Have you tried on a phone or emulator?

[2018-08-11 20:25] janossuta commented on #845
I tried on an S7, running Andorid 8.

I'm going to try on an other phone, maybe that is the problem.

Thank you for your help!

[2018-08-12 04:03] VeeK727 commented on #840
I haven't shown the entire code here but there are several other checks before the device id is set and not in all cases. Besides, from the console output you can see the order is correct, the token gets generated first, then error occurrs upon setting it.

[2018-08-12 08:13] janossuta commented on #845
The problem is with my developer environment, I set up a new environment on another machine and it working like charm.

I don't know what is the problem with my current environment but at this point I don't really care.

Thanks everything!

[2018-08-12 08:13] #845 closed

[2018-08-13 01:03] cristianmiranda commented on #760
Hi. I'm having exactly the same issue. Any updates on this?

[2018-08-13 08:13] joannesalfa opened #846 "ML Kit Demo won't work"
I followed your instructions how to run a demo from this page:

[https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/ML_KIT.md](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/ML_KIT.md)

Then I did `npm run setupandinstall` and skipped all prompts...

Apparently, it returned an error:

![alt text](https://i.imgur.com/J1VMPPd.png)

[2018-08-13 08:27] EddyVerbruggen commented on #846
For a quick fix you can replace `nativescript-plugin-firebase` in demo-ng's package.json by `^6.4.1`.

[2018-08-13 09:01] EddyVerbruggen commented on #667
I tried standing on my head and every other trick to get "Transacional Updates" working on Android, but I give up. You can use it on iOS (see the docs), but for a x-plat solution use "Batched Writes" as mentioned above.

[2018-08-13 09:01] #667 closed

[2018-08-13 09:37] ppulwey commented on #835
+1

[2018-08-13 09:39] anuragd7 commented on #457
Thanks @sitefinitysteve . Your suggestion worked. I was getting really frustrated. Any idea why this happens?

[2018-08-13 09:54] RaphaelJenni opened #847 "Callback registered everytime login is called"
Currently, each time you call login, a new listener gets created, what leads to that the sign in methods getting called multiple times.
https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/src/firebase.android.ts#L1275

This is a) very bad performance wise, b) can have some bad side effects and c) throws errors, that are not correct (e.g. the account is already linked).

[cod

[2018-08-13 10:33] RaphaelJenni commented on #847
Only have tried it on Android. Not sure about iOS, but I can try it later. I register with an anonymous account and then link it to a google account.

[2018-08-13 10:34] EddyVerbruggen commented on #835
Which line is the issue, and can you share a screenshot of the problematic data in the Firebase console?

[2018-08-13 10:45] psrcek commented on #835
[code]
That would be line 2143.

I've changed the data now to get around this, so no, but I've recreated it (looked something like this):
![image](https://user-images.githubusercontent.com/13370323/44027385-a29f42ba-9ef6-11e8-8bf0-87e88e153ff2.png)
If i removed the rd array, it would work.

[2018-08-13 10:48] larssn commented on #667
What problems are you seeing? Asking in case I decide to dive into it :-)

[2018-08-13 10:54] EddyVerbruggen commented on #667
See the commented runTransaction code in src/firebase.android.ts.

It wants to not run on the main thread.

[2018-08-13 11:42] EddyVerbruggen commented on #835
Thanks for the details. I suspect it's an issue in the Firebase SDK actually because array support was added more recently and the SDK referred to in this plugin is a bit older.

I just tested this with the upcoming 6.5.0 release which updates to the latest SDK:

<img width="969" alt="screenshot 2018-08-13 at 13 39 03" src="https://user-images.githubusercontent.com/1426370/44029706-84bc5622-9efe-1

[2018-08-13 11:42] #835 closed

[2018-08-13 12:31] ppulwey commented on #835
@EddyVerbruggen Is there a workaround to receive array data?

[2018-08-13 12:36] EddyVerbruggen commented on #835
Wait a little for the new release. Trying to get more changes in..

[2018-08-13 12:44] shiv19 opened #849 "Some part of the readme.md is outdated"
https://github.com/EddyVerbruggen/nativescript-plugin-firebase#found-play-services10ab-but-version-11xy-is-needed

Also the last link that says "this file" points to a file that no longer exists.

[2018-08-13 12:54] EddyVerbruggen commented on #849
If you know what it needs to be, can you do a PR perhaps?

[2018-08-13 13:35] #849 closed

[2018-08-13 16:24] NikolayBa opened #851 "Missing Documentation for WebAPI login creating a password account"
There is no sample for creating a user with Web API.

Currently, the provided sample is for signing out the user, rather than creating an account.

https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/766e606d71f6ccb2550a9b9fd7e07be06c23f596/docs/AUTHENTICATION.md#creating-a-password-account

[2018-08-13 16:33] NikolayBa commented on #851
Sorry, I was looking at the wrong branch, the issue is fixed

[2018-08-13 16:33] #851 closed

[2018-08-13 17:02] davecoffin commented on #818
@EddyVerbruggen any chance youve had time to look at this?

[2018-08-13 17:31] EddyVerbruggen commented on #818
Nope

[2018-08-13 20:43] joannesalfa commented on #846
@EddyVerbruggen I followed your quick fix, then I replaced a line from "../file/publish..." to  "^6.4.1" in demo-ng/package.json and still got the same error.

[2018-08-14 10:30] VeeK727 commented on #474
@Skintillion solution works. Just make sure you create your icons in the right format.

https://developer.android.com/guide/practices/ui_guidelines/icon_design_status_bar

[2018-08-14 13:07] hcgustavo commented on #802
Hey @seanstanden , have you found a solution for this issue? I'm facing the same problem. All works fine on the emulator (Android 8.1), but on my device which runs 5.0.1 the barcode scanner doesn't show up.

[2018-08-14 13:31] EddyVerbruggen commented on #802
Hmm, I'm not surprised 4.4 has issues, but 5.x is unexpected. So the demo-ng app in this repo has the same issues? And `adb logcat` doesn't report anything either?

[2018-08-14 14:49] hcgustavo commented on #802
@EddyVerbruggen Actually I'm using the vue-cli template. As for the adb logcat, there are a lot of things, but the camera called my attention as it is used by the scanner:

[code]

[2018-08-14 15:11] EddyVerbruggen commented on #802
Looks like that message `Invalid camera ID 11` originates from the very bottom of [this class](http://newandroidbook.com/code/android-5.1.1_r24/frameworks/av/services/camera/libcameraservice/CameraService.cpp).

I'll look at some official samples by Google again when I find time.

[2018-08-14 15:21] paweldziura opened #852 "[Android] Flashlight doesn't work with Barcode scanner"
Unable to to open flashlight from android top menu when Barcode scanner is open.
When opening flashlight programmatically f.e. with flashlight plugin, the barcode scanner stops scanning (the camera view is frozen).

On Android 6+ I used your fork - https://github.com/EddyVerbruggen/nativescript-flashlight.git
Works fine on iOS.

[2018-08-14 15:40] EddyVerbruggen commented on #830
Ha, there it is! [check the August 13 update](https://firebase.google.com/support/release-notes/android). Will add this soon.

[2018-08-14 15:41] EddyVerbruggen opened #853 "Update Firebase Android SDK versions for ML Kit and Firestore (Aug 13 update)"
See the changelog: https://firebase.google.com/support/release-notes/android

[2018-08-14 15:49] hcgustavo commented on #802
Ok, thanks.

[2018-08-14 16:06] #830 closed

[2018-08-14 16:09] EddyVerbruggen commented on #830
Done. Docs here: https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/FIRESTORE.md#collectionwhere

[2018-08-14 18:58] hcgustavo commented on #802
@EddyVerbruggen if it helps, digging into the plugin code (mlkit-cameraview.android.js: line 50), I see that the callback function `permissionCb_1` is never invoked when I use my device (Android 5.0.1). In fact, the permission dialog is never called at all, while in the emulator the dialog shows up nicely. Maybe something about `android.support.v4.app.ActivityCompat.requestPermissions` doesn't wor

[2018-08-14 21:15] cristianmiranda commented on #832
Firebase Documentation says that you shouldn't have ```io.fabric.ApiKey``` in your AndroidManifest.xml

If you're upgrading an existing app from Fabric Crashlytics, remove the Fabric API key from your AndroidManifest.xml by deleting the key's meta-data tag, which should include io.fabric.ApiKey and your old Fabric API key.

See more @ https://firebase.google.com/docs/crashlytics/get-started

---

[2018-08-14 22:17] edusperoni commented on #832
Finally managed to sort this out.

To make it work you have to select crashlytics and tick that you don't have the SDK installed. Wait on that page and run your app. It should enable crashlytics for the app.

That said, forcing any kind of exception only throws them to the console, and only actual crashes (app has stopped) are logged, which is far from ideal.

[2018-08-15 00:08] cristianmiranda commented on #832
mm, maybe I did it the wrong way, I can't remember. Is there a way of starting the setup process again from the Firebase Console without having to create another project?

[2018-08-15 04:06] seanstanden commented on #802
@hcgustavo I haven't found a solution yet, for the time being I'm detecting the android version and using the previous (if inefficient) scanning method for older devices. Thanks for your efforts on this one folks.

[2018-08-15 10:41] EddyVerbruggen commented on #802
Thanks for posting your findings here! I made a mistake: for Android < 6 there is no need to request runtime permissions (the user has already allowed those during app installation), and as the callback of `requestPermissions` is never called, the camera view never initializes.

So I'll just bypass the persmission check for older versions like I've done for many other plugins in the past.

[2018-08-15 11:35] #802 closed

[2018-08-15 12:06] shriharip commented on #649
@EddyVerbruggen I have the same issue.

Using Nativescript Vue

Repo link https://github.com/shriharip/vuedrive.git

An uncaught Exception occurred on "main" thread.
java.lang.RuntimeException: Unable to create application com.tns.NativeScriptApplication: com.tns.NativeScriptException:

Error calling module function

Error: com.tns.NativeScriptException: Failed to find module: "nativescript-plugin

[2018-08-15 14:27] manojdcoder commented on #577
@EddyVerbruggen Setting the native reference object writes the reference to fire store as expected (tested on iOS, should work on Android too).

[code]

Incase if there is a better solution, kindly suggest.

[2018-08-15 21:58] #853 closed

[2018-08-16 11:38] csaggo commented on #651
@bniehuser Hi, can i ask you a question. i have the same background - issue (system-notification not displayed) on iphone x. But ONLY iPhone X other iPhones work fine.
Was that the same for you and regenerating the cert-files like described helped. Or did it not work on any iPhone?

[2018-08-16 12:41] hcgustavo commented on #802
Glad I was of help. Thanks for looking into this!

[2018-08-16 12:44] EddyVerbruggen commented on #852
I've just added this feature. You can now set a `useTorch` property on the UI element and bind that to a component property that you can toggle with fi. an on-screen `Switch` or `Button`. See the [demo-ng app](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/b92431e6daf51c503dde98bf095a5b7d8936ab7e/demo-ng/app/tabs/mlkit/barcodescanning/barcodescanning.component.html#L12) for an

[2018-08-16 12:44] #852 closed

[2018-08-16 16:03] GindoraMichael opened #854 "Using a Dynamic value for a document / collection makes the application crash"
First of all, thank you for this plugin!

I'm trying to access a dynamic doc. but It crashed when -> without any errors..

`const helloRef: firestore.DocumentReference = firebaseWebApi.firestore().collection("users").doc(userID).collection("availability").doc("hello");`

OR

`const helloRef: firestore.DocumentReference = firestore.collection("users").doc(userID).collection("availability").doc("hel

[2018-08-16 16:31] EddyVerbruggen commented on #854
Hi,

That looks like what I have in the demo-ng folder. Can you compare it? Perhaps your firrestore import is different?

[2018-08-16 16:36] EddyVerbruggen commented on #854
Oh, and can you tell me what the crash actually is and on which platform(s)?

[2018-08-16 16:47] GindoraMichael commented on #854
I’m using the same imports.
When the function is being called (on iOS) the UINavigationBarItem gets stuck in the pressed state and after about 30 sec the app just crashes. Can’t seem to find any errors

[2018-08-16 17:09] EddyVerbruggen commented on #854
I’d be happy to try and replicate. Can you share a repo or a screenshot of the relevant Firestore DB structure in the console?

[2018-08-16 18:36] EddyVerbruggen commented on #847
Thanks for the details!

I think it only occured on Android as the login sequence was registering `application.on(<eventname>, <callback>)` listeners but never `.off`'d them.

That's fixed in 6.5.0.

[2018-08-16 18:36] #847 closed

[2018-08-16 22:34] EvangelosG commented on #596
that is not a solution.

[2018-08-17 00:37] geoffbullen commented on #702
Looking forward to this being available!

[2018-08-17 00:49] seanstanden commented on #802
Thanks @EddyVerbruggen! Love your work!

[2018-08-17 08:00] jnorkus opened #855 "iOS: TypeError: null is not an object (evaluating 'snapshot.documentID')"
After logging out iOS app crashes with the error in title. Seems related to the issue where it is not possible to unsubscribe properly.

[2018-08-17 10:02] ampgular commented on #846
hi @joannesalfa, @EddyVerbruggen was right, you have to replace nativescript-plugin-firebase in demo-ng's package.json by ^6.4.1.
But in both projects demo-ng and demo. I just did it and worked!!
Thanks @EddyVerbruggen

[2018-08-17 11:00] jaydipumaretiya commented on #784
I also got the same error any solution for this. I tried but no success.

[2018-08-17 12:32] EddyVerbruggen commented on #784
+1 and “me too” don’t help. Please use the thumb up emoji reaction for those. I would be interested in a repo that reproduces it, along with the command to trigger a notification. Thanks.

[2018-08-17 13:15] GindoraMichael commented on #854
The structure is very simple:
Root:
[code]

That's all that is currently in the DB.

the `userID` is retrieved from the `getCurrentUser()` function:
[code]

I've tried the following `imports`:

[code]

Hope this helps recreate it..? If you need more info, don't hesitate to ask :D

<br><br>

Met vriendelijke groet, Kind regards,

Michael

Send from my iPhone

[2018-08-18 02:11] antonio-costa opened #858 "Unable to build application when adding firestore"
I've been using MLKit with vue-cli-template without any problems, but now I've added firestore and the app doesn't build.
I've followed this to add firestore:

I've tried to start another project with only MLKit and it works, only stops working when I add Firestore. Finally, if I remove Firestore (after installing it) the app will stay broken, even if I set "firestore": false, delete node_modules

[2018-08-18 09:44] joannesalfa commented on #846
@ampgular Actually, you fixed it because you mentioned it needs to edit in both projects since demo and demo-ng after all, it worked for me, thank you @ampgular @EddyVerbruggen.

[2018-08-18 09:52] joannesalfa commented on #846
Actually, I tried to run demo using `npm run demo-ng.android` command then it returned an error:
`> cd ../publish && ./pack.sh
'.' is not recognized as an internal or external command
operable program or batch file.`,

I'm using windows, any idea how to fix it?

[2018-08-18 10:08] joannesalfa commented on #846
Again...

![alt text](https://i.imgur.com/YOqZN5i.png)

[2018-08-19 11:51] suparnavg opened #859 "firebase.login Error: Cannot read property 'startActivityForResult' of undefined"
Encountered this error when I was trying to log in a user in the ngOnInit function of the home component using firebase.login (type: Google login).

Wrapping the login inside a setTimeout solved the issue, but I'm not sure why. Posting this here in case it helps someone.

[2018-08-19 11:52] #859 closed

[2018-08-20 09:45] phatakrajan commented on #784
@EddyVerbruggen I am sending below payload and getting same error message

{
 "to" : "",
  "notification" : {
 "body" : "great match!",
 "title" : "Portugal vs. Denmark",
 "content_available" : true,
 "priority" : "high"
 },
 "data" : {
 	"foo": "bar",
	 "body" : "great match!",
	 "title" : "Portugal vs. Denmark",
	 "content_available" : true,
	 "priority" : "high"
 }
}

[2018-08-20 11:07] anuragd7 opened #860 "IOS - notification permission asked immediately on firebase init"
Hi
In my nativescript angular app I find that the notification permission is asked for immediately on firebase init in IOS. (not so in android).
This even though i am not setting up the notification handlers  at the time I am initialising firebase.

Please use [this repository](https://github.com/anuragd7/notifications) to see this issue with the `nativescript-plugin-firebase version 6.5.0`

[2018-08-20 11:27] LSmint opened #861 "Access AdvertisingIdClient.info"
Can this plugin access to get advertising tracking ID (IDFA and GAID)?

[2018-08-20 11:28] EddyVerbruggen commented on #861
Not that I know, can you share the native SDK docs that would enable it?

[2018-08-20 11:44] LSmint commented on #861
i studied on few link but cant figure out how to call it in NS, you can refer to this:

Android
https://developers.google.com/android/reference/com/google/android/gms/ads/identifier/AdvertisingIdClient

IOS
https://developer.apple.com/documentation/adsupport/asidentifiermanager

[2018-08-20 14:12] hettiger opened #862 "Analytics Opt-Out"
Hello Eddy,

is there support / a best practice for Analytics Opt-Out?
Firebase Docs has got it covered: https://firebase.google.com/support/guides/disable-analytics

Thank you for you awesome plugin!

[2018-08-20 14:21] EddyVerbruggen commented on #862
Hey Martin,

You're welcome. And thanks for the question.

If you want to permanently disable analytics you can do what that page suggests; add those lines to app_resources/andrid/androidmanifes.xml (and the same for the iOS plist).

However, if you want to toggle those at runtime then this plugin needs to be extended with the code that's also mentioned on that page. I could add a `firebase.analyt

[2018-08-20 15:38] hettiger commented on #862
Thank you for the quick response Eddy.

Permanent disabling is easy enough the way that you've described I do believe. But that's not really an option in the most cases I guess:

In order to comply with GDPR and ePR it will be required to offer opt-out functionality when using analytics in Europe. (At least for my understanding.)

Therefore it would be very beneficial for the plugin if it would su

[2018-08-20 15:40] EddyVerbruggen commented on #862
Sure sounds like that's the best way to do it. Thanks for your input!

[2018-08-20 15:54] BMwanza commented on #541
Just hoping on this conversation now, so if I'm understanding correctly, No Firebase Cloud Function code is included in your {N} app. In other words the code in your {N} App doesn't even know that a Firebase Cloud Function exists.

However, when let's say you write somewhere in your Firebase Database, the Cloud Function will get triggered and perform some action?

[2018-08-20 16:07] BMwanza commented on #541
Yeah I was looking into the Http triggered functions too. With that being said I have two questions then:

1) In the event of using a http Triggered Cloud Function, I could use the Nativescript Http Module (https://docs.nativescript.org/ns-framework-modules/http) to make an http request to the Cloud base function?

2) Are the Firebase Cloud Functions then able to send out a Cloud Message (Push Not

[2018-08-20 16:14] cerealexx commented on #541
Yes and yes. Though you must be careful on how you handle http request functionality. With database listening is easier to control when and who triggers what, thanks to security rules. With http anyone who knows the url could be using it or spamming it. For that, Firebase also has an httpCallable functionality that can request for example auth uids before triggering.

[2018-08-20 16:41] BMwanza commented on #541
Okay I see that's awesome, also given my implementation, Database listening would probably be the smartest way to do this.

Sorry I'm really new to this kind of development, so I have (hopefully) one last dumb question for you:

Where exactly do you Implement the Cloud Functions?

[2018-08-20 16:53] cerealexx commented on #541
You can config your project with the Firebase cli. Which I'm guessing you will have already installed (`npm i -g firebase-tools`). Just type `firebase init` inside your project and go through the process selecting functions when you're asked for the services you want. A functions directory with an index.js (or ts) will be created. There you can write your functions and deploy them with `firebase d

[2018-08-20 17:03] BMwanza commented on #541
Oh sweet that is awesome!! Thank you man you have been so so so helpful! One more thing actually, so if I want to send a cloud Message to an individual user and their device using the Cloud Function, I no longer use This Plugins syntax but rather the web Syntax in the Google Firebase docs?

[2018-08-21 03:06] BMwanza opened #863 "Unable to Download Files (Images from Firebase to Real ios Device)"
Hi,

I have this functionality in my {N} app where I need to download images from my Firebase Storage and load them into the UI of the app.

I am simply calling the download function provided with this plug in, and saving the downloaded file to a local path using the File System module. This operation works perfectly fine on the iOS simulator, as well as on real Android devices I have tested on, h

[2018-08-21 06:47] EddyVerbruggen commented on #863
An iOS device is more restrictive to where you can save files.

You didn’t provide the actual code, but I’m assuming you’re saving it to the app bundle - which is not allowed.

Try:

const documents = fs.knownFolders.documents();
    const logoPath = documents.path + "/telerik-logo-downloaded.png";

[2018-08-21 12:22] abhayastudios opened #864 "demo-ng project"
Anyone else getting an error while running the `demo-ng` project (after replacing the plugin dependency to `^6.5.0`) ? The `demo` project seems to be working fine.

[code]

[2018-08-21 12:49] BMwanza commented on #863
![image](https://user-images.githubusercontent.com/26012815/44401808-76278d80-a515-11e8-9a50-5de5cd04a3c1.png)
Sorry I didn't provide the code ahead of time, I feel like I am doing what you said above. I'm using the code that was provided the in README guide. The only thing I feel like I am doing differently is saving the images as .jpeg file and not a .png

I'll explain my code a bit further thou

[2018-08-21 12:53] BMwanza commented on #863
Oh caught my mistake! I forgot to include a "/" in the local path of where I'm saving it! Didn't realize it at the time! Thanks so much, also I'm not an expert on this but is it better storage wise to save pictures a png instead of jpg?

[2018-08-21 13:28] cerealexx commented on #541
Admin SDK runs in Node.js. So you need to code in either Javascript or Typescript.

[2018-08-21 13:33] EddyVerbruggen commented on #863
Depends on what the picture is. For photo’s (from a camera) use jpg, otherwise png.

[2018-08-21 13:33] #863 closed

[2018-08-21 13:45] GindoraMichael commented on #854
Any luck replicating it?

[2018-08-21 13:48] EddyVerbruggen commented on #854
This is not on top of my priority-pile yet.

[2018-08-21 16:12] cyberdelahoz95 commented on #858
I am having exactly same issue

[2018-08-21 17:15] BMwanza opened #865 "Push Notification Question"
Hi,

So I have just completed the Cloud Messaging Guide and enabled push Notifications in my app. I am able to receive the messages in the foreground and background. (I have tested it with the CURL commands).

However, when a message is sent and recieved on an ios Device both simulator and real device the Notification does not pop up on the top status bar, nor does a badge appear on my app.
I beli

[2018-08-21 17:42] abhayastudios commented on #865
What does your message object look like? If you are sending only data then the app will receive it but not show a notification. If it contains an alert/notification property then it will show a notification (and if you want a badge on iOS you will need to provide a number). Have a look at the [Firebase docs](https://firebase.google.com/docs/cloud-messaging/admin/send-messages) for more info on wha

[2018-08-21 18:08] BMwanza commented on #865
Hmmm, I was just testing it on the FCM console, I haven't implemented any firebase cloud functions as of yet, but I've tried sending a message using these settings in the FCM console, and it results to nothing being shown
![image](https://user-images.githubusercontent.com/26012815/44420374-53ac6900-a543-11e8-8963-e5388250cb9f.png)

[2018-08-21 20:05] BMwanza commented on #865
I noticed that using the CURL commands does actually Trigger my onMessageReceivedCallback Function I think that is the problem

[2018-08-21 21:52] abhayastudios commented on #864
PR #866 fixes this

[2018-08-21 21:52] #864 closed

[2018-08-22 07:25] EddyVerbruggen commented on #855
I've added a guard to the only place that error could originate from. Thanks for reporting it!

[2018-08-22 07:25] #855 closed

[2018-08-22 07:31] anuragd7 commented on #860
Would be great if someone could take a look at [the repo](https://github.com/anuragd7/notifications) and tell me if I need to do something differently. Thanks

[2018-08-22 07:53] jnorkus commented on #855
I had basically done the same thing in the PR that references this issue. But I guess you can close it now also.

[2018-08-22 07:55] EddyVerbruggen commented on #855
I feel bad for not seeing it. Sorry man!

[2018-08-22 11:08] ppulwey commented on #623
Is it possible, that on iOS the GoogleService-Info.plist STORAGE_BUCKET Key isn't read automatically? I always have to set it manually.

[2018-08-22 11:24] psrcek opened #867 "[Feature request] Add additional properties to MLKitDetectFacesResultFace and MLKitScanBarcodesResultBarcode"
Add a few missing properties to MLKitDetectFacesResultFace and MLKitScanBarcodesResultBarcode,
already implemented in PR #848

[2018-08-22 12:36] Pixney-William commented on #839
I have seen this too.

[2018-08-22 13:33] BMwanza commented on #818
@davecoffin Any progress on this? I am battling this as well

[2018-08-22 13:34] davecoffin commented on #818
Unfortunately not.

[2018-08-22 13:40] BMwanza commented on #368
@simba4everyoung Hey, what version of Firebase are you using? I am still struggling with this

[2018-08-22 16:55] makesitenow commented on #858
Same. Had to revert all the way down to 5.3.1 for it to work. Using vue-cli.

[2018-08-22 19:58] EddyVerbruggen commented on #858
Anyone want to share a repo with the issue?

[2018-08-22 20:04] makesitenow commented on #858
Is this okay?
https://bitbucket.org/makesite/schools-nativescript-vuejs

[2018-08-22 20:25] BMwanza commented on #818
@davecoffin If you don't mind me asking then, are you using some alternative to get Push Notifications working in your NativeScript app then?

[2018-08-23 02:36] LSmint commented on #861
found way to include, close this case

[2018-08-23 02:36] #861 closed

[2018-08-23 06:38] EddyVerbruggen commented on #861
Can you perhaps share it with us?

[2018-08-23 08:59] EddyVerbruggen commented on #854
I can't reproduce it so please take a look at what I've done. This is my DB structure:

<img width="803" alt="screenshot 2018-08-23 at 10 56 53" src="https://user-images.githubusercontent.com/1426370/44515614-474f1a00-a6c3-11e8-95f5-6a37afdbbd11.png">

And I've just pushed this code sample to demo-ng which should be similar to what you have:

https://github.com/EddyVerbruggen/nativescript-plugin-f

[2018-08-23 09:09] makesitenow commented on #858
https://bitbucket.org/makesite/schools-nativescript-vuejs/src/master/
1. Update the plugin to 6.5
2. npm run clean
3. npm run watch:android

[2018-08-23 11:55] EddyVerbruggen commented on #858
@makesitenow I'm pretty close to finding the issue, will post an update here.

[2018-08-23 13:29] makesitenow commented on #858
Thanks!! Still writes an error:
Skip com.google.errorprone.annotations.IncompatibleModifiers
        Error: java.lang.NullPointerException
But then the projects builds and runs on device.
I assume the vue clie template is just dated?
Thanks again

[2018-08-23 14:48] davecoffin commented on #818
No, I'm using this plugin and my app just doesnt support deep links from notifications until this issue is fixed.

[2018-08-23 15:28] LSmint commented on #861
I hope this help
For iOS, get the advertising identifier using the advertisingIdentifier property:
[code]

For android, call the method getAdvertisingIdInfo(), which returns the user's current Advertising ID and tracking preference. The getAdvertisingIdInfo() method is a blocking call, thus i refer to nativescript-worker-loader and run it on background thread:

[code]

[2018-08-23 21:04] alacret commented on #784
Same error here

[2018-08-24 06:48] LSmint opened #868 "Display badge count on Android"
As i know that badge counts can only be shown on certain Android brands. Anyway to passed the badge count from the push notification on the launch icon of an Android app.

[2018-08-24 07:09] EddyVerbruggen commented on #792
@MrWizardGN Perhaps that patch in #858 also applies to your case. It helped that that person shared a repo with me.

[2018-08-24 07:27] MrWizardGN commented on #792
Building project...
Gradle build...
spawn: gradlew.bat "assembleDebug" "-PcompileSdk=android-25" "-PtargetSdk=25" "-PbuildToolsVersion=27.0.3" "-PsupportVersion=25.3.1" "-PgenerateTypings=false"

         + setting applicationId
         + applying user-defined configuration from M:\VueProjects\matchmetest\template\app\App_Resources\Android\app.gradle
WARNING: Configuration 'compile' is obsolete a

[2018-08-24 08:39] EddyVerbruggen commented on #792
@MrWizardGN That log doesn't ring a bell. If you want my help, share a repo.

[2018-08-24 08:56] telcy commented on #858
I am having the same issue. Here is a repo: https://bitbucket.org/Telcy/vue-ns-firebase-test/src/master/

`tns plugin add nativescript-plugin-firebase` is not working in the root directory, so I have used `npm install --save nativescript-plugin-firebase`. Not sure what the correct procedure here is and would be really happy to get some more information here :) If I run `tns plugin add ...` in the

[2018-08-24 08:57] telcy commented on #792
I am having the same issue. Here is a repo: https://bitbucket.org/Telcy/vue-ns-firebase-test/src/master/

`tns plugin add nativescript-plugin-firebase` is not working in the root directory, so I have used `npm install --save nativescript-plugin-firebase`. Not sure what the correct procedure here is and would be really happy to get some more information here :) If I run `tns plugin add ...` in the

[2018-08-24 14:25] EddyVerbruggen opened #870 "Don't add fabric stuff when crashlytics is not enabled"
Looks like we're doing a bit too much on Android (not on iOS, I think). Look for "fabric" in installer.js and guard it with "if (crashlytics)".

[2018-08-24 19:58] hackerunet opened #871 "Unable to destroy firebase listeners on logout of application"
Hello, I have an issue trying to stop the Firebase.init to stop and destroy the push notifications service., the thing is that we need to stop it after logout from the application, is there a method to stop receiving the notifications?
if the user just go again to home but doesn't logout from the application the service keeps running as expected and we receive all notifications, but what if we des

[2018-08-25 06:57] telcy commented on #792
Enabling multiDex helped. https://github.com/nativescript-vue/nativescript-vue/issues/313#issuecomment-415929657

[2018-08-25 14:28] EddyVerbruggen opened #872 "Higher camera resolution for MLKit livefeed"
Currently the processed camera images are about 800x600 (Android) and 640x480 (iOS) which is a bit too low res for certain barcode types etc.

[2018-08-25 14:29] #872 closed

[2018-08-25 15:03] EddyVerbruggen commented on #784
@phatakrajan I tried with your payload but the error doesn't show on my testdevices so a bit hard for me to fix.

Is this just a warning, or does it break anything?

[2018-08-25 15:16] EddyVerbruggen commented on #870
It looks like we don't actually 'apply' the fabric plugin unless the developer wants us to so should be fine already.

[2018-08-25 15:16] #870 closed

[2018-08-25 16:57] phatakrajan commented on #784
@EddyVerbruggen  I think it does not break anything but you see this exception in logs. I am still struggling to redirect a user when a notification is received while app is suspended and then when i click on notification, i try to read data in resumeEvent event. However i am struggling to do that part unfortunately. So not sure if this previous exception is the cause or its just that i am unable

[2018-08-25 16:58] alacret commented on #784
I solved downgrading the google-services, firebase-core and firebase-messaging versions

[2018-08-25 17:32] phatakrajan commented on #784
@EddyVerbruggen  Its failing when i try to open the notification and hence i am unable to get the data sent.
@alacret  What version of google-services and firebase-messaging are you using now?

[2018-08-25 18:14] alacret commented on #784
@EddyVerbruggen

The error that appears in the Android Logcat is this:

[code]

Before i started to try to upgrade the libraries the error was also there, but it didn't close the App (on Android), so i started going back on my .gradle files so i downgrade the versions of this libraries:

[code]

NOTE: The error stills shows in the console, but the App doesn't crash

[2018-08-25 18:18] EddyVerbruggen commented on #784
Sound like an issue with Firebase/Google play services actually. Not sure how I can help.

[2018-08-25 18:30] EddyVerbruggen opened #873 "Allow usage of Dynamic Links without Invites"
At the moment  "Dynamic Links" is a transitive dependency to "Invites". I think this can be added to the postclone configurator without breaking backwards compatibility.

[2018-08-25 18:36] #873 closed

[2018-08-25 18:39] EddyVerbruggen opened #874 "Bump native SDKs to their latest versions"
### iOS
- 5.6.0

### Android
- core 16.0.3
- crash reporting 16.2.0

[2018-08-25 19:15] #874 closed

[2018-08-26 11:03] bearoutthere commented on #254
@danieljohngomez   Could you please post your solution code here as an example?  Thanks.

[2018-08-26 11:09] bearoutthere commented on #843
I've been trying to do something similar but the [example code](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/f6972433dea48bf1d342a6e4ef7f955dff341837/demo-ng/app/item/items.component.ts#L175-L185)  is using RxJS Observable instead of the NativeScript one.
Since this plugin is nativescript specific the example is not as helpful as it could have been.  Thanks for sharing your

[2018-08-26 11:14] EddyVerbruggen commented on #843
Feel free to contribute a good example to the demo-ng app.

[2018-08-26 11:16] bearoutthere commented on #843
Thanks Eddy.  I'll give it a go.

[2018-08-27 06:54] EddyVerbruggen opened #875 "Add the ability to save a DocumentReference"
In #577 support for reading references was added, but saving them was not possible yet. Let's add it here.

[2018-08-27 06:55] EddyVerbruggen commented on #577
Adding support for saving references in #875.

[2018-08-27 08:43] EddyVerbruggen commented on #875
Here's the relevant code to pull this off in the upcoming plugin version 6.6.0:

https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/06fcae8fcc0a15b22673a8a5a54673aad6df46ed/demo-ng/app/tabs/firestore/firestore.component.ts#L137-L143

[2018-08-27 08:43] #875 closed

[2018-08-27 08:44] EddyVerbruggen commented on #577
Btw, @manojdcoder was right: it was possible that way on iOS, but not on Android.

[2018-08-27 10:00] psrcek opened #876 "TypeError: null is not an object (evaluating 'snapshot.documents') while logging off"
[code]

this error is displayed **ONLY** on iOS (tested on android) in the console upon running firebase.logout() with a button.

[2018-08-27 10:47] EddyVerbruggen commented on #876
What do you do on logout to trigger a snapshot update?

[2018-08-27 11:46] jmfsilva commented on #876
I was actually going to open an issue related to this snapshot.document.
The error that i'v got is "file:///app/tns_modules/nativescript-plugin-firebase/firebase.js:2145:37: JS ERROR TypeError: null is not an object (evaluating 'snapshot.documents')"

The line number might be different depending on the version of the testings, but on my code this erros is on firebase_common_1.firebase.firestore.on

[2018-08-27 12:51] EddyVerbruggen commented on #876
@jmfsilva Yes that's what I intend to do for iOS as well, but since I never have these issues in the demo app I'd like to reproduce them. Any idea why logging out triggers the issue?

[2018-08-27 14:16] 4geeks commented on #784
@EddyVerbruggen well, maybe the weird thing is that the output on the console it's the same. The difference it's that the App closes

[2018-08-27 14:28] EddyVerbruggen commented on #784
@4geeks Could be that @alacret has `"discardUncaughtJsExceptions": true` set in app/package.json, which prevents crashing in case of this type of JS exceptions.

But unfortunately I don't see that error at all 😞

[2018-08-27 14:38] alacret commented on #784
@EddyVerbruggen no, i check that. i'll try today to provide an example, if you want i can even create the branches and give you access to the repos.

I don't think that it's urgent anyways, there are however a lot of questions and a bounty for this error, but there are recent. With downgrading the version it gets solved

[2018-08-27 14:47] EddyVerbruggen commented on #784
Downgrading is not something I can advocate. Would be great if this can be solved by us somehow.

[2018-08-27 15:13] jmfsilva commented on #876
I'm using Nativescript + Angular.
I subscribe on components onInit and unsubsribe onDestroy.

After login the screen that i'm redirected subscribes to a collection.
To logout i need to navigate to another screen that is accessible from the current screen, I also subscribe to a document on this screen.

Navigating to the screen that has the logout does not call de onDestroy method on the previous c

[2018-08-27 15:21] jmfsilva commented on #876
I suspect that i should make sure i did unsubscribe from evertything before i logout, but that would lead to a more centralized way of dealing with subscriptions.
I expected that onDestroy and onInit would resolve this issues...

Another way to check if this is the issue is: use an intermediate component that would make the onDestroy methods to be called by navigating to it, and on the component a

[2018-08-27 15:30] EddyVerbruggen commented on #876
Unsubscribing is wise in general, but I'll also add guards to the iOS side of the plugin to prevent this error 👍

[2018-08-27 16:09] jmfsilva commented on #876
I'm unsubscribing. The issue is the order of operations :). I must fix the order.

[2018-08-27 16:25] carrbrpoa opened #877 "Help with Crashlytics"
Hello
Today I tried the latest version of `nativescript-plugin-firebase` for the new Crashlytics in my "old" NS 3.4.2 project for Android but wasn't able to force a crash send report with this code (which I did with old reporting tool):

[code]

What I see in console:

[code]

Also tried with...
[code]
... in `main.ts`, which throws an `Crashlytics is not defined` error.

Any ideas?

My package.js

[2018-08-27 16:51] carrbrpoa commented on #877
Then I tried `throw new java.lang.Exception("Forced an exception.");` from some Page, but nothing is shown in Firebase console. Does it take some hours?

[2018-08-27 19:31] rdlauer opened #878 "Android crashes on recognizeTextCloud"
Just upgraded an app to 6.5.0. iOS works fine, but on Android the app is crashing when I execute `firebase.mlkit.textrecognition.recognizeTextCloud`.

Anything related to text recognition that changed with 6.5.0 that may be the culprit? Device is Android 7.

Unfortunately the console log isn't providing much help:

[code]

[2018-08-27 19:44] EddyVerbruggen commented on #878
Hmm, there was a major refactor in their SDK (see #853) but I thought I tested all of it. Will take a look tomorrow.

[2018-08-28 05:16] hamedhemmati opened #879 "Nativescript Vue problem with google auth on iOS"
I am trying to get the google auth setup but I am running into issues with iOS. When I tap on sign in with google the app hangs for a couple of seconds and then crashes. I am not really getting any errors in the console.

The podfile already has google signin so the only thing I can think of is that my info.plist is not correct. Here is what I have in the info.plist.

[code]

[2018-08-28 09:38] ampgular opened #881 "MLKIT text Recognition IOS (probably also in Android) reed more than i see"
First thanks @EddyVerbruggen for the awesome job!.

 I am using the firebase plugin with the
<MLKitTextRecognition></MLKitTextRecognition> element tag in part of the screen (260*260).

So far, so good, the problem is that the MLKIT is reading more than the text I can see through the <ML->, which causes weird results.

Have you experienced something similar?
Thank you in advance

[2018-08-28 12:38] EddyVerbruggen commented on #878
Strangely the code I used was according to [their sample]https://firebase.google.com/docs/ml-kit/android/recognize-text). Aaaaanyway, this is now fixed and will be part of 6.6.0 which I'll try to release today.

[2018-08-28 12:38] #878 closed

[2018-08-28 12:43] #876 closed

[2018-08-28 13:32] NickIliev commented on #877
@carrbrpoa during the initial installation of nativescript-plugin-firebase the plugin is usually asking what functionalities you want to use and if you want to store them in a file called `firebase.nativescript.json` (like [this one](https://github.com/NickIliev/nativescript-ng-cosmos/blob/master/firebase.nativescript.json)).
If you are using this file make sure that the **crashlytics** key has a

[2018-08-28 13:52] indradha commented on #767
submitted PR #880, and it's already merged :).
So it's should be solved solved

[2018-08-28 14:01] EddyVerbruggen commented on #767
Yes, this can now be closed. Thanks for reporting, @johnRosalin, and many thanks for the PR, @indradha!

[2018-08-28 14:01] #767 closed

[2018-08-28 14:11] carrbrpoa commented on #877
Hey @NickIliev!

I use the file, did as you suggested but doesn't seem to work:

I deleted **_node_modules_** and **_platform_** folders.
Then:
`$> npm install -ddd`
`$> tns build android --bundle`
`$> tns run android --bundle`

After last command conclusion, the app didn't run. I see in console (idk if it's related):
[code]

At this point, I just edited any file, hit save and waited for the autom

[2018-08-28 14:30] carrbrpoa commented on #877
Sorry, I mean I'm trying the following code:
[code]
, which throws that `JS: Make sure firebase-crash is in the plugin's include.gradle` in console plus the `throw new java.lang.Exception("Forced an exception.");` line somewhere in app.

Btw, here is my `firebase.nativescript.json`:
[code]

[2018-08-28 15:47] indradha opened #882 "googlePlayServicesVersion problem [with temporary solution, should i do PR?]"
Found this bug, maybe just me or some other with the googlePlayServicesVersion problem, so am sharing my solution/fix here that takes me hours to solve:

As stated on the documentation, we have to set googlePlayServicesVersion to 15.0.0, but somehow I got this error

[code]

without setting the googlePlayServicesVersion, my error will fall on 15.0.1:

`The library com.google.android.gms:play-servi

[2018-08-28 16:44] hamedhemmati commented on #879
The demo is working so maybe there is a problem with Nativescript Vue?

[2018-08-28 16:50] OscarAgreda commented on #702
Adding Tensor Flow Lite to Eddy's work will be terrific, a game changer for sure.

[2018-08-28 18:51] davorpeic commented on #555
To avoid error in .then()
[code]
You can subscribe to topic after you receive your token like this:
[code]

[2018-08-28 18:53] davorpeic opened #883 "[Messaging] Format '/topics/all' is deprecated"
We got deprecated message when subscribing to topic in latest version
[code]

[2018-08-28 22:00] sebastiandg7 commented on #882
Same happening here

[2018-08-29 08:42] jacopo69 commented on #631
Simply check if you have permissions to access your document. In my case I forgot to set the read permission:
[code]

[2018-08-29 10:33] VolodymyrVA commented on #818
Hi guys!
Any progress on this?

[2018-08-30 16:03] hamedhemmati commented on #879
I found out what the problem is. I am getting extra info in the REVERSED_CLIENT_ID URL. The info.plist is fine but under xcode info URL Types. the REVERSED_CLIENT_ID has ", comsayyal" com.sayyal is my bundle identifier so for some reason it's adding that at the end. I tried npm run clean and it put it back in there again.

[2018-08-31 08:07] EddyVerbruggen opened #884 "[iOS] Allow showing a notification when it's received while the app is in the foreground"
Currently it's not possible, but let's add some code in the plugin that looks for a flag in the FCM payload to trigger this behaviour.

[2018-08-31 11:11] EddyVerbruggen commented on #884
You can now pass in a flag as part of the notification to trigger this behaviour, see [the docs](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/01f25e24420318eb0221cb6e3f05aa85ccc9c66a/docs/MESSAGING.md#ios-showing-a-notification-while-the-app-is-in-the-foreground).

[2018-08-31 11:11] #884 closed

[2018-08-31 11:14] EddyVerbruggen commented on #865
Dunno of it helps, but this postman payload also works pretty well (it's much like the curl command in the docs):

<img width="485" alt="screenshot 2018-08-31 at 13 12 50" src="https://user-images.githubusercontent.com/1426370/44909432-9fb79480-ad1f-11e8-9774-c05127d4f479.png">

Note that the iOS simulator can't receive push notifications.

[2018-08-31 11:14] #865 closed

[2018-08-31 11:20] EddyVerbruggen opened #885 "Defer the "Allow notifications" consent popup on iOS"
At the moment, with cloud messaging enabled, your app will immediately show an "allow notifications" consent popup on iOS. That's less than ideal, I know. But I had to in order to make push notifications work with as much frameworks and setups configurations as possible (Core, Vue, Angular).

I'm now taking the plunge to allow your app to defer the popup. Just don't pass in the `onMessageReceivedC

[2018-08-31 11:32] #885 closed

[2018-08-31 11:51] #555 closed

[2018-08-31 11:57] EddyVerbruggen commented on #883
Thanks for reporting that! I'll take a look.

[2018-08-31 12:43] EddyVerbruggen commented on #883
Done. Also, with 6.7.0 subscribe/unsubscribe no longer immediately resolve the promise, but rather resolve when/if the native SDK completes its actions, or reject in case of trouble. That was not possible in the past.

[2018-08-31 12:43] #883 closed

[2018-08-31 13:39] hettiger commented on #862
Thank you again @EddyVerbruggen

A perfect solution as always! 👍 😃

[2018-09-01 07:47] EddyVerbruggen commented on #658
@faizantariq1 are you 10000% sure you're using this plugin? If so, please share a repo reproducing this issue.

[2018-09-01 10:47] faizantariq1 commented on #658
@EddyVerbruggen it's not producing on my different device but when i have submit my app on app store they said about it on device.I set all the setup of reCAPTCHA as per firebase said.I have reproduced this issue on simulator but it's not working as per firebase doc said :

Note : (To ensure that both scenarios are working correctly, test your app on a physical iOS device with background app refre

[2018-09-01 10:56] EddyVerbruggen commented on #658
See my previous comment please. Feel free to reopen when you have those answers.

[2018-09-01 10:56] #658 closed

[2018-09-02 01:13] andermev commented on #882
The same for me, I looked up this issue in several pages, until finally I achieved resolve it.

I am going to share you my **app.gradle**

[code]

Perhaps, there is something to fix in my file but it's working.

I hope that it can be helped for you.

[2018-09-02 04:45] andermev commented on #882
Awesome, I am glad for you :) 👍

[2018-09-02 10:11] Macuzzin commented on #712
I had the same issue but being new to NativeScript (and Vue.js for that matter), I didn't realise that I needed to run "npm install" in the template folder too. Here's the article that pointed me in the right direction: https://medium.com/@groksrc/how-to-set-up-nativescript-vue-js-and-firebase-465354d4296b Thanks Drew Cain!

[2018-09-02 11:43] shilik opened #887 "How to get live camera feed with nativescript-vue?"
I have worked the all day trying to figure out the above question but in vain.
error message likes 'ML Kit error: TypeError: Cannot read property \'android\' of undefined'
is what I got.

I know the critical part is get the " imageSource" well set.

	firebase.mlkit.textrecognition
		.recognizeTextOnDevice({
		   image: imageSource //get stuck here!!
		})

Here is what I have
 <MLKitTextRecognition

[2018-09-02 12:57] EddyVerbruggen commented on #887
Share a repo and steps to reproduce and I may take a look.

[2018-09-02 13:33] shilik commented on #887
Here are the codes:

<template>
  <Page class="page">
    <ActionBar class="action-bar" title="Home" />

    <StackLayout>
      <Button class="btn btn-primary" @tap="fromCameraroll">Camera</Button>
      <Label :text="result_text" />
      <MLKitTextRecognition ref="mlk" class="my-class" width="260" height="340" processEveryNthFrame="5" :torchOn="torchOn" horizontalAlignment="center" @scanResult=

[2018-09-02 14:34] EddyVerbruggen commented on #887
Share a repo an steps to reproduce please.

[2018-09-03 03:53] shilik commented on #887
Sorry, here is the repo.
https://github.com/shilik/ns-firebase

[2018-09-03 08:56] cainjonm opened #888 "firestore.where does not work correctly with document references"
Hi,

I'm trying to filter a collection of documents ("objects") to only include documents with a field referencing a particular document ("category"), but it appears the `.where` on a collection never matches anything if the thing being matched is a reference.

Repro:
1. create the following firestore collections
`categories:`
[code]
`objects`:
[code]

then using this plugin:

[code]
This should o

[2018-09-03 13:48] EddyVerbruggen commented on #888
I can confirm this issue on both iOS and Android. Thanks for reporting it!

You also currently can't compare with a GeoPoint, but that's not as important as the reference you mentioned.

Will fix this and release 6.7.0 shortly after.

[2018-09-03 14:03] #888 closed

[2018-09-03 20:35] BMwanza opened #889 "showWhenInForeground"
Hey there,
So to get the new showWhenInForeground feature to work, is this how the payload should look?
I tried getting the notification to show in the foreground on a real iPhone 6 device but didn't get it to show. I suspect that I am missing something?

![image](https://user-images.githubusercontent.com/26012815/45000997-ef4fc780-af8e-11e8-9df0-a32153539f95.png)

Thanks in advance!

[2018-09-03 20:39] EddyVerbruggen commented on #889
I don’t know how to do that with apns as I’m using fcm in the examples on this page: https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/MESSAGING.md

Go ahead and try one of those curl commands, or use postman to send your payload to firebase

[2018-09-03 23:03] job111 opened #890 "JS: ERROR Error: Uncaught (in promise): Run init() first!"
i run into this error once i lunch my app, i  believe the error is caused by the firebase.service component inside the **ngOnInit** here is code sample
`import { Component, OnInit, AfterViewInit, ViewChild, ElementRef } from "@angular/core";

import { Observable } from 'rxjs/Observable';

import { BackendService, FirebaseService } from "../services";

import { ListView } from 'ui/list-view';

impo

[2018-09-03 23:37] shilik commented on #887
npm run watch:android

[2018-09-04 10:22] pboulch opened #891 "Crash after Splashscreen iOS"
Hi,
I try to use this plugin. With Android, no problem. But with iOS, the app crash after splashscreen. I tried to create a new nativescript project, and just add this plugin. With the line `var firebase = require("nativescript-plugin-firebase");` , the app crashing just after splashscreen without any message.

Any ideas ?

Thanks

[2018-09-04 10:50] EddyVerbruggen commented on #891
Not without a repo to look at.

[2018-09-04 11:48] pboulch commented on #891
[https://github.com/pboulch/test-tns-firebase](https://github.com/pboulch/test-tns-firebase)

[2018-09-04 12:45] EddyVerbruggen commented on #891
Thanks. There's a configuration error. I got this when trying to run the app on iOS from Xcode:

**Error: URL scheme needed for Google Sign-In not included in your app's Info.plist. Please refer to the Google Sign-In SDK documentation for more information.'**

I assume that's clear enough. If not, check [the Info.plist of the demo](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blo

[2018-09-04 12:45] #891 closed

[2018-09-04 14:41] BMwanza commented on #818
@VolodymyrVA @davecoffin Hey guys I was actually able to resolve this by moving firebase.init() out of my app.js file. Keep in mind that if you do this though, you will still need to require() the firebase module in app.js

[2018-09-04 14:59] EddyVerbruggen commented on #818
@BMwanza I think what you describe is also what's recommended in the readme.
@davecoffin I didn't specifically fix anything related to this (because I can't reproduce it with the demo app in this repo), but chances are it helped because, indeed, a lot of changes were made.

[2018-09-04 15:33] davecoffin commented on #818
@EddyVerbruggen @BMwanza @VolodymyrVA @Lacos247 Nice, this works now! Maybe a combination of the updates made recently and moving `init` out of `app.component.ts`
Thanks everyone ❤️

[2018-09-04 15:37] EddyVerbruggen commented on #818
Awesome, thanks for the feedback!

[2018-09-04 15:37] #818 closed

[2018-09-04 15:50] SilverHoodCorp commented on #639
Looking for answers to the same question.. Its a disaster this isnt properly documented

[2018-09-04 17:01] EddyVerbruggen commented on #639
Yeah mate a true disaster.

[2018-09-04 17:08] SilverHoodCorp commented on #639
**using SharedPrefs to check login state** and then show/do operations accordingly.. ?
Found this, probably the simplest solution.
Haven't tested though..
_src: https://stackoverflow.com/questions/47547091/handling-login-logout-on-receiving-fcm_

[2018-09-04 19:49] job111 opened #892 "JS: ERROR Error: Uncaught (in promise): Run init() first!"
been facing this error for couple days i tried everything but nothing seems to be working.
here is a sample project

[myapp.zip](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/files/2349983/myapp.zip)

[2018-09-05 05:27] VolodymyrVA commented on #818
@EddyVerbruggen @davecoffin @BMwanza  @Lacos247 thanks everyone!
 This works!

[2018-09-05 14:10] Danziger opened #894 "Incorrect Google Play Services version check in include.gradle"
In the file `include.gradle` there's a check:

    if ( VersionNumber.parse( googlePlayServicesVersion ) < VersionNumber.parse( '15.0.0' ) ) {
        throw new GradleException(" googlePlayServicesVersion set too low, please update to at least 15.0.0 ( currently set to $googlePlayServicesVersion )");
    }

Which is wrong, as it will report a version of `15.0.+` as being too low as well. It should

[2018-09-05 21:26] hackerunet commented on #714
I have the same issue, the function onMessageReceivedCallback is not been called when the application is in background, it happens in android, in ios, sometimes is called sometimes is not.

[2018-09-05 21:54] hackerunet commented on #518
I'm also having the exact same issue, is there any solutions at sight?

[2018-09-05 23:35] shilik commented on #887
Instead of live camera feed, I used still image from camera to sort out the source of error of  android of undefined. The part of camera took the picture as expected, and produced an image likes "android.graphics.Bitmap@a8a855c", while used it as a parameter for onTextRecognitionResult(), no errors and no results are found in terminal.
 the repo.
https://github.com/shilik/ns-firebase

steps to rep

[2018-09-06 11:50] JaganJonnala opened #896 "JS: ERROR Error: Uncaught (in promise): TypeError: firebase.uploadFile is not a function JS: TypeError: firebase.uploadFile is not a function"
JS: ERROR Error: Uncaught (in promise): TypeError: firebase.uploadFile is not a function
JS: TypeError: firebase.uploadFile is not a function

![image](https://user-images.githubusercontent.com/10844009/45155521-e6fac500-b1f8-11e8-863b-fe23b97a4b24.png)
when i tried to upload a file to firebase storage. It was working code actually when i upgraded nativescript-plugin-firebase to 6.7.0 (from 6.1.1)

[2018-09-06 12:13] JaganJonnala commented on #896
Issue resolved you have seperated the storage to another folder may be. i have added
firebase.storage.uploadFile() thats it

[2018-09-06 13:31] hackerunet opened #897 "[FCM][NS+NG][iOS] Handle notification data when app started from notification"
Hello, this issue is the equivalent to the Android one:
https://github.com/EddyVerbruggen/nativescript-plugin-firebase/issues/297
so if you are trying to handle when the application is resumed after making tap over the notification or when was resumed by task manager or launch icon this is the right place to go.

When a user taps over a notification in Android we can handle it like this and you ca

[2018-09-06 13:38] GindoraMichael commented on #854
Thank your sir,

I do know why but I got it working by storing the user id in the application settings..

[2018-09-06 13:42] #854 closed

[2018-09-06 20:10] #836 closed

[2018-09-07 03:40] kvindasAB opened #898 "App Freezes on SplashScreen when enabling facebook login"
Hello Guys,

We have been working on a app for more than a year now.

So far everything has been good with Nativescript and the Firebase Plugin.

Now about a week ago, we started to experienced an issue where app compiled, but got freeze on the splash screen. No error or console log to indicate what was going on.

After spending a good amount of time debugging and we came to the conclusion that th

[2018-09-07 14:44] hackerunet commented on #897
I have found the issue trying to implement this solution, the right path is to delegate the function to an ios class as this:
[code]
But no matter what we place here, we still need this ios event to handle the resume after notification tap :applicationDidFinishLaunchingWithOptions and this function its been implemented in firebase.ios.js file line 56 which block our implementation:
[code]
We need

[2018-09-08 16:31] Macuzzin opened #900 "NativeScript-Vue Firestore Error"
Hi @EddyVerbruggen  - please assist, I think I followed the docs correctly and trying to implement with NativeScript-Vue.

Firebase auth is working correctly but I get the following terminal error when running firebase.firestore() in the onPanic method  in my Vue component below:

Terminating app due to uncaught exception 'NativeScript encountered a fatal error: TypeError: _nativescriptPluginFireb

[2018-09-08 23:31] kvindasAB commented on #898
Hello @EddyVerbruggen thanks a lot for your quick response.

I have found what is the issue with the code.

While creating the repo so that you will be able to test, I realized that the issue was inconsistent. So if I used all the config from your `ng-demo` my sample app worked. Otherwise if I used my configs (google.json file, facebooklogin.xml, etc) the code hanged.

In any case, to make a long

[2018-09-08 23:31] #898 closed

[2018-09-09 17:50] CarbonEdge commented on #553
It's not impossible I'm doing it right now, by mistake and trying to figure out how to stop.....

[2018-09-11 11:47] darkmantle opened #902 "Crashlytics Error"
I am trying to setup Crashlytics and test it works, yet when I use the sendCrashLog function I get an error saying:

"Make sure firebase-crash is in the plugin's include.gradle"

[code]

[2018-09-11 18:04] vratojr opened #903 "user.additionalUserInfo are (almost) never returned as stated in the docs"
Hello @EddyVerbruggen,
In the [docs](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/AUTHENTICATION.md#whats-returned-when-logged-in) there's written:

    All login functions below, as well as getCurrentUser return a 'User' object with these properties:

The fact is that it's not doing it :)
For example, I checked the code and I see that _getCurrentUser_ is calling

[2018-09-11 19:34] DickSmith commented on #902
@darkmantle Only the basic integration was ever added to the plugin, `sendCrashLog` was for the previous Firebase Crash Reporting, before they incorporated Crashlytics.

Likely same with the setScreenName function. As far as I know, none of the Crashlytics methods were added to the plugin, but you should be able to call the Native methods directly.

[2018-09-11 19:44] DickSmith commented on #894
@Danziger
https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/src/scripts/postinstall.js
That is the file that generates these, I believe.

However, to get around it for now you can also do this in your `app.gradle`:
[code]
As you can see there, I've also been meaning to PR this, but it needs to be able to handle the `+` in any of the 3 positions, as well.

But that snippet

[2018-09-11 19:49] DickSmith commented on #882
https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/src/scripts/postinstall.js
That is the file that generates these, I believe.

However, to get around it for now you can also do this in your app.gradle:

dependencies {
    configurations.all {
        exclude group: 'commons-logging', module: 'commons-logging'
        resolutionStrategy.eachDependency { DependencyResolveDe

[2018-09-12 03:10] job111 commented on #892
anything new about this topic?

[2018-09-12 08:45] darkmantle commented on #902
@DickSmith I've checked the source code and setScreenName does exist?

[2018-09-12 09:54] jacopo69 commented on #877
@carrbrpoa I'm in the same situation and I tried to do a build release as you suggested but nothing has been logged in Crashlytics neither any error raised.
Did you insert any specific meta-data in AndroidManifest.xml or do a particular configuration in Firebase console?

[2018-09-12 12:00] carrbrpoa commented on #877
Hey @jacopo69, I didn't need extra configurations. Nuked the app folder and changed to build for release. Firebase Console was kept the way it was before. Just needed to pay attention to the `firebase.nativescript.json` file. What currently is left is the fact that I didn't manage to force an exception, but I see "true failures" being logged to Firebase Console.

[2018-09-12 18:51] EddyVerbruggen commented on #903
Do these instructions work for you? https://github.com/EddyVerbruggen/nativescript-plugin-firebase#demo-app

[2018-09-13 14:15] EddyVerbruggen opened #904 "Add a step to include authentication libraries (default 'true')"
In case a user only uses Messaging, there's no need to include the Authentication framework.

Also see https://github.com/NativeScript/push-plugin/issues/230

[2018-09-13 16:14] MustafaCa commented on #813
Hi Eddy,

I am having the same issue on a project based on NativeScript Vue. The app freezes for ~30sec to a min until the message "Error in firebase.admob.showBanner: RangeError: Maximum call stacksize exceeded." appears.

I observe the issue mostly on HW devices (iPhone 7 and iPhone 8). However, I just confirmed that it also happens on the iOS simulator - iPhone 7 Plus.

Really appreciate any su

[2018-09-13 17:53] vratojr commented on #903
Hello Eddy!
You mean running the demo and testing the behaviour of getCurrentUser?
I confirm that for the native api (sorry I should have mentioned it before)
getCurrentUser doesn't return the additionalUserInfo.

On Wed, Sep 12, 2018 at 8:52 PM Eddy Verbruggen <notifications@github.com>
wrote:

[2018-09-13 17:55] vratojr commented on #903
Hello Eddy!
You mean running the demo and testing the behaviour of getCurrentUser?
I confirm that, for the **native api** (sorry I should have mentioned it before), getCurrentUser doesn't return the additionalUserInfo.

[2018-09-13 21:37] rgomezu opened #905 "Separation of Environments"
Greetings,

Recently I saw a new section named "Separation of Environments" on the main plugin documentation, I tried adding it to my project but wasn't able to make it work.

Reviewing the plugin's history this functionality was removed from the code.

Is there another way to have separate environments on my project?

Thanks in advance.

[2018-09-13 23:34] larssn commented on #667
Have you tried using workers? From the sound of it, they don't run on the UI thread. Could be wrong, the docs are unclear about that.

[2018-09-14 04:55] spencercap opened #906 "cannot initialize w NEW vue-cli-template iOS"
hey eddy - this rad plugin works great on android but not ios unfortunately (with NEW vue-cli-template that is). the `next` branch of the  vue-cli-template was [recently merged](https://github.com/nativescript-vue/vue-cli-template/commit/ae4062224163aaf21152357e4fca1c460ee49ce1) with the master and it appears to structure things a little differently. i've tried a bunch of configurations regarding

[2018-09-14 05:45] spencercap commented on #906
to see the behavior or tinker around, you can [clone this repo](https://github.com/spencercap/ns-vue-cli-template-firebase), which is simply the new vue-cli-template after running `tns plugin add nativescript-plugin-firebase` and placing the .json and .plist files appropriately.

running `tns debug android --bundle` shows `firebase.init done` in the console
but running `tns debug ios --bundle` doe

[2018-09-14 06:20] EddyVerbruggen commented on #906
Thanks for the sample! I hope to find some time to play with it soon.

[2018-09-14 06:26] EddyVerbruggen commented on #882
Hi, ran into this issue today while preparing 6.8.1. I changed `scripts/installer.js` to roughly what @indradha posted and that solved it for me. Going to include it in the release, but I'd be happy to merge a better fix (if one exists) in a future release.

[2018-09-14 06:26] #882 closed

[2018-09-14 06:44] vratojr commented on #821
My template folder is at the project's root: same level of src and dist.
If you have an 'app' folder you are not using the vue-cli-template I think, but the other one. Beware that there are 2 templates for vue.

[2018-09-14 06:56] EddyVerbruggen commented on #904
The optional step has been added. Let's close this in order to release that change. I'll be looking into that second comment later.

[2018-09-14 06:56] #904 closed

[2018-09-14 07:27] jodm opened #907 "Rotated Image -Same Results"
In my application I do the following:

Take Image -> Recognise Text (Locally) -> Rotate Image -> Recognise Text (Locally) -> Rotate Image -> Recognise Text (Locally)

However even after the rotation I’m getting the same original results?

Is there a level of caching in the text recognition functions? Can I somehow clear this cache?

[2018-09-14 18:52] EddyVerbruggen opened #909 "Allow using this plugin as a standalone 'push notification client' - without loading the Firebase SDK"
In case users want to use their own push service (and no Firebase functions), it doesn't make sense to include any Firebase SDKs. That will save a lot of app weight (and potential library conflicts).

Note that on Android you'll still need to use FCM, so some Firebase libraries will still be included by the plugin. On iOS no `Pod`s are required whatsoever.

#### Implementation checklist
- [x] iOS

[2018-09-16 10:40] abhayastudios commented on #905
Yeah as I wrote in #895 [this commit](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/commit/4e1c502b7e8963691beb2f099688823507780181#diff-dc840b87fef4416b36741b07a01fdea3) undid my changes (probably by mistake). I will submit a new PR to redo them.

[2018-09-16 10:54] EddyVerbruggen commented on #905
I apologize if this got somehow removed. That was indeed not the intention.

[2018-09-16 19:39] Reached commented on #906
@spencercap I managed to get it running today using the new Vue template. So the difference from your linked repo is that I am running the `firebase.init()` inside of my `created()` method on the main Vue instance, also remember to `rm -rf` your platforms folder.

Hope it helps!

[2018-09-16 19:43] #905 closed

[2018-09-17 07:41] EddyVerbruggen commented on #667
@larssn  Absolutely, but workers only allow sending plain JS objects back and forth, and this implementation requires sending native objects. I even implemented entirely in native Java, but still, that native code needs to call back to JS while it's running, forcing it to go back to the main thread.

[2018-09-17 19:10] SalehMahmood commented on #701
@EddyVerbruggen I'm having this issue in version 6.8.1 "Unable to copy google-services.json"
So I looked up in the hook file `firebase-copy-google-services.js`.

Why you're checking for the destination file. `fs.existsSync(path.dirname(destinationGoogleJson))` and the `fs.existsSync(path.dirname(destinationGoogleJsonAlt))`?.

I mean if you're using this hook to copy the file to the destination, wh

[2018-09-17 19:47] EddyVerbruggen commented on #701
@SalehMahmood That code is checking the *file* to copy exists, and the *folder* to copy to exists as well. See the docs of [path.dirname](https://www.w3schools.com/nodejs/met_path_dirname.asp).

Those lines have been in the code since 2016 so I don't think they are the problem in your case, but dunno what is - perhaps this explanation helps somehow.

[2018-09-17 20:03] gimox commented on #702
And news?

[2018-09-18 09:01] bdrobinson commented on #793
@neil-119 thanks very much for this! I had a similar issue upgrading to `react-native` 0.57 and adding in your `implementation 'com.android.support:design:27.1.0'` line seemed to fix it for me too. Do you know why that line was needed?

[2018-09-18 09:05] parnekov commented on #389
How sing in other different ways to firebase user with the same email?

[2018-09-18 14:52] tosettil-polimi opened #913 "Execution failed for task ':app:processDebugResources'."
Hi,
I followed the instructions of [this post](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/issues/728) but even after entering the dependencies in app/App_Resources/Android/app.gradle the problem persists. below the output of the cli

[code]

Can someone help me?
thanks to all

[2018-09-18 15:28] tosettil-polimi commented on #913
Resolved with insert

`compileSdkVersion 27`

[2018-09-18 15:28] #913 closed

[2018-09-19 14:03] muratcorlu commented on #626
Could you manage to fix this? I also have same problem.

[2018-09-19 17:10] #909 closed

[2018-09-19 17:57] EddyVerbruggen commented on #813
Even with the nativescript-admob code applied I get that error - I've removed this logic for now.

[2018-09-19 17:57] #813 closed

[2018-09-19 19:27] EddyVerbruggen commented on #894
Hey guys, thanks for the feedback here. I've changed the implementation to what @Danziger suggested and confirmed that works really well. Included in 7.0.0.

[2018-09-19 19:27] #894 closed

[2018-09-20 08:04] telcy commented on #900
use `firebase.firestore.collection('users')` instead of `firebase.firestore().collection('users')` and it should work

[2018-09-21 09:55] EddyVerbruggen opened #915 "Analytics collection was incorrectly disabled by default since 6.7.0"
Unless you explicitly [opted in for analytics](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/958b4639c557b3aee80c044fe917acffdbea27a7/docs/ANALYTICS.md#analyticssetanalyticscollectionenabled), it was disabled. I actually meant for it to be *enabled* by default. Let's fix this.

[2018-09-21 17:10] EddyVerbruggen commented on #806
FYI I've altered the script in package.json to generate the typings for Android. Also pushed the Cloud Functions typings to the repo, and added logic to the installation script to add the Functions libraries if the user wants them.

[2018-09-22 08:00] ErgoFriend opened #916 "reLogin with another google account"
I did login with my main google account and logout, then I do re-login....
But app force me to login with main account :(
I want to select sub account!!!!
```prompt: "select_account"``` doesn't work...
I tried ↓  , but it doesn't work too.
[code]
How do I select google account when I login ?

[code]

[2018-09-23 19:46] EddyVerbruggen commented on #900
Thanks for the assistance, @telcy!

[Here's an app](https://github.com/EddyVerbruggen/footplr) I'm building using Firestore, Cloud Functions, and the NativeScript-Vue 2.0 template.

[2018-09-23 19:46] #900 closed

[2018-09-23 19:52] EddyVerbruggen commented on #906
Thanks all!

I've also been tinkering with the 2.0 template this weekend and, MAN, it's so much easier to use with this plugin. It's as simple as the other frameworks now actually. [Here's the app](https://github.com/EddyVerbruggen/footplr) I'm building using Firestore, Cloud Functions, and the NativeScript-Vue 2.0 template.

[2018-09-23 19:52] #906 closed

[2018-09-23 19:54] EddyVerbruggen commented on #792
Thanks for helping each other!

I've also been tinkering with the 2.0 template this weekend and those hook issues are no longer present because of the simpler project structure. It's as simple as the other frameworks now actually. [Here's the app](https://github.com/EddyVerbruggen/footplr) I'm building using Firestore, Cloud Functions, and the NativeScript-Vue 2.0 template.

[2018-09-23 19:54] #792 closed

[2018-09-23 19:56] EddyVerbruggen commented on #712
Thanks all!

I've also been tinkering with the 2.0 template and I don't see any of the issues that were reported in the past (especially around hooks this plugin requires, as the project structure is now similar to any other NativeScript project). [Here's the app](https://github.com/EddyVerbruggen/footplr) I'm building using Firestore, Cloud Functions, and the NativeScript-Vue 2.0 template.

[2018-09-23 19:56] #712 closed

[2018-09-24 11:52] alereisan opened #918 "Crashlytics.setUserIdentifier(id: string) ?"
Is it possible to use Crashlytics.setUserIdentifier()?

Documented here: https://docs.fabric.io/android/crashlytics/enhanced-reports.html#user-information

[2018-09-24 12:42] Reached commented on #906
I imagine that the new 2.0 template will make everything easier, also for awesome plugin developers as yourself @EddyVerbruggen - thanks for all your hard work and contributions to the community 🙏 !!

[2018-09-25 09:00] spencercap commented on #906
agreed 🙏🏼thank you very very much for all the significant contributions @EddyVerbruggen
i'll be tinkering with this very soon.

[2018-09-25 09:21] hoatructhanhlam opened #920 "[MLKIT barcode in android & Nativescript-Vue 2.0.0] open again seem error `TypeError: Cannot read property 'getHolder' of null`"
First open, it fine. But when I back and try open again I got log error:
I using MLKIT with Nativescript-Vue latest on android
[code]

[2018-09-25 10:22] BaronChen opened #921 "Error in firebase.mlkit.recognizeTextCloud: TypeError: Cannot read property 'android' of undefined"
Hi there,

When running the following code
[code]

I am getting an error in the console log:

[code]

I think the error come from src/mlkit/textrecognition/index.android.ts: 106 (come.google is undefined in com.google.android.gms.tasks.OnSuccessListener).

Thank you very much for you help.

[2018-09-25 11:30] spencercap commented on #805
@EddyVerbruggen thanks so much for adding this feature! 💯

any chance `arrayUnion` and `arrayRemove` can be added too? they're documented at the bottom of [this page of the firestore docs](https://firebase.google.com/docs/firestore/manage-data/add-data).

[2018-09-25 11:33] EddyVerbruggen commented on #805
@spencercap You're welcome! Would you mind opening a new issue for this feature request? It seem like something I could add pretty easily.

[2018-09-25 11:44] #806 closed

[2018-09-25 12:14] BaronChen commented on #921
Solved by remove another plugin.

[2018-09-25 12:14] #921 closed

[2018-09-25 12:39] spencercap opened #922 "Manipulating Array fields in Firestore documents via FieldValue"
hi! would it be possible to support `arrayUnion` and `arrayRemove` for arrays in a firebase firestore document? please see the [official docs for updating firestore documents](https://firebase.google.com/docs/firestore/manage-data/add-data) for reference.

this is similar to issue #805 regarding accessing serverTimeStamp via FieldValue with `firebase.firestore().FieldValue().serverTimestamp()` or

[2018-09-25 12:40] spencercap commented on #805
@EddyVerbruggen sure thing, see issue #922

[2018-09-25 17:53] Ajauregui69 opened #923 "firebase.init error: ReferenceError: Can\'t find variable: FIROptions"
Im getting this error, and i cant find a way to solve it, please help

[2018-09-25 20:49] evertonrobertoauler commented on #920
Same problem here, after upgrading from 6.7.0 to the latest versions I started to get this error too only on Android, the first time the component loads it works fine, but de second time it crashes. I'm using Nativescript w/ Angular

[2018-09-25 20:50] EddyVerbruggen commented on #922
Done, [chcek the updated docs](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/a3a2cd06b28124f871c70cdec94704ce6ab70cc8/docs/FIRESTORE.md#adding-to-arrayunion-and-removing-from-arrayremove-arrays). Version 7.1.0 will be release later this week.

[2018-09-25 20:50] #922 closed

[2018-09-25 23:45] seanstanden opened #924 "CocoaPods dependency causing build failure"
Getting:

[code]

When running an iOS build. Only started happening today on our daily builds. Not sure if there's anything you can do, I've found a corresponding ticket here:

https://github.com/firebase/firebase-ios-sdk/issues/1845

describing the problem, with a workaround.

[2018-09-26 07:42] EddyVerbruggen commented on #924
If bumping to Firebase iOS SDK 5.8.1 is the solution then that's a relatively easy fix. However, the new Xcode 10 buildsystem doesn't seem to play nice with that version on NativeScript.

While on the subject of Xcode 10: did your daily build server switch to Xcode 10 around the time you saw the failure?

[2018-09-26 07:48] seanstanden commented on #924
No it’s still running Xcode 8

[2018-09-26 09:27] patrick-nurt commented on #924
We're seeing the same issue since last night, running xcode 9.3

[2018-09-26 09:34] EddyVerbruggen commented on #924
@patrick-nurt What changed yesterday?

[2018-09-26 09:36] patrick-nurt commented on #924
Updated to latest version of your plugin yesterday, was building fine last night - this morning we get the same error in travis: ```Analyzing dependencies
[!] CocoaPods could not find compatible versions for pod "GoogleUtilities/AppDelegateSwizzler":
In Podfile:
Firebase/Core (~> 5.6.0) was resolved to 5.6.0, which depends on
FirebaseAnalytics (= 5.1.1) was resolved to 5.1.1, which depends on
Goog

[2018-09-26 09:51] EddyVerbruggen commented on #924
My brain has trouble making sense of this as there are too many variables (Xcode versions, NativeScript versions, Plugin versions, Pod versions) and inconsistent behavior (worked after the upgrade, but later it didn't).. so this needs to be pinned down further.

I'm currently already in Xcode 10's "new build system" hell, figuring things out between NativeScript 4 and 5 (@next) versions which mess

[2018-09-26 10:56] mpochron opened #925 "[iOS] > Invalid 'podifle' file: syntax error, unexpected keyword_end, expecting end-of-input."
version 7.0.1

![image](https://user-images.githubusercontent.com/7736131/46075669-7dccf880-c18b-11e8-8494-0496216b7e5c.png)

![image](https://user-images.githubusercontent.com/7736131/46075704-91785f00-c18b-11e8-9db6-717af7de8a54.png)

[2018-09-26 11:20] mpochron commented on #925
It's related to https://github.com/NativeScript/nativescript-cli/pull/3900

[2018-09-26 11:30] EddyVerbruggen commented on #925
OK, see that PR for a workaround if you need it now, otherwise wait a day or 2 for a new CLI version to be pushed. Follow-up in that issue.

[2018-09-26 11:30] #925 closed

[2018-09-26 11:41] spencercap commented on #922
awesome, will look out for it!

thanks @EddyVerbruggen

[2018-09-26 13:33] keerl commented on #924
I am having the same issues from a brand new project. Using Sidekick cloud build.
[code]

[2018-09-26 13:45] EddyVerbruggen commented on #924
Can anyone share a project I can clone to reproduce this issue, along with the NativeScript and Xcode versions that are used to build the project? I simply can't reproduce this specific issue..

[2018-09-26 14:09] Macuzzin commented on #900
Ah @telcy - it worked a charm! Thanks so much and much appreciated. Thanks for the app reference @EddyVerbruggen :)

[2018-09-26 14:10] keerl commented on #924
I can, but I am not sure what version of Xcode is being used on Sidekick Cloud Builds.

[2018-09-26 14:11] Aakashchauhan17 commented on #924
I am having the same issue from yesterday. Getting "Build failed". I have not uploaded it to Github yet. But sure can share google drive link to download nativescript project.

[2018-09-26 14:32] jnorkus commented on #924
I have created a PR that fixes the issue by applying the workaround in this issue:
https://github.com/firebase/firebase-ios-sdk/issues/1845

[2018-09-26 15:22] d3mac123 opened #927 "RealTime Database Query while moving is crashing the app"
This is a really weird issue I am having. If I query my real-time database while walking/moving my app crashes. If I stop and try the same code, everything works fine.

This is the log while stopped (this is the working fine scenario):
`CONSOLE LOG file:///app/flights-page.js:412:20: Listview click:1534589643098
UIColor created with component values far outside the expected range. Set a breakpoint

[2018-09-26 15:36] Aakashchauhan17 commented on #924
I still have issue after Adding "pod 'GoogleUtilities', '5.2.3'" and changing Firebase/core to 5.8.1

[2018-09-26 15:36] EddyVerbruggen commented on #924
@Aakashchauhan17 What's the exact issue with that config?

[2018-09-26 15:37] EddyVerbruggen commented on #924
Note that even though I still have no way to reproduce the issue I will add that temp fix (`pod 'GoogleUtilities', '5.2.3'`) to 7.1.0 and we'll see what happens.

[2018-09-26 15:38] #924 closed

[2018-09-26 15:44] EddyVerbruggen commented on #920
Please share a repo I can easily clone and reproduce this issue.

[2018-09-26 15:47] Aakashchauhan17 commented on #924
@EddyVerbruggen . I am getting this kind of error when trying to tun command 'tns run ios'

Executing before-shouldPrepare hook from /Users/Aakash/Documents/Projects/aakashcam/hooks/before-shouldPrepare/nativescript-dev-webpack.js
Skipping prepare.
Building project...
Xcode build...
ld: warning: directory not found for option '-F/Users/Aakash/Library/Developer/Xcode/DerivedData/aakashcam-bwdqcnztn

[2018-09-26 15:57] EddyVerbruggen commented on #924
@Aakashchauhan17 You're using Xcode 10 and running into a compatibility issue with NativeScript. I'm actually trying to help fix this type of errors in the CLI. It has nothing to do with this plugin.

[2018-09-26 15:58] Aakashchauhan17 commented on #924
@EddyVerbruggen
To produce an issue I think you just need to implement firebase into nativescript app. and I am using image labeling in app with  "tns-ios": {
      "version": "4.2.0"
and emulator is running on ios 12.

[2018-09-26 16:00] EddyVerbruggen commented on #924
Yep. See my previous comment. Using Xcode 9 doesn't give you this headache, so it's because of the new Xcode 10 build system.

[2018-09-26 16:00] Aakashchauhan17 commented on #924
It was working fine until tomorrow. And I haven't changed anything in code.

[2018-09-26 16:01] Aakashchauhan17 commented on #924
Ok. Yes. now I understand. Thanks. So I might need to shift to use xcode 9

[2018-09-26 16:03] EddyVerbruggen commented on #860
With plugin version 7.0 this was fixed.

[2018-09-26 16:03] #860 closed

[2018-09-26 16:11] EddyVerbruggen commented on #924
Yeah, you can download it from Apple (I did it as well to be able to switch between 9 and 10 when needed). And also keep an eye out on the issues @ https://github.com/NativeScript/nativescript-cli/issues

[2018-09-26 16:14] EddyVerbruggen commented on #924
7.1.0 has been released, with the alledged temp fix for the OP's `[!] CocoaPods could not find compatible versions for pod "GoogleUtilities/AppDelegateSwizzler":` issue.

[2018-09-26 16:19] jlooper commented on #924
If you need a project to tinker with, you can use Picme: github.com/jlooper/picme

[2018-09-26 16:34] Aakashchauhan17 commented on #924
@EddyVerbruggen Ok. Cool. I will try to do it with xcode 9.4.1 and firebase sdk 7.1.0 .  And thank you so much to look further into this issue

[2018-09-26 21:40] breningham commented on #923
I had this issue, check your firebase.nativescript.json file, and make sure that ios is set to true, remove the ios platform, and re-add and build ios

[2018-09-26 22:24] codealvarez opened #928 "Uncomment firebase-messaging in the plugin's include.gradle first"
Hi guys.

I have a problem in my second build of the app in Android. When the app is running for first time in device works good getting de token device for push notifications. But when I make any changes in code or reopen the app the function getCurrentPushToken() shows this error:

**Uncomment firebase-messaging in the plugin's include.gradle first**

A temporary solution is saving the token in

[2018-09-27 00:08] seanstanden commented on #924
@EddyVerbruggen builds succeeded this morning with latest version. Thank you very much for the quick response. Really appreciated. Sorry for any headaches. :)

[2018-09-27 02:50] hoatructhanhlam commented on #920
Sorry for my delay, this is respo contains the content above
[https://gitlab.com/phamvandung/mlkit-nativescript-vue](url)

[2018-09-27 08:05] EddyVerbruggen opened #929 "Push Client-only mode includes auth and realtimdb on Android"
Let's remove those.

[2018-09-27 08:06] #929 closed

[2018-09-27 08:38] virtualbjorn commented on #924
also have this issue when I tried building with NS Sidekick

[2018-09-27 08:39] virtualbjorn commented on #924
<img width="869" alt="screen shot 2018-09-27 at 4 39 24 pm" src="https://user-images.githubusercontent.com/19782129/46133789-eb545400-c273-11e8-95f2-2a05ae8f8b78.png">
here's a screenshot

[2018-09-27 08:43] jnorkus commented on #924
@virtualbjorn make sure you have this line in `app.gradle`:
`googlePlayServicesVersion = "15.0.1"`

[2018-09-27 15:50] larssn opened #930 "How do I get a hold of the User interface?"
It's located here:
https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/c543b539771b1996bb1a6d81e4191f681d0ba516/src/platforms/web/typings/firebase-webapi.d.ts#L36

`import * as firebase from 'nativescript-plugin-firebase/app'` doesn't seem to contain that interface.

[2018-09-27 15:53] EddyVerbruggen commented on #930
That typings file should not be used. I use it during plugin development to try and keep the plugin interface as close as possible to that reference.

Try this one: `import { User } from "nativescript-plugin-firebase";`

[2018-09-27 15:57] larssn commented on #930
Thanks for the snappy response.

Let me elaborate what I'm working on. I'm trying to bridge AngularFire2 and your delicious plugin. But there are inconsistencies in the API's. F.ex the User in `import { User } from "nativescript-plugin-firebase";` is incompatible with https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/c543b539771b1996bb1a6d81e4191f681d0ba516/src/platforms/web/typi

[2018-09-27 16:02] EddyVerbruggen commented on #930
Ah yes, I always wanted to do that as well but never got around to it. Happy to see you're trying to do it!

The first step I had to take was making a 'web api' version of the plugin, because as you know AF2 builds on top of that. The web api-compatible interfaces live in https://github.com/EddyVerbruggen/nativescript-plugin-firebase/tree/master/src/app, but you're right, the `User` itself has not

[2018-09-27 16:04] janossuta commented on #924
@virtualbjorn have you been using the latest version of `nativescript-plugin-firebase (7.1.0)`? I had the same issue but after I updated to the latest version the build was completed successfully with the nativescript sidekick.

[2018-09-27 16:10] larssn commented on #930
We're in the middle of converting a rather big Angular project to NativeScript, and it is pretty dependent on AF2. I've tasked myself with figuring out the leanest way to get our database layer working again, and it's either refactoring out AF2, or making it support your plugin (I'm fond of the latter idea).

I haven't decided what route I'm taking yet (need to decipher to workload involved), but

[2018-09-27 16:19] EddyVerbruggen commented on #930
Godspeed to you!

I'm here to assist if you need anything.

[2018-09-27 18:03] Mflm opened #931 "Firebase not working with Wi-Fi"
Hi guys.
I'm facing a little problem right now.

I have a multi chat with login, with a **phone data** the functions works well but the **childEvent** is called 2 or 3 times.

Maybe because I call the function in the start?

`exports.mflm = function(args)
{
while (chats.length)
		{
			chats.pop();
		}
firebase.addChildEventListener(onChildEvent, "/chats/chat"+global.uid).then(
    result => {

[2018-09-27 19:36] james-criscuolo opened #932 "Some minimal configurations broken since 6.8.1"
My `firebase.nativescript.json` is
[code]
When attempting to upgrade from 6.8.0 to latest (7.1.0), Upon init for android I get
[code]

This started occurring between 6.8.0 and 6.8.1, and upon completely clean install (no platforms or node_modules directory). If I turn on authentication (seems to be the only change for 6.8.1), it seems like initialization works but then I get
[code]

i checked the

[2018-09-27 20:40] james-criscuolo commented on #932
I noticed that `init` is not called anywhere, but adding it allowed me to reproduce the error.

[code]

I guess it is unnecessary to call init if you only use messaging? If that is the case, I'll probably remove it from my project, but this used to work as of 6.8.0.

[2018-09-28 08:08] mikaelkalt commented on #923
I'm struggling with the same issue. Removing the platform didn't help in my case. @Ajauregui69 any progress on your side?

[2018-09-28 08:58] klever34 commented on #821
@EddyVerbruggen I am having this issue using firebase with NS-Vue

System.err: TypeError: Cannot read property '**FirebaseAnalytics**' of undefined
System.err: File: "file:///data/data/org.nativescript.application/files/app/app.js, line: 52594, column: 41
System.err:
System.err: StackTrace:
System.err: 	Frame: function:'runInit', file:'file:///data/data/org.nativescript.application/files/app/app.j

[2018-09-28 15:39] Ajauregui69 commented on #923
i did what @breningham said, insted of tns run ios --bundle i write tns build ios and the i run the project and then i said that my team id dindnt have permition to apply the push notification.

[2018-09-29 15:40] #903 closed

[2018-09-29 16:29] ShaimaaKhamees opened #933 "firebase.init error: TypeError: Cannot read property 'getInstance' of undefined"
i try to use firebase plugin in my nativescript core(not angular) project
and i noticed that reference.d.ts file not exist in my project to put this line
"<reference path='./node_modules/nativescript-plugin-firebase/firebase.d.ts'/>"
i try to install and reinstall the plugin and remove /add platform android without any changes and i stuck in this step when i put the following code

firebase.init({

[2018-09-30 09:45] abhayastudios commented on #762
Hi @jmfsilva!

I am doing something similar where I set the screen name in the `AppComponent` based on the route name that I pass in the data like this:

[code]

My question, however, is whether you got this to work properly? I see that the callback is fired properly, but I don't see the screen name show up in Firebase analytics?

Thanks!

[2018-09-30 09:57] jmfsilva commented on #762
On the Firebase Console if i select screen_view event, under user engagement if i pick Screen name i can see the components name from Angular.

[2018-09-30 10:17] abhayastudios commented on #762
Thanks @jmfsilva!

The thing is that I go to the same place and under class name I see the generic classes, but under screen name it shows up empty. Do you see them immediately or do you need to wait for a while to accumulate?

[2018-09-30 10:29] jmfsilva commented on #762
Firebase Analytics may take a 3h to 6h to update with new data. On the top right side of the screen there is a calendar to filter the data that is displayed by date. The default filter excludes the current day because the data is not displayed in really time, this is done to avoid incomplete data for current day to be displayed. You can select the current day on the filter, but you will not see re

[2018-09-30 10:32] abhayastudios commented on #762
Ok that might explain. Thanks again @jmfsilva!

[2018-09-30 10:54] jmfsilva commented on #658
@EddyVerbruggen if i use phone auth on simulator it actually opens reCAPTCHA using this plugin... But for me it works perfectly. The same code on real device will not open reCAPTCHA.

[2018-09-30 12:01] abhayastudios commented on #762
For anyone reading this later: in my case I had to explicitly set the `analyticsCollectionEnabled` property in `firebase.init()` to `true`. Apparently in my setup it defaulted to false somehow and once I had this in place it started to work.

[2018-09-30 12:55] EddyVerbruggen commented on #762
Hi, which exact plugin version do you use? I think that default has been wrong in some versions, but in the latest few it should be ‘true’.

[2018-09-30 13:00] abhayastudios commented on #762
Hey @EddyVerbruggen I am using `6.8.1`. Oh now I see you have been busy in the last two weeks... Well I guess the leaving the property there won't hurt...

Thanks!

[2018-09-30 13:49] EddyVerbruggen commented on #762
Hey man! Nope, won't hurt. I think indeed 6.8.1 was one of those few versions where the default was wrong.

[2018-09-30 13:50] #762 closed

[2018-09-30 14:07] EddyVerbruggen opened #934 "Add a way for the developer to preload AdMob interstitials"
As suggested in https://github.com/EddyVerbruggen/nativescript-admob/issues/3, AdMob Interstitials need to be reloaded before a user presses a button to show it.

This plugin (and nativescript-admob) have always handled this transparently for you, but to better comply with Google's guidelines I'll add a way to preload the interstitial, which you can show _immediately_ when a user presses a button.

[2018-09-30 14:41] #934 closed

[2018-09-30 23:09] danaric commented on #599
Hello,

I made a test up with all major versions sinde 5.2+ until 6.0 and everything was crashing up. So, after that I tested up the version nativescript-plugin-firebase@5.0.4 and everything seems working very well! :)

[2018-10-01 12:20] larssn commented on #930
So I've been trying to get AF2 working, and given our current deadline, it's not feasible, sadly.

Main obstacles:
- AF2 uses a **lot** of interfaces which have no equivalent in NPF yet. So it would either require a lot of work in NPF, or changing AF2 to use the current NPF interface.
- AF2 uses rollup-js and has a 350 line build script, which I expect would be an obstacle.

Has aligning the Web A

[2018-10-01 16:14] spmamidi commented on #924
+1
CocoaPods could not find compatible versions for pod "GoogleUtilities/MethodSwizzler":
  In Podfile:
    Firebase/Core (~> 5.6.0) was resolved to 5.6.0, which depends on
      FirebaseAnalytics (= 5.1.1) was resolved to 5.1.1, which depends on
        GoogleUtilities/MethodSwizzler (~> 5.2.0)

[2018-10-01 16:21] Mflm opened #936 "Restart listeners"
Hi all

I have an app with wish lists, every user have a list different, but I have a problem. If the user log out, I need to delete the items in the listview, but I need to reset the eventlistener to get the new user's data.

how can I achieve it?

Thanks

[2018-10-01 16:45] Mflm commented on #871
Hi, I need to destroy or reset an eventListener.

What is your solution?

Thanks

[2018-10-01 18:43] halaharr opened #937 "POD file not update after installing the plugin."
Hi,
    I am not sure why the pod file is not update after installing the plugin.
These are the 2 items in the pod file.
pod 'GoogleMaps'
pod 'GoogleMaps'

Please let me know if I amassing any steps.
(1) Installed "tns plugin add nativescript-plugin-firebase"
(2) Added GoogleService-Info.plist and google-services.json to the the project resources.
(3) ran pod repo update
(4) Copied entitlements fi

[2018-10-01 18:44] halaharr commented on #937
Here is my firebase.mativescript.json file contents
{
    "messaging": true,
    "external_push_client_only": true,
    "using_ios": true,
    "using_android": true
}

[2018-10-01 18:59] EddyVerbruggen commented on #937
That’s not a valid combination of config options. Better remove that json file and the platforms folder, then run ‘npm i’.

[2018-10-01 19:08] halaharr commented on #937
Hi,
    Thanks for responding. I removed the firebase.nativescript.json file and removed iOS platform and ran "tns build iOS" and still getting the same message. I am using the plugin just for push notification. Did I need to run anything else to generate firebase.nativesacript.json file?

Thanks for all your help

[2018-10-01 19:08] halaharr commented on #937
I also ran "nom I"

Thanks

[2018-10-01 19:13] EddyVerbruggen commented on #937
Share a repo and I’ll take a look.

[2018-10-01 19:13] #937 closed

[2018-10-01 21:49] hackerunet commented on #924
I'm having this issue as well, and I cannot apply any patch because the patch suggested here:
https://github.com/firebase/firebase-ios-sdk/issues/1845
is over the pod file and the NS build fails so no pod file is created.
How can we fix this?

[2018-10-01 23:51] Aakashchauhan17 commented on #924
You need to first uninstall xcode 10 from application and from the Apple's website go to downloads and select xcode 9.4.x to download. Then you are good to go. It works fine.

[2018-10-02 05:53] EddyVerbruggen commented on #924
Correct. You can also try the “next” (5) version of nativescript which has better Xcode 10 compat.

[2018-10-02 07:05] jnorkus opened #938 "Auth: log out after app rebuild"
Whenever app is rebuilt, Firebase auth asks to log in again. This is annoying for users when they update their app via Google Play or App Store.

I am not sure if this is something that comes with the Firebase native SDKs or happens with NS/plugin.

Any insight on this?

[2018-10-02 07:10] tomylee001001 commented on #933
i have the same problem.
i install my plugin normally and i have "firebase.nativescript.json" file created at my root by installer script.
any help please

[2018-10-02 07:40] agarzas commented on #933
Same problem here, I´m also using nativescript angular 6.1 and nativescript plugin firebase 7.1.1...

I tried removing the platform/android, reinstalling the plug-in without success.

[2018-10-02 07:54] felix-idf commented on #933
I have the same problem using NativeScript 4.2 without Angular and nativescript-plugin-firebase 7.1.1.
No success after removing platform android, re-installing the plugin and building the app with tns run android --syncAllFiles.

[2018-10-02 08:02] EddyVerbruggen commented on #938
Isn't it because the CLI actually removes and adds the app? That's not what appstores do.

[2018-10-02 08:03] EddyVerbruggen commented on #933
Share a repo that easily shows the issue please.

[2018-10-02 08:06] jnorkus commented on #938
Initially I thought this is only seen while developing, i.e. when working with the CLI. But now we're observing the same issue with the app stores.

[2018-10-02 08:08] EddyVerbruggen commented on #938
I guess it depends on how you handle login, and where Firebase caches those credentials. I don't have much knowledge about that so you'd better Google a bit.

[2018-10-02 08:25] cmckni3 opened #939 "cloud function never resolving"
`handleCompletion` is never called by `callable.callWithObjectCompletion` and `callable.callWithCompletion`.

Followed [installation instructions](https://github.com/EddyVerbruggen/nativescript-plugin-firebase#installation) and [cloud functions instructions](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/FUNCTIONS.md#enabling-cloud-functions). Installed the [demo c

[2018-10-02 08:31] felix-idf commented on #933
[PluginFireBaseIssue.zip](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/files/2437072/PluginFireBaseIssue.zip)

Just open the app, tap the button to call the init method and you see the message

[2018-10-02 08:36] EddyVerbruggen commented on #939
Do you have something like this? https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/ff95c77c7b09acf66654f53c52e8ae0c8d7b1c78/demo/firebasefunctions/functions/src/index.ts#L15-L19

[2018-10-02 09:53] EddyVerbruggen commented on #933
Thanks, @felix-idf, that really helps. I don't think I've tested recent versions with this `firebase.nativescript.json` config (only `using_android` and `messaging` are `true`):

[code]

Looking into it.

[2018-10-02 10:19] AlessandroFBK commented on #928
Same for me, any solutions?

[2018-10-02 10:22] job111 opened #940 "All texts goes to the top of the screen in Chat UI page"
i have a Chat UI page where users can text each others,but the problem is for example when user X send a text it goes to the top and when user Y reply the text should be under the text that was send by user X but no it also goes to the top above the text that was send by user X, it looks like sorting order of data to Firebase, but my sorting order seems to be correct

here is my code
`import {Inje

[2018-10-02 10:29] EddyVerbruggen commented on #940
What the.. I don't see why this is a plugin issue.

[2018-10-02 10:29] #940 closed

[2018-10-02 10:30] EddyVerbruggen commented on #928
Can anyone show this issue in a repo, so I can reproduce it?

[2018-10-02 13:15] hackerunet commented on #924
no need, check the version of the plugin in package.json update it.

[2018-10-02 13:33] cmckni3 commented on #939
@EddyVerbruggen yep except `exports.helloName = ...` due to lack of import/export support. Calling from Firebase cli works.

[2018-10-02 13:34] cmckni3 commented on #939
Do you think the Firebase sdk needs to be updated from 5.6.0 to 5.9.0?

[2018-10-02 15:19] EddyVerbruggen commented on #939
No idea. I copied my function from their docs.

[2018-10-02 15:30] halaharr opened #941 "Not seeing push notification on iOS but onMessageReceivedCallback does get triggered."
Hi,
      I am seeing this behavior. I can see the alert message I have in onMessageReceivedCallback in foreground and if the app is closed I don't see any push notification but the Minuit I open the app I am seeing the message through my alert. How canI make is show up as true push notification in both foreground and background.

Here is my onMessageReceivedCallback:
onMessageReceivedCallback: (m

[2018-10-02 19:19] cmckni3 commented on #939
@EddyVerbruggen where is the `Podfile` and `include.gradle` located for this plugin? I found this [documentation](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/REMOTECONFIG.md#enabling-remote-config) but those files do not exist.

[2018-10-02 19:51] EddyVerbruggen commented on #939
In the same location as any other plugin: `node_modules/<plugin>/platforms/[ios/Podfile | android/include.gradle]`.

But those should actually not be edited manually; if you need to change them, remove `firebase.nativescript.json` (app root) and run `npm i`. If anything was changed in that json file, remove the `/platforms` folder.

[2018-10-02 20:04] halaharr opened #942 "Error during init of firebase in Android"
Hi,
     I am getting the following error when I run on android during the init of firebase.
 TypeError: Cannot read property 'getInstance' of undefined.

Here is the code I am using:
firebase.init({
            onMessageReceivedCallback: message => {
                console.log("Push message received");
                setTimeout(() => {
                    alert({
                        title:

[2018-10-02 20:05] spencercap commented on #586
+1
support for [`snapshot.docChanges()`](https://firebase.google.com/docs/firestore/query-data/listen#view_changes_between_snapshots) and the corresponding `type` of the objects in the returned array would be a great feature!

[2018-10-02 20:15] EddyVerbruggen commented on #942
Duplicates #933

[2018-10-02 20:15] #942 closed

[2018-10-02 20:31] cmckni3 commented on #939
oh ok. I see you are using a script to generate them. I have seen [other](https://github.com/nstudio/nativescript-checkbox/blob/master/platforms/ios/Podfile) [approaches](https://docs.nativescript.org/plugins/cocoapods#wrap-the-library-as-nativescript-plugin)

[2018-10-02 20:38] EddyVerbruggen commented on #939
Yes, I have [a ton of those as well](onsole.firebase.google.com), but this plugin should *only* include Pods/.aars the developer wants. Otherwise your project be huge while you only want fi firestore.

[2018-10-03 07:27] safaldas opened #943 "Orderby() with where() does not work with onSnaphot"
[code]

[2018-10-03 09:31] EddyVerbruggen commented on #943
Yep. Add a catch to your query Promise and all will be revealed. Hint: there's an index missing.

[2018-10-03 13:39] paweldziura commented on #839
Now in new version I can also see this behaviour when navigating back to screen when barcode scanner was used (tested on Android).

[2018-10-03 18:07] suparnavg opened #944 "Error: Uncaught (in promise): Firebase already initialized"
I'm running firebase.init() in the first major component that loads. This component checks if the user is logged in and redirects appropriately - all good till this point.

Now if I "back" out of the app (Android device used for testing), and try to launch the app again, I get the error "Error: Uncaught (in promise): Firebase already initialized".

Is there a way to resolve this? Maybe by destroyi

[2018-10-03 18:18] d3mac123 commented on #927
This case is related to Mapbox (https://github.com/EddyVerbruggen/nativescript-mapbox/issues/265)

[2018-10-03 18:18] #927 closed

[2018-10-03 21:06] james-criscuolo commented on #932
My issue appears to have been fixed with the release of 7.1.2, I'm now seeing the same issue as an existing issue:
https://github.com/EddyVerbruggen/nativescript-plugin-firebase/issues/928
So I will close this, and attempt to replicate over there. I believe the behavior also started with 6.8.1

[2018-10-03 21:06] #932 closed

[2018-10-03 22:58] spmamidi commented on #924
No luck. Eventhough i downgraded to xcode 9, firebase 7.1. i am getting error with methodswizzler.
Anyworkarounds are highly appreciated.

Firebase/Core (~> 5.6.0) was resolved to 5.6.0, which depends on
      FirebaseAnalytics (= 5.1.1) was resolved to 5.1.1, which depends on
        GoogleUtilities/MethodSwizzler (~> 5.2.0)

[2018-10-03 23:09] hackerunet commented on #924
update the firebase plugin to 7 at least.

El mié., 3 de oct. de 2018 5:58 PM, spmamidi <notifications@github.com>
escribió:

[2018-10-04 02:43] spmamidi commented on #924
No Luck. I have updated to 7.

[2018-10-04 09:04] jacobypl commented on #928
Some ideas how to resolve this problem? I have same issue on 7.1.2.

[2018-10-04 09:44] felix-idf commented on #632
I have the same issue with the latest version of this plugin (7.1.2) when launchMode is set to **singleTask**.
The problem is not only that the callback is not onMessageReceivedCallback , I don't see any notification at all (there is nothing in the notification tray).

Before, I used the nativescript-push-notifications plugin and this issue did not occur with that plugin.
But since it is marked as

[2018-10-04 14:40] james-criscuolo commented on #928
I mentioned this in the ticket I closed above (#932), but I believe a change between 6.8.0 and 6.8.1 caused this. I can not test without altering my config because one of the issues was resolved by 7.1.2, but on 6.8.1 if I were to enable authorization then I get this issue.

I've been trying to replicate with push-demo in this repo but have not had any success so far. Comparing the built-out platf

[2018-10-05 08:55] safaldas commented on #943
@EddyVerbruggen  but onSnapshot is returning void, get returns promise
https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/70b88516c2a09da53a33d7a4c0bc23bd37f274f1/src/firebase.d.ts#L659

[2018-10-05 09:41] EddyVerbruggen commented on #943
Just rewrite it to something like:

[code]

And you'll see the issue.

[2018-10-05 10:04] tingfong214 opened #945 ".startAfter() is not working"
[code]

The order is by some scoring order. (number)
Without .startAfter(), the database can be easily retrieved.
However, as .startAfter() is added, it fails and nothing happens.
Did I do something wrong? Thank you

[2018-10-05 10:27] safaldas commented on #943
Thanks yeah the composite index creation.

[2018-10-05 10:49] EddyVerbruggen commented on #945
According to the documentation and demo app `startAfter` should be used with a 'document reference'.

[2018-10-05 19:18] ouss4m4 commented on #923
do you need a developers account for that ?
because im set with android simulator, and it's working
just not the IOS,
any news ?

[2018-10-05 19:19] ouss4m4 commented on #621
i can't seem to find a solution for that :(

[2018-10-05 20:37] victordcp commented on #920
Same problem here, the exact same case from @evertonrobertoauler.

[2018-10-06 06:09] tingfong214 commented on #945
Thank You so much

[2018-10-06 08:28] #945 closed

[2018-10-06 11:43] erperejildo commented on #389
This is the most updated documentation to log in using `@angular/fire/auth`, the new library:
https://github.com/angular/angularfire2/blob/master/docs/auth/getting-started.md

When I log in twice I get this issue but as I commented above we can't just allow multiple accounts if we want to have always the same user ID

[2018-10-06 13:07] makesitenow commented on #428
Any change on email update?

[2018-10-07 11:30] abhayastudios opened #947 "Nested GeoPoint gets saved as object in Firestore on iOS"
GeoPoint gets saved as object in Firestore on iOS with plugin `7.1.2` (and `6.8.1` for that matter). On Android it works fine.

[2018-10-07 11:31] donny08 opened #948 "Error in firebase.init: ReferenceError: Can't find variable: FIROptions"
I added **"nativescript-plugin-firebase"**: "^7.1.2" plugin. I getting error running on ios simulator, but works fine in Android

[code]

`firebase.init error: ReferenceError: Can't find variable: FIROptions`

Can anyone help me out.

[2018-10-07 11:44] EddyVerbruggen commented on #947
Hi, can you share the call you use?

[2018-10-07 19:45] dhagej commented on #928
I'm facing the same issue. I migrated from the other deprecated plugin for push notification, but not even able to init and get a token.

[2018-10-07 22:19] hugomejia commented on #769
@shaqaruden, Eddy is right, in a single Vue file you just have to change the syntax from ` (scanResult)="onBarcodeScanningResult(event)"` to ` @scanResult="onBarcodeScanningResult(event)"`, works like a charm.

[2018-10-08 06:09] EddyVerbruggen commented on #928
Take a look at demo-push in this repo. If you can’t make it work share a repo and I might take a look.

[2018-10-08 06:39] #920 closed

[2018-10-08 09:04] jacobypl commented on #928
@james-criscuolo u have right. I went back to 6.8.0 (6.8.1 is bugged with #933 ) and there is no issue on this version. Maybe that will be helpful for u @EddyVerbruggen

[2018-10-08 11:16] abhayastudios commented on #947
@EddyVerbruggen let me know if you were able to reproduce or whether you need me to create a little app to demonstrate the issue

[2018-10-08 11:30] suparnavg commented on #944
@EddyVerbruggen if possible, I'd really appreciate any pointers that you could share here, as it is holding up a deploy of our app

Thanks!

[2018-10-08 15:29] EddyVerbruggen commented on #947
That's strange.. I just tested this in the demo-ng app (iOS sim, latest plugin version):

[code]

Result:

<img width="553" alt="screenshot 2018-10-08 at 17 28 06" src="https://user-images.githubusercontent.com/1426370/46618353-8cb69200-cb1f-11e8-8f31-a7da27c7dc8c.png">

I will try `.set` as well.

[2018-10-08 16:29] davecoffin commented on #948
run `pod repo update`.
If youre using only the messaging feature, you dont need to call `init` as far as I understand it, @EddyVerbruggen correct me if I'm wrong.

[2018-10-08 16:32] davecoffin opened #950 "Cloud Messaging: Not getting a token back on iOS"
This worked for me initially but has stopped working.
When building on a device I get this:
[code]

then when I call `areNotificationsEnabled` I get this:
[code]
and it returns `true`

then when I call `getCurrentPushToken` the token is `undefined`.

Any ideas why this would be happening?

[2018-10-08 16:50] EddyVerbruggen commented on #948
Correct!

[2018-10-08 17:13] davecoffin commented on #950
FYI, switching out of "lite" mode, returns me a token, but now I get the following error that crashes my app when I receive a notification:

`Terminating app due to uncaught exception 'NativeScript encountered a fatal error: ReferenceError: Can't find variable: FIRAuth`

Thats this line in messages.js:
[code]

[2018-10-08 17:19] davecoffin commented on #950
Looks like the project *needs* to have Firebase Authentication turned on to use messaging. I enabled Authentication and now everything works fine.

[2018-10-08 18:15] EddyVerbruggen commented on #950
Hey @davecoffin, sorry, seems like I missed that one. I've now guarded it, so with 7.1.3 enabling authentication is no longer needed (as intended).

[2018-10-08 18:15] #950 closed

[2018-10-08 18:18] davecoffin commented on #950
What about the original issue? I am not able to use lite mode.

[2018-10-08 18:33] EddyVerbruggen commented on #947
Hmm, `.set` works equally well for me with similar code.

[2018-10-08 19:01] EddyVerbruggen commented on #950
Give demo-push a spin with plugin version 7.1.3. It works great for me on iOS 12 (device). If that works and your app doesn't then I'd be happy to take a look.

[2018-10-08 19:05] EddyVerbruggen commented on #944
There are probably many ways to fix it - just make sure that code runs only once during your app's lifetime. Move it to a different component for instance, but without sharing a repo I can't go beyond some generic remarks like these.

[2018-10-08 19:05] #944 closed

[2018-10-08 19:08] suparnavg commented on #944
Thanks, I'll try this and share a repo if it doesn't work.

On Tue, Oct 9, 2018, 12:36 AM Eddy Verbruggen <notifications@github.com>
wrote:

[2018-10-08 20:04] abhayastudios commented on #947
Thanks for checking @EddyVerbruggen. I will try to replicate in a minimal project.

[2018-10-09 04:12] nakorndev commented on #928
Confirm issue still not fix on 7.1.3

Back to 6.8.0 there  is no problem.

[2018-10-09 05:41] EddyVerbruggen commented on #928
Please. Share. A. Repo.

[2018-10-09 06:06] sokolovstas commented on #928
I have same problem. Most funny things that demo-push working fine. I try to prepare a repo today.

[2018-10-09 06:28] sokolovstas commented on #928
Please take a look https://github.com/sokolovstas/demo-push-fail

[2018-10-09 07:36] nakorndev commented on #253
Pass 1 year still not fix this issue? I still have this problem.

[2018-10-09 07:54] abhayastudios commented on #947
Hi @EddyVerbruggen,

So it seems that the issue occurs only when using GeoPoint nested in an object, such as below.

[code]

Is this expected behavior? As said, on Android this still produces a GeoPoint type in Firestore.

Thanks!

[2018-10-09 08:07] BasyaLipman commented on #591
@shawndewet what are you doing in the meantime? Are you using a different debug tool? I've come across this issue as well - network calls are not showing in the Network tab with my NS+Angular app.

Thing is @EddyVerbruggen , the network calls used to appear nicely in the Network tab. I'm not sure if I stopped seeing them when I moved from debugging Android to debugging iOS or if it's unrelated.

T

[2018-10-09 08:29] EddyVerbruggen commented on #947
That could indeed be a limitation, but let's see if it's fixable. Thanks for investigating this!

[2018-10-09 08:30] EddyVerbruggen commented on #253
@nakorndev Oh, sorry, forgot to close.

[2018-10-09 08:30] #253 closed

[2018-10-09 11:06] EddyVerbruggen commented on #947
Fixed in 7.1.4. Note that on iOS the same issue/fix applies for storing nested server timestamps, document references, and array union/remove.

[2018-10-09 11:06] #947 closed

[2018-10-09 11:30] EddyVerbruggen commented on #947
Hmm 🤔.. I don't have that kind of usage, but wouldn't mind merging that!

[2018-10-09 11:32] abhayastudios commented on #947
OK submitted a PR. Sorry, next time I will inform you when I decide to try myself :)

[2018-10-09 12:20] EddyVerbruggen commented on #947
Haha no worries. I’ll pop out a new version late(r) today.

[2018-10-09 12:54] dhagej commented on #928
Issue doesn't appear on version 6.8.0
I'll use that for now.

[2018-10-09 14:21] suparnavg commented on #944
Not totally sure if this is the way to go about it, but it worked, so sharing here:

Listen to the application's exit event, details [here](https://docs.nativescript.org/angular/core-concepts/application-lifecycle#use-application-events)

During the exitEvent, kill the process (@EddyVerbruggen's Stackoverflow [answer](https://stackoverflow.com/questions/45206982/how-trigger-the-exit-application-ev

[2018-10-10 01:29] Macarthurval commented on #703
Hello Eddy, first of all thank you very much for your vast contribution to the Nativescript community, you're the best!

I've found a solution or workaround for this bug, I can't say if is the best implementation but maybe can help you or others users to get it work properly.

File index.ios.js, function getImage(), change this:

    function getImage(options) {
        var image = options.image i

[2018-10-10 06:42] EddyVerbruggen commented on #703
Hey @Macarthurval, that makes a lot of sense actually! Thanks for the hint. I tested it and it works as expected 😃

[2018-10-10 06:42] #703 closed

[2018-10-10 14:43] shivgolani opened #953 "expecting anything but ''\n''; got it anyway @ line 226, column 34. Error"
Hello, getting the following error on Android after adding nativescript-plugin-firebase

20:09:15.660 [DEBUG] [org.gradle.internal.progress.DefaultBuildOperationExecutor] Completing Build operation 'Configure build'
20:09:15.666 [ERROR] [org.gradle.internal.buildevents.BuildExceptionReporter]
20:09:15.667 [ERROR] [org.gradle.internal.buildevents.BuildExceptionReporter] FAILURE: Build failed with a

[2018-10-10 15:45] EddyVerbruggen commented on #953
Never seen this. Can you share a product that produces this error?

[2018-10-10 15:55] FatimahSanni opened #954 "Failed to verify bitcode in TNSMLKitCamera.framework/TNSMLKitCamera"
Hi,

I am experiencing this issue that causes `tns run ios` to fail when building on a real device. Using the emulator works fine but whenever I try to run or build on a real device, the changes cannnot be applied and the error is `error: exportArchive: Failed to verify bitcode in TNSMLKitCamera.framework/TNSMLKitCamera:
error: Bundle only contains bitcode-marker /var/folders/5d/_v1mn0f16w7dt6k7db

[2018-10-10 22:43] btulsi-ygrene commented on #928
Facing same issue on 7.1.5

[2018-10-11 05:47] EddyVerbruggen commented on #928
Share a repo. 7.1.5 wasn’t intended to fix this.

[2018-10-11 07:33] EddyVerbruggen commented on #953
Oops, must have been autocorrect (I was mobile when typing that) - I meant a repo, so some Github repository I can clone that produces the error.

[2018-10-11 08:59] Cheas commented on #954
I'm experiencing a similar problem.

[2018-10-11 09:28] EddyVerbruggen commented on #954
Thanks for the details guys! Especially @jpakulski's note about Enterprise distribution put me on the right path to reproduce this issue. Will look into it.

[2018-10-11 09:50] #954 closed

[2018-10-11 10:41] shivgolani commented on #953
@EddyVerbruggen Sorry I don't have the authority to share the repo.
Here is my package.json

{
  "description": "NGASCE Application",
  "license": "SEE LICENSE IN <your-license-filename>",
  "readme": "NativeScript Application",
  "repository": "<fill-your-repository-here>",
  "nativescript": {
    "id": "com.ngasce.jforce",
    "tns-android": {
      "version": "4.2.0"
    }
  },
  "scripts": {

[2018-10-11 10:44] EddyVerbruggen commented on #953
I don't need your repo, just a minimal repo that shows the issue.

[2018-10-11 11:13] DeepikaKochar commented on #928
@EddyVerbruggen  here:

[2018-10-11 11:17] EddyVerbruggen commented on #928
@DeepikaKochar I'm already working with @sokolovstas in their repo. I'm asking @btulsi-ygrene for one as well.

[2018-10-11 11:40] DeepikaKochar commented on #928
Oh.. @EddyVerbruggen  Actually, I am also getting same issue my plugin version is : nativescript-plugin-firebase": "^7.1.4"

[2018-10-11 11:55] james-criscuolo commented on #928
@DeepikaKochar, as mentioned previously on this issue, the problem appears between 6.8.0 and 6.8.1. Reverting to 6.8.0 is what people have been doing for now.

[2018-10-11 11:56] EddyVerbruggen commented on #928
@DeepikaKochar Well, can *you* share a repo then?

[2018-10-11 12:28] donny08 commented on #948
@davecoffin I am still facing same issue

[2018-10-11 12:49] davecoffin commented on #948
are you using "lite" mode for push notifications only? Whats your firebase.nativescript.json file look like?

[2018-10-11 12:51] donny08 commented on #948
@davecoffin
firebase.nativescript.json
{
    "external_push_client_only": true,
    "using_ios": true,
    "using_android": true
}

[2018-10-11 12:52] davecoffin commented on #948
you are using lite mode, so you do not need to call firebase.init. lite mode doesnt install any cocoapods, thats why youre getting that message. follow these instructions and *only* these instructions: https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/NON_FIREBASE_MESSAGING.md

[2018-10-11 12:58] hugomejia opened #955 "Adding a FRONT or REAR property when using Ml Kit, in order to select the camera-facing direction."
It seems currently not possible to choose the default camera direction "Rear" or "Front" when using ML Kit. This feature would be particularly useful when using the face detection features for selfies, chat or video conferences.

Thanks @EddyVerbruggen .

[2018-10-11 13:02] EddyVerbruggen commented on #955
Thanks for opening this issue. I agree this is a nice addition and I've added a little scaffolding for it already. Will try to make time to add it to the next version.

[2018-10-11 14:11] donny08 commented on #948
@davecoffin I followed the instructions, but i am not getting token. Below is code
[code]

[2018-10-11 14:17] donny08 commented on #948
While running app on android. I'm getting **ERROR Error: Uncaught (in promise): Uncomment firebase-messaging in the plugin's include.gradle first**

[2018-10-11 14:30] davecoffin commented on #948
Yea, thats the problem I was having, see this issue: https://github.com/EddyVerbruggen/nativescript-plugin-firebase/issues/950 @EddyVerbruggen maybe reopen that?

To solve that, dont use lite mode. heres my json:

[code]

[2018-10-11 15:32] jl0325 commented on #941
I have the same problem, Any solution?

[2018-10-11 15:32] jl0325 commented on #941
Do I have the same problem, Any solution?

[2018-10-11 15:38] halaharr commented on #941
No Solution yet. I switched to React Native and got it done working.

[2018-10-11 15:52] jl0325 commented on #941
but to me, works fine in iPad, but in iPhone not. and you?

[2018-10-11 15:58] jl0325 opened #956 "Push notification works fine in iPad, but in iPhone not."
The push notifications work fine on Ipad IOS 10 and all Android devices, but don´t work on iPhone. But I´m using onMessageReceivedCallback to see the message and it is working

[2018-10-11 16:03] jl0325 commented on #941
do you try another thing with native script?

[2018-10-11 16:04] halaharr commented on #941
No

[2018-10-11 19:34] Omi231 opened #957 "Admob: How to check when Interstitial is closed?"
In previous version of this plugin, when using admob.showInterstititial we were able use ad close event which was very useful. After I updated this plugin I am unable to do the same.

[2018-10-11 20:03] EddyVerbruggen commented on #957
How did you use it exactly?

[2018-10-11 21:06] EddyVerbruggen commented on #928
The problem with @sokolovstas's app was that there were plugin calls in app.ts/main.ts *before* the app was bootstrapped. Per the readme that's not supported; you should *only* `require` the plugin before the app is bootstrapped.

So I wonder if any of the other apps in this thread have the same cause.

That being said, I'm attempting to harden the plugin against this type of usage, which will be

[2018-10-11 21:07] EddyVerbruggen commented on #956
Sorry, but I have no idea what to do with this issue.

[2018-10-11 21:07] #956 closed

[2018-10-11 21:08] EddyVerbruggen commented on #953
Please reopen if you have an app to share. I can't reproduce this.

[2018-10-11 21:08] #953 closed

[2018-10-11 21:09] #943 closed

[2018-10-11 21:17] EddyVerbruggen commented on #948
Thanks for the help @davecoffin!

@donny08 It looks like you're adding that code to app.ts/main.ts, right? That's when you can run into the "Uncomment firebase-messaging in the plugin's include.gradle first" issue. It's because the app needs to be bootstrapped for it to get a sender ID from FCM.

Anyway, I just pushed a change for #928 which allows you to run messaging-related code before the app

[2018-10-11 21:17] #948 closed

[2018-10-12 04:18] anaszgh opened #958 "Error While Using Admob"
I'm trying to show a smart banner at eh bottom of the page, here is how i implemented it

ads.service.ts

[code]

app.component.ts

[code]

every time after the call of `this.adsService.showBanner()` is called i get the following error

[code]

[2018-10-12 05:11] DeepikaKochar commented on #928
@EddyVerbruggen ,
 Here https://github.com/DeepikaKochar/demo-firebase-issue

[2018-10-12 07:34] nakorndev opened #959 "onPushTokenReceivedCallback() not call after firebase init."
Same as #253 that was closed. But I still got this problem to my project.

[code]

There was only shown `firebase.init done` without error. But non for `Firebase push token: ...`. Did I missing something?

[2018-10-12 07:37] EddyVerbruggen commented on #959
Yeah, I miss a project to reproduce this issue. Please don't share a snippet as it all depends on where that code resides and where other code was added, and what the firebase config of your project looks like. Also, which platform (iOS, Android, both).

[2018-10-12 07:44] EddyVerbruggen commented on #928
@DeepikaKochar In your case, `ngOnInit` in `AppComponent` still runs before the app has started.

There are 3 options: either move the code out of `AppComponent`, or wrap it in a timeout, or (probably the best option) upgrade to 7.1.6 (will be released today).

Also, don't use `init` if you're not actually using Firebase features. You can rewrite it to this:

[code]

[2018-10-12 07:53] EddyVerbruggen commented on #955
Update the demo and docs for the new `preferFrontCamera` property (default `false`). Available in 7.1.6 later today.

[2018-10-12 07:53] #955 closed

[2018-10-12 07:55] EddyVerbruggen commented on #958
Doesn't ring a bell, but can you add a `catch` to your Promises so you'll get a slightly better error message?

[2018-10-12 08:29] #928 closed

[2018-10-12 08:42] nakorndev commented on #959
Android.

`google-services.json` (XXXXX for sensitive data).

[code]

[2018-10-12 08:56] nakorndev commented on #959
Sorry. I forget this.

`firebase.nativescript.json`

[code]

[2018-10-12 10:34] EddyVerbruggen commented on #959
That's not a project repo. Closing this as I can't investigate the issue this way. Feel free to open when you have a repo to share.

[2018-10-12 10:34] #959 closed

[2018-10-12 11:08] sokolovstas commented on #928
@EddyVerbruggen Thank you for 7.1.6! Now it works ok even on init method

[2018-10-12 12:45] donny08 commented on #948
@EddyVerbruggen After updating fiberbase plugin to 7.1.6. I'm facing some issues both on android and ios.

In Android on running tns run android i m getting **Unable to apply changes on device: emulator-5554. Error is: Socket Error: Error: read ECONNRESET.**

In IOS on running tns run android i m getting **Unable to apply changes on device: B60D3C35-CC78-41BD-8671-9910C15ABFAB. Error is: Command x

[2018-10-12 12:52] donny08 commented on #948
@EddyVerbruggen yes

[2018-10-12 12:53] EddyVerbruggen commented on #948
Hmm, reboot or something - those errors have nothing to do with this plugin.

[2018-10-12 13:42] james-criscuolo commented on #928
@EddyVerbruggen, I can also confirm 7.1.6 works with the `init` but I have switched to just using `messaging` as you recommend, thank you so much!

Extremely unrelated and feel free to ignore, but above you said:

I know this is out of scope, but do we (users of nativescript) have any control over that? We are seeing an issue with older iphones where it axes the startup because the package has loa

[2018-10-12 14:43] shivgolani commented on #953
Hello @EddyVerbruggen apologies for delay, Sharing minimal repo,
git clone https://ngasceadmin@bitbucket.org/ngasceadmin/ngascedemo.git

[2018-10-14 13:59] donny08 commented on #948
@EddyVerbruggen  I'm not receiving notification on IOS when it is in background. I followed  this (https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/NON_FIREBASE_MESSAGING.md).

[2018-10-14 14:12] EddyVerbruggen commented on #948
Share a repo please.

[2018-10-14 16:02] GrEg00z opened #961 "Update data when offline"
On **iOS** and **Android**, when the internet connection is offline, then the promise "**setValue**" and "**update**" method are never resolved.
Only reading data seems to work during offline

I have the **persist mode enabled**.

This behaviour is normal ? Or what I have to do to make it works ?

Thanks

[2018-10-14 16:53] donny08 commented on #948
@EddyVerbruggen  @davecoffin  Here `https://github.com/donny08/push-fiberbase`

[2018-10-14 16:54] donny08 commented on #948
@EddyVerbruggen I didn't commit platform folder. If needed please intimate. Thank you

[2018-10-14 19:01] EddyVerbruggen commented on #948
You don’t have the ‘require’ of the plugin in
https://github.com/donny08/push-fiberbase/blob/master/app/main.ts

[2018-10-15 02:06] anaszgh commented on #958
The catch on the promise returned only the number 0 and on the chrome developer tools console the following error was thrown
`ERROR TypeError: Cannot read property 'android' of null`

[2018-10-15 06:06] donny08 commented on #948
@EddyVerbruggen Tried adding require in main.ts, but still i'm not getting notifications in IOS when background.

[2018-10-15 06:31] EddyVerbruggen commented on #948
Yes, it's all in the readme (but not in your repo): https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/NON_FIREBASE_MESSAGING.md#ios

[2018-10-15 06:43] donny08 commented on #948
@EddyVerbruggen After adding entitlement file in app resource for ios, its working. But getting weird error: **Unhandled Promise rejection: Error Domain=com.google.fcm Code=2001 "FIRMessaging is already connected" UserInfo={NSLocalizedFailureReason=FIRMessaging is already connected} ; Zone: <root> ; Task: null ; Value: Error Domain=com.google.fcm Code=2001 "FIRMessaging is already connected" UserI

[2018-10-15 06:48] EddyVerbruggen commented on #948
I don't think that matters.

[2018-10-15 07:11] donny08 commented on #948
@EddyVerbruggen Ok Thanks

[2018-10-15 07:48] Adangsutisna opened #962 "Please help me create sample ML-Kit for javascript"
hei @EddyVerbruggen

I made a big project with Nativscript using javascript,

I want to add the ML-KIT feature but I don't see the documentation using javascript

please add sample using javascript

thank you

[2018-10-15 08:11] EddyVerbruggen commented on #962
You need to be more specific. There's an XML sample here: https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/ML_KIT.md#xml, and  JS instead of TS is not *that* different.

[2018-10-15 08:18] joshcomley opened #963 "Error when compiling with AOT"
(Fix below, suggested for documentation unless it's only me that gets the problem)

I was getting this error only when compiling with AOT:

    Undefined symbols for architecture armv7:
      "_CACurrentMediaTime", referenced from:
          -[FBMLx_CCTClearcutTimerHistogram start] in FirebaseMLCommon(CCTClearcutCounters_0f7757c22b26f43080a5b745a1049c6c.o)
          -[FBMLx_CCTClearcutTimerHistogr

[2018-10-15 10:36] shivgolani opened #964 "The library com.google.android.gms:play-services-base is being requested by various otherlibraries at [[15.0.1,15.0.1]], but resolves to 16.0.1. Disable the plugin and check your dependencies tree using ./gradlew :app:dependencies."
15:52:45.044 [ERROR] [org.gradle.internal.buildevents.BuildExceptionReporter]
15:52:45.045 [ERROR] [org.gradle.internal.buildevents.BuildExceptionReporter] FAILURE: Build failed with an exception.
15:52:45.045 [ERROR] [org.gradle.internal.buildevents.BuildExceptionReporter]
15:52:45.045 [ERROR] [org.gradle.internal.buildevents.BuildExceptionReporter] * What went wrong:
15:52:45.045 [ERROR] [org.gr

[2018-10-15 11:20] suparnavg opened #965 "Google authentication firebase.getAuthToken() - Invalid Credentials error in Google API call"
I'm using this plugin's authentication function to log in my users using Google.

I tried to use the firebase access_token but get the error `Invalid Credentials` when trying to fetch some data from the Google APIs.

Question: is the access_token returned by `firebase.getAuthToken` the same as the user's Google Oauth2.0 access token?

Since the android app is registered on the Google APIs console,

[2018-10-15 11:49] donny08 commented on #948
@EddyVerbruggen In Android, if i close the  app and send notification via postman. I unable to receive notification on device. So I am using **nativescript-local-notifications** plugin. Is this right approach?

[2018-10-15 12:10] delanick opened #966 "JA {N} Core implementation?"
Hi @EddyVerbruggen

Any chance you could to this in JS for {N} Core? I'm struggling with the .ts example.

Cheers

[2018-10-15 12:17] EddyVerbruggen commented on #948
No. Remove that plugin.

[2018-10-15 12:17] EddyVerbruggen commented on #966
What exactly is the problem?

[2018-10-15 12:36] delanick commented on #966
@EddyVerbruggen No problem specifically - I'm struggling to understand the code correctly as it's not JS and I'm an amateur - so am more hoping a JS example is available for Push Notifications and AdMob. I'm incredibly new to TS and don't always understand what I'm seeing - especially around "void" and "Public class" etc...

Hoping I'm not asking too much but if you have JS examples laying around

[2018-10-15 15:19] EddyVerbruggen commented on #966
@delanick The AdMob doc is actually all plain JS: https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/ADMOB.md

[2018-10-15 15:24] edusperoni opened #968 "Constantly rebuilding when running with .dev and .prod separation"
Nativescript detects the copy from GoogleService-Info.plist.dev to GoogleService-Info.plist as a file change, even if both files are the same. As such, running `tns run ios` results in endless xcode builds and app installs. Maybe there should be a check to see if the files are the same?

How to reproduce:
Use `GoogleService-Info.plist.dev` and ` GoogleService-Info.plist.prod`
Run `tns run ios`
Che

[2018-10-15 15:32] EddyVerbruggen commented on #968
Any ideas how to fix this? I'm not personally using this setup..

[2018-10-15 15:42] edusperoni commented on #968
I have done something similar where I read both files and compare, I can make a quick PR.

Should I edit both of these:
https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/635d07a0c978b11ec264caf88fbc8552d06a7982/publish/scripts/installer.js
https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/635d07a0c978b11ec264caf88fbc8552d06a7982/src/scripts/postinstall.js

?

[2018-10-15 16:04] EddyVerbruggen commented on #968
Hey @edusperoni that would be great! You only need to edit the first one, because `postinstall.js` is generated from that one.

[2018-10-15 16:30] EddyVerbruggen commented on #968
I think it's best to ask @abhayastudios for his opinion because he added this to the project and I don't want to break his workflow.

[2018-10-15 17:49] edusperoni commented on #968
PR is done, if @abhayastudios approves it, it's ready to be merged.

[2018-10-15 18:17] delanick commented on #966
Apologies @EddyVerbruggen , I see it now with a closer look. The clarity I need with Admob is more around what you wrote regarding interstitials. If I don't send parameters, where does it get them from?

And then on the Push Notifications: You also state an Android quirk about the notification not showing . the title and body when the app is in background mode. Has that been sorted out? How would

[2018-10-15 18:44] GeorgeRXia opened #970 "Running Demo App Issue"
I was trying to run the demo app for the quick start. However I get an error of

`firebase.android.ts:101:45 - error TS2552: Cannot find name 'intent'. Did you mean 'netent'?

101         firebaseDynamicLinks.getDynamicLink(intent).addOnCompleteListener(getDynamicLinksCallback);
[code]

[2018-10-15 21:12] EddyVerbruggen commented on #966
Link to a snippet in the demo and I’ll explain.

[2018-10-15 23:13] NatanijelVasic commented on #953
Hmm strange, I get the same error, on the same line 226.

I tried fixing the syntax, but that didn't help, it just gave me a different error.

[2018-10-15 23:55] NatanijelVasic commented on #953
I am also using the one-signal plugin, and the hook associated with in inserts a line incorrectly in build.gradle

[2018-10-16 00:12] NatanijelVasic commented on #953
Ok, it seems like the OneSignal after-prepare hook doesn't work properly with the current build.gradle. I fixed the issue by commenting out these lines in [your-app]/hooks/after-prepare/nativescipt-onesignal-gradle.js:

`      search = appBuildGradleContent.indexOf(repositories[0]) + repositories[0].length;
      appBuildGradleContent = appBuildGradleContent.substr(0, search) + `
	      maven { ur

[2018-10-16 04:04] Adangsutisna commented on #962
hi  @EddyVerbruggen

I have made the required configuration

Required Android permissions (ok)
<uses-permission android:name="android.permission.CAMERA"/>
<uses-feature android:name="android.hardware.camera" android:required="false" />
<uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

On-device configuration (ok)
<meta-data
    android:name="com.google.fir

[2018-10-16 04:54] ananbetak opened #971 "help wanted"
firebase.login({
            type: firebase.LoginType.PHONE,
            phoneOptions: {
                phoneNumber: this.PhoneNumber,
                verificationPrompt: "The received verification code" // default "Verification code"
            }
        }).then((result) => {
console.log(result);
});

how can i RECEIVE THE SMS, and only after i apply it , to continue ?!

[2018-10-16 05:10] nakorndev commented on #959
@EddyVerbruggen Seem I found what caused `onPushTokenReceivedCallback()`

After I changed emulator from **Visual Studio Emulator for Android** to **Android Emulator (Android Studio)** this function is called and working perfectly.

Maybe lack some kind of service from google or something from emulator. It should be implement catch error for this? It seems on #253 they are using some emulator that

[2018-10-16 05:45] EddyVerbruggen commented on #953
Ah ok. Are you opening an issue in their repo?

[2018-10-16 06:49] EddyVerbruggen commented on #962
I don't know what you want from me exactly, but I'm not going to write your app for you. If there's an issue with the plugin feel free to open a new issue.

[2018-10-16 06:49] #962 closed

[2018-10-16 07:17] NatanijelVasic commented on #953
I think it's already been posted actually: https://github.com/roblav96/nativescript-onesignal/issues/38

[2018-10-16 07:45] anaszgh opened #972 "Failed to run on IOS"
I'm trying to run a simple project on IOS that uses the firebase plugin for AdMob

The project works correctly on Android, but whenever i try to run ```tns run ios --provision Dev```

the build fails and returns this message

[code]

[2018-10-16 07:47] anaszgh commented on #972
Please note that i have added the ```GoogleServices-Info.plist ``` and the entitlements files to

```App_Resources/IOS```

[2018-10-16 07:57] EddyVerbruggen commented on #972
Can you try removing the platforms folder?

[2018-10-16 08:01] anaszgh commented on #972
I already did before posting this issue, but it didn't resolve it.

[2018-10-16 08:02] EddyVerbruggen commented on #972
Can you share that repo?

[2018-10-16 08:03] anaszgh commented on #972
Sure, It is on Gitlab, can you please provide me with email address and i'll add it to the repo.

[2018-10-16 08:07] EddyVerbruggen commented on #972
eddyverbruggen  at gmail

[2018-10-16 08:08] anaszgh commented on #972
@EddyVerbruggen Invitation sent by email

[2018-10-16 09:10] shivgolani commented on #964
Hello @EddyVerbruggen could you please help me this.

[2018-10-16 09:18] shivgolani commented on #953
@NatanijelVasic even downgrading the onesignal plugin version to 1.0.7 works. But then it produces this error:

The library com.google.android.gms:play-services-base is being requested by various otherlibraries at [[15.0.1,15.0.1]], but resolves to 16.0.1.

[2018-10-16 09:49] EddyVerbruggen commented on #972
@anaszgh I cloned the repo and updated the version of `nativescript-plugin-firebase` to the latest release and ran `npm i`. `tns build ios` succeeds...

[2018-10-16 10:13] anaszgh commented on #972
I have tried to remove node_modules, hooks and platforms folders

then updated the ```nativescript-plugin-firebase``` to version 7.1.6

then ran ```npm i tns build ios```

and it resulted in build failed and the following logs & errors

[code]

[2018-10-16 10:31] abhayastudios commented on #968
Hi @edusperoni, sorry for the delay, I am a bit busy at the moment.

As far as I know your PR should not be needed. The idea is that the plist is copied only if a project prepare is required, which is checked in our `before-checkForChanges` hook which also creates the `platforms/ios/.pluginfirebaseinfo` status file. If this file exists and the environment didn't change and we are not running a rel

[2018-10-16 10:31] EddyVerbruggen commented on #972
Have you tried that in the `mobile` folder?

[2018-10-16 10:33] anaszgh commented on #972
Sorry for this misunderstanding, mobile folder is outdated the problem is with Stop The Watch folder

[2018-10-16 10:39] EddyVerbruggen commented on #972
I tried one as well but it failed because (it seems like) there’s a space in the foldername..

[2018-10-16 10:42] anaszgh commented on #972
I'll remove the space and try again.

[2018-10-16 11:10] anaszgh commented on #972
Still receiving the same error, exit code 65 even after removing spaces in the folder name

[2018-10-16 11:29] anaszgh commented on #972
The strange thing is that event mobile folder threw the same error on `ios build`

[2018-10-16 11:54] EddyVerbruggen commented on #972
What `tns --version` are you on? I'm on 4.2.4.

If that doesn't help, try adding https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/715862dae29c65fbc83aa65024eabddc606ec104/demo/firebase.nativescript.json#L18 and remove the platforms folder.

[2018-10-16 12:33] edusperoni commented on #968
Actually it runs despite not needing to prepare, see the last "else":

[code]

[2018-10-16 12:39] edusperoni commented on #968
Actual output:

[code]

[2018-10-16 18:59] GeorgeRXia commented on #970
have you pushed up your fix? I am now getting a new error:

'.' is not recognized as an internal or external command,

[2018-10-16 20:03] NatanijelVasic commented on #953
I'm running into another error now, that popped up before as well, but I don't know why it's come back:

[code]

I have tried inserting `multiDexEnabled true` in defaultConfig, but that didn't work. I also re-added the android platform, removed the Onesignal and Firebase plugins temporarily, but with no luck, the error keeps coming back up.

[2018-10-16 20:07] EddyVerbruggen commented on #953
Looks like the actual error/cause is missing from your stacktrace. Not sure what to say..

[2018-10-16 20:09] NatanijelVasic commented on #953
Oh, I'm sorry, I didn't copy over the full block:

[code]

[2018-10-16 21:05] abhayastudios commented on #968
@edusperoni you are right, somehow the version of the `before-checkForChanges` hook that I used locally is different from what ended up in the project.

PR #974 contains a fix (no need to do a comparison between the files, as you pointed out above, it should just not be copied if the environment does not change)

[2018-10-16 21:14] edusperoni commented on #968
Seems good to me :)

[2018-10-16 21:15] keerl opened #975 "Delete individual field feature"
Would it be possible to implement a feature to delete an individual field?

[https://firebase.google.com/docs/firestore/manage-data/delete-data](https://firebase.google.com/docs/firestore/manage-data/delete-data)

[code]

[2018-10-17 03:02] GoodLadCarlos commented on #641
We are waiting for an update for the **snapshot.metadata** to become available. It would be a really great feature.

[2018-10-17 04:18] Adangsutisna commented on #962
hi @EddyVerbruggen

sorry to make you confused,

so actually I want you to give an example of the ML-KIT version of javascript,

like the sample on firebase realtime database I use it and it works well

because I tried this sample ML-kit in javascript this error occurred;

thank you

error:
![whatsapp image 2018-10-17 at 11 12 19 am](https://user-images.githubusercontent.com/25657032/47061876-afbb

[2018-10-17 06:55] EddyVerbruggen commented on #968
Excellent teamwork guys, thanks a lot!

[2018-10-17 06:55] #968 closed

[2018-10-17 08:02] EddyVerbruggen commented on #975
Yep, looks like a nice feature to have!

[2018-10-17 12:28] JCenas commented on #467
I had the same problem, i needed the reward video ad callback.
So i forked this repo and implemented the missing feature.

You can check here the code https://github.com/4DevCoding/nativescript-admob
Fell free to improve or bring the changes to this repo :)

[2018-10-17 13:04] delanick commented on #966
Thanks, will do asap! :)

On Mon, Oct 15, 2018 at 11:13 PM Eddy Verbruggen <notifications@github.com>
wrote:

--
Regards,

Nick de la Hunt
082 388 1831
nick.delahunt@gmail.com

[2018-10-17 14:32] muratcorlu commented on #467
Great @JCenas ! What about creating a Pull Request?

[2018-10-17 14:35] JCenas commented on #467
@muratcorlu, It would be better when the ios implementation is finished.
And if someone could test it first would be great also :)

[2018-10-17 19:39] GeorgeRXia opened #976 "showNotificationsWhenInForeground : true does not allow notification in app foreground"
I am unable to show the notification when the the app is in the foreground.

`  firebase.init({
            showNotificationsWhenInForeground: false,
            onMessageReceivedCallback: (message) => {
                console.log(`Title: ${message}`);
                console.log(`Body: ${message.body}`);
                alert("Test")
            },
        }).`

[2018-10-17 21:06] prestopasto commented on #930
I always wanted to get around to this too.  Not sure I'd be much help, but would love to lend a hand where I could.

[2018-10-17 21:27] zslusnys opened #977 "Adding facebook app id resolves to an error"
mobile-app/platforms/android/app/build/intermediates/
manifests/full/debug/AndroidManifest.xml:56: AAPT: error: resource string/facebook_app_id
(aka org.mobileapp.application:string/facebook_app_id) not found.

I got this after following the suggestion to add facebook_app_id into its own xml file of: facebooklogin.xml positioned under App_Resources/Android/values/

When I pasted that string insode

[2018-10-17 21:53] zslusnys commented on #977
I've checked out the paths again and while in documentation it says add the meta to:
`app\App_Resources\Android\AndroidManifest.xml`

and add the file of facebooklogin.xml to:
`app\App_Resources\Android\values\facebooklogin.xml`

in my case everything is in `app/App_Resources/Android/src/main/res/` directory

[2018-10-17 22:12] larssn commented on #930
I have a working prototype at work; but I wouldn't call it production ready.

[2018-10-18 09:13] FranciZ opened #978 "Excessive logs on iOS"
On iOS there's excessive logging after installing the firebase plugin and it's very distracting. This was described in the below issue on nativescript-cli repo.

https://github.com/NativeScript/nativescript-cli/issues/3544

Log example:
[code]

[2018-10-18 09:45] EddyVerbruggen commented on #978
Can you narrow it down to a certain part of Firebase perhaps? I mean, if you don't install any additional components like Google Auth, Realtime DB, etc, do you still see those messages?

[2018-10-18 12:36] muratcorlu commented on #467
@JCenas I'll try to check.

[2018-10-18 18:41] cerireyhan commented on #978
I only use Firebase-Cloud-Messaging and have been seeing those logs for a long time. Only happens in real iOS device though.

[2018-10-18 20:03] EddyVerbruggen commented on #978
Thanks! It would be nice to know if using anything *but* Messaging would show the same amount logging.

[2018-10-18 23:18] avallem commented on #769
@shaqaruden also you can only reference your function without send parameters like:

`@scanResult="yourFunction"`

and in the section methods of vue construction object just

`yourFunction(event){
 //do stuff
}`

[2018-10-18 23:32] avallem commented on #828
In documentation does not explain if exist some method or property to stop scanner, Its would be helpfully implement this functionallity to setup the scanner or prevent firing events of Scanning Result multiple times.

At this time the solution is destroy the view after navigate?

This is my code (NativeScript Vue) and 'navigateBack' its firing twice (or more)

[code]

[2018-10-19 01:56] phatakrajan commented on #828
@EddyVerbruggen Can you please let us know on how this issue can be fixed? We really don't know on how to stop firing this events.

[2018-10-19 07:53] nakorndev opened #979 "@EddyVerbruggen Seem I found what caused `onPushTokenReceivedCallback()`"
After I changed emulator from **Visual Studio Emulator for Android** to **Android Emulator (Android Studio)** this function is called and working perfectly.

Maybe lack some kind of service from google or something from emulator. It should be implement catch error for this? It seems on #253 they are using some emulator that doesn't work with some emulator like me.

_Originally posted by @nakorndev

[2018-10-19 08:05] #975 closed

[2018-10-19 08:07] EddyVerbruggen commented on #975
Done, check the doc: https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/FIRESTORE.md#delete-specific-fields-in-a-document

[2018-10-19 09:32] EddyVerbruggen commented on #828
I've just published 7.2.0 which adds a bindable `pause` property to the scanner UI widget. [Docs here](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/fc10aa162ed4c96bb035a99a53fe8d206c375908/docs/ML_KIT.md#live-camera-feed), and the demo has been updated as well:

https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/fc10aa162ed4c96bb035a99a53fe8d206c375908/demo-

[2018-10-19 09:32] #828 closed

[2018-10-19 09:50] nakorndev commented on #979
So please do note at guideline for about this problem.

[2018-10-19 10:00] phatakrajan commented on #828
Excellent :)

[2018-10-19 13:40] rg777 opened #980 "ML Kit Barcode Recognition for ISBN Format"
I am trying to recognize the bar code for books with ISBN Format (13 Digit).
Is this not yet supported for this plugin?

I tried to make some changes in the source code by referencing this url:
[Firebase Barcode Format](https://developers.google.com/android/reference/com/google/firebase/ml/vision/barcode/FirebaseVisionBarcode.html#TYPE_ISBN)

Changes made:
A. barcodescanning-common.js
[code]

B. b

[2018-10-19 14:51] rb1250 commented on #653
Facing same issue, have created project in react-native and everything is working fine but when using testflight build firebase  signinwithphonenumber() returns, "An internal error has occured". Working well with few iOS devices and throwing this error with few devices. Can anyone help me out with this?

[2018-10-19 15:09] FatimahSanni commented on #370
Hi, is this feature supported now?

[2018-10-19 15:11] FatimahSanni opened #981 "Is Firebase's Performance monitoring supported?"
Hi,

I just wanted to find out if firebase's performance monitoring feature is supported by this plugin and how to go about it. It's not in the docs

Thanks

[2018-10-19 18:17] EddyVerbruggen commented on #981
Duplicate of #370.

[2018-10-19 18:17] #981 closed

[2018-10-19 20:44] EddyVerbruggen commented on #370
Although it's easy to add this feature, I never got around adding it. Aiming to have it in the next minor version though (probably as soon as next week).

[2018-10-20 04:58] jenyaivanova521 commented on #892
same issue for me

[2018-10-20 09:28] jenyaivanova521 commented on #892
I found the issue
on firebase.nativescript.json file, set "realtimedb": true,

    {
        ...
        "realtimedb": true,
        ...
    }

[2018-10-20 13:16] kevinjbayer opened #982 "Push Notifications with Vue"
I have the notifications being received properly from Firebase when the app is open, but nothing when the app is in the background. In my main.js I have

[code]

before `new Vue...`

The section [What is iOS doesn't receive notifications in the bg](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/MESSAGING.md#what-if-ios-doesnt-showreceive-notifications-in-the-backgr

[2018-10-20 17:51] EddyVerbruggen commented on #982
Share a repo please and reopen. This kind of issues is impossible to help with unless there’s a project to inspect.

[2018-10-20 17:51] #982 closed

[2018-10-20 19:37] dpdragnev opened #983 "Didn't find class org.nativescript.plugins.MyFirebaseMessagingService"
Eddy,

First, thank you for your hard work on this plugin.

I just installed the plugin, removed and re-added the android platform. and ran tns run android.

When I try sending a notification (via the Firebase console or via PushTry.com) I am getting the above error.  I tried all the suggestions I found here, but I cannot get this to work.

Here is my project.json:

[code]

Here is my firebase.nat

[2018-10-21 03:55] gogoout opened #984 "[Question] What's the difference between `addOnPushTokenReceivedCallback` and `getCurrentPushToken`"
Hi there,
I found on one of my device (android samsung), I can only get token for the first time the apk is installed from `addOnPushTokenReceivedCallback`. Afterward, the callback for `addOnPushTokenReceivedCallback` doesn't working (nor the `onPushTokenReceivedCallback` working either).
But it seems that I can still get token from `getCurrentPushToken`. So just want to make sure what's the diffe

[2018-10-21 08:30] EddyVerbruggen commented on #983
The package isn't correct, it should be `org.nativescript.plugins.firebase.MyFirebaseMessagingService`. Can you double check that error message is correct?

Anyway, it's part of an .aar file that's installed with the plugin and should be added to your project when the platform is removed and `tns run android` is executed.

Are you running on a real device, with Google Play Services installed?

[2018-10-21 08:38] dpdragnev commented on #983
Yes,  I am sorry, I missed the firebase part of the package.

I am running it on a real device.  I am not sure about the Google Play Services. Is this part of the Google Play Store installation?

[2018-10-21 08:42] EddyVerbruggen commented on #983
If you have the Play Store you also have Play Services, AFAIK. I asked because folks tend to use a simulator when reporting push-related issues, and those often don't work because Play Services isn't shipped with a lot of emulator images.

[2018-10-21 09:13] dpdragnev commented on #983
Got you.  Do you have any ideas on how to resolve that issue?

[2018-10-21 09:29] EddyVerbruggen commented on #983
Hmm, not sure. It should 'just work'. Can you share a repo?

[2018-10-21 09:38] EddyVerbruggen commented on #980
Hi! If you look at that documentation link again carefully you'll see that `ISBN` is not a type of barcode, but a type of barcode **value**.

I think `ISBN` is an EAN_13, so please set that and scan away!

[2018-10-21 09:38] #980 closed

[2018-10-21 10:44] dpdragnev commented on #983
Unfortunately, this is a private repo and I cannot share it.   Let me see if I can reproduce it in a blank project.

[2018-10-21 15:49] dpdragnev commented on #983
Eddy,  please see the following project:  https://github.com/dpdragnev/FirebaseMessagingTest

I am getting the same error.

[2018-10-21 16:06] rg777 commented on #980
Thanks a lot!!!
It is working as intended.
Sorry should have looked through the documentation carefully.

[2018-10-21 20:32] EddyVerbruggen commented on #983
Hi @dpdragnev, I'm wondering why (if you want to use Firebase Messaging), [this line](https://github.com/dpdragnev/FirebaseMessagingTest/blob/36c7560f8cadf179bc7af566a6bf33aac1731b66/firebase.nativescript.json#L9) is `false`? Not that it explains your issue fully though..

[2018-10-21 20:45] dpdragnev commented on #983
Very good question :).  I missed that.  I tried it with true but I still get the same error though.

[2018-10-22 05:52] zslusnys opened #985 "Application crashes when using arrayUnion from firestore"
Hello Eddy,

I've been trying out the arrayUnion function and it works as in the example of your documentation, however I import firestore in other way - like this:
`import { firestore } from 'nativescript-firebase-plugin'`

and use it like this as it was written in the official documentation of firestore.
ref: [here](https://firebase.google.com/docs/firestore/manage-data/add-data?authuser=0)

`co

[2018-10-22 07:36] dpdragnev commented on #983
I dont know if this  helps or even if it related, but after installing the plugin, I started seeing the following in the console:

[code]

Thanks.

[2018-10-22 09:51] EddyVerbruggen commented on #983
I don't know what's up with your environment, but I did this with your repo and it gave me a push token (for my Samsung Galaxy S8 device) in the log (so no errors):

[code]

NativeScript 4.2.4 (`tns --version`).

[2018-10-22 10:41] EddyVerbruggen commented on #983
Did you remove the platforms folder after changing that line?

Anyway, I think it's related to a recent change to how Google Play Services works related to push notifications, and I'll change the plugin to be more compatible with various versions.

[2018-10-22 11:55] EddyVerbruggen commented on #985
Hi,

I've just updated the demo to try that.. and this works just fine for me (see the `colors` property):

https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/2ffc70e295c51fa3225db7a0d9dbe151be5611fa/demo-ng/app/tabs/firestore/firestore.component.ts#L233-L243

Where the imports are:

[code]

If this exact same code crashes for you, then look out for plugin version 7.3.0 which cont

[2018-10-22 12:18] EddyVerbruggen commented on #983
I've now pushed a change that *only* adds the library containing `org.nativescript.plugins.firebase.MyFirebaseMessagingService` in case Messaging is requested by the developer.

[2018-10-22 12:18] #983 closed

[2018-10-22 13:52] dpdragnev commented on #983
Thank you Eddy,  I am sorry for the stupid question, but I am not sure how to get the updated code.  Is there a new version available?

[2018-10-22 14:40] EddyVerbruggen commented on #983
That's not stupid at all ;) - It will be part of plugin version 7.3.0 which is still in the works. Will be on npm later this week.

[2018-10-22 16:54] dpdragnev commented on #983
I get the token as well, but I get the error when I try to send the
notification.  The app tries to display it and then crashes.

On Mon, Oct 22, 2018, 1:44 PM Eddy Verbruggen <notifications@github.com>
wrote:

[2018-10-22 16:58] dpdragnev commented on #983
Thank you Eddy.

On Mon, Oct 22, 2018, 3:18 PM Eddy Verbruggen <notifications@github.com>
wrote:

[2018-10-22 17:06] dpdragnev commented on #983
Great.  Thank you so much for your help.

On Mon, Oct 22, 2018, 5:40 PM Eddy Verbruggen <notifications@github.com>
wrote:

[2018-10-22 22:19] edusperoni commented on #968
Uhm, apparently this isn't fixed as I thought. Even when forcing a prepare, it's not copying because `.nsprepareinfo` is not present in the first dev run (as this runs before the prepare happens).

[code]

if I just use `if (forcePrepare)`, it works correctly when using `tns platform clean ios && tns run ios`. @abhayastudios can you check if this fix also works for you?

[2018-10-23 08:02] zslusnys commented on #985
What you did was FieldValue and FieldValue() but what i was intending to point out that if you pass properties (not a list of properties) to arrayUnion method like `firestore.FieldValue.arrayUnion("red", "blue")` then it will crash. In the official documentation it is allowed to pass properties in rather than the list itself.

[2018-10-23 08:32] FranciZ commented on #978
Unfortunately it does. Setup a sample project with just the `storage` and still get the excessive logs.

`firebase.nativescript.json`

[code]

An example of the logs:
[code]

[2018-10-23 08:59] EddyVerbruggen commented on #978
That's good to know, thanks. So it must be because of FirebaseCore or Analytics. If you want we can rule Analytics out by disabling it (best to do it in the plist I guess): https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/ANALYTICS.md#analyticssetanalyticscollectionenabled

Anyway, I don't think the plugin can do anything to stop it.. so similar reports (about the na

[2018-10-23 09:01] EddyVerbruggen commented on #985
ahhhhhhhhh, that wasn't very clear to me from your issue report. Well, should be easy to fix.

[2018-10-23 10:06] indradha commented on #964
Hi @shivgolani, please check do you have "nativescript-google-maps-sdk" (ttps://github.com/dapriett/nativescript-google-maps-sdk) installed ?

[2018-10-23 11:59] cerireyhan commented on #978
Must be coming from FirebaseCore, I still see the logs after disabling Analytics in plist.

[2018-10-23 12:50] zslusnys commented on #985
In addition to that, I've found that when i use ServerTimestamp as you do i get the following error:

JS:     com.google.firebase.firestore.g.zzg$zza.<init>(com.google.firebase:firebase-firestore@@17.0.5:643)
JS:     com.google.firebase.firestore.g.zzg.zza(com.google.firebase:firebase-firestore@@17.0.5:331)
JS:     com.google.firebase.firestore.g.zzg.zzb(com.google.firebase:firebase-firestore@@17.

[2018-10-23 14:03] JillevdW opened #986 "Wrong FCM token returned"
The token received in the `addOnPushTokenReceivedCallback` is in the wrong format, and when I try to use it with FCM to send a notification, I get an error message stating: `InvalidRegistration`. After some debugging, I've noticed that the format of the token I receive changed from what I received before.

This happens on iOS, on an iPhone X (physical device) running iOS 12.0.

When I run the exac

[2018-10-23 14:14] EddyVerbruggen commented on #986
Yeah, as a matter of fact I'm looking into this issue today. Btw, on your physical device you should have also received the correct (FCM) token in addition to the incorrect (APNs) token.

[2018-10-23 14:29] EddyVerbruggen commented on #986
Can you also confirm you get both tokens in the callback of `addOnPushTokenReceivedCallback`?

[2018-10-23 14:32] EddyVerbruggen commented on #985
I can't reproduce that timestamp issue with the latest plugin version, but I did now add support for passing a list of values to `arrayUnion` and `arrayRemove`, just as the web api does. I still support passing an array but it's no longer documented.

[2018-10-23 14:32] #985 closed

[2018-10-23 14:44] JillevdW commented on #986
After some extra tests, I am indeed seeing the callback called twice. Once for the FCM ID, and once for the APNs.

[2018-10-23 15:06] EddyVerbruggen commented on #986
Cool, then I know what's going on. I recently added support for using this plugin without FCM, so I added some code to get an APNs token as well - but that should obviously not run in case FCM *is* used.

[2018-10-23 15:06] #986 closed

[2018-10-23 15:28] EddyVerbruggen commented on #982
UPDATE: the repo was shared and I'm looking into it.

[2018-10-24 07:13] Pernick opened #988 "Login via Phone crashes app"
Hello,

in my app I am trying to log user via phone, but every time I send the request, screen goes black and the app crashes.

Request looks like this:

[code]

Additional info:

- The app is on iOS platform
- I am calling firebase.init() before (in this app I am collectiong data from firestore and it works just fine)
- I allowed push notifications in xcode
- I have certificates, bundle ID and so

[2018-10-24 11:15] jofftiquez commented on #845
In my case, this is happening whenever I close the app and re-open it again.

[2018-10-24 11:40] EddyVerbruggen commented on #370
Available in 7.3.0 (about to publish): https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/PERFORMANCE_MONITORING.md

Note that I've seen the performance metrics pop up on the Firebase console for iOS just fine (after a ~12h delay, per their documentation), but I have not yet seen it for Android (although the SDK is called correctly, and getting values from the trace wo

[2018-10-24 11:40] #370 closed

[2018-10-24 14:09] Kravet commented on #631
I had the same error, when I used wrong path to the document. Anyway the error message is misleading.

[2018-10-24 15:01] kevinjbayer commented on #982
Thanks again, Eddy. Just wanted to confirm here that it's working properly on iOS now. Woo!

[2018-10-24 15:05] EddyVerbruggen commented on #982
Excellent!

[2018-10-24 15:42] galzateing opened #990 "framework not found FirebaseCore"
Hello, when I try to compile the project in xcode, it generates the following error:

[code]

xcode 9.4.1
nativescript-plugin-firebase 7.3.0
tns 4.2.4

[2018-10-24 15:56] EddyVerbruggen commented on #990
Remove the platforms folder and upgrade to Xcode 10.

[2018-10-24 15:56] #990 closed

[2018-10-25 12:11] whitefox920 commented on #784
I've updated com.google.firebase:firebase-messaging to 17.3.4 and issue disappeared. I'm not using nativescript-plugin-firebase but FCM for notifications.

[2018-10-25 14:57] waynerobinson opened #991 "GoogleService-Info.plist missing error"
I'm getting a GoogleService-Info.plist missing error on build for iOS however, I'm using this plugin in messaging-only mode ( https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/NON_FIREBASE_MESSAGING.md ) and my understanding is that this mode shouldn't require a config like this.

[2018-10-25 15:38] EddyVerbruggen commented on #991
Ah, interesting. Is it more like "... does not exist. Please follow the installation instructions from the documentation"? That originates from a hook script that expects it to exist.

Do you have a Firebase project (for Android)? If so, just download the file (or create a dummy), or wait for me to release a new version without that check.

[2018-10-25 15:53] waynerobinson commented on #991
It seems to be an error from the hook:

[code]

I tried putting in an empty file as substitute, but then that caused XCode compilation errors.

I ended up putting a real config in from Firebase, but I'd prefer it not to have to be there if we're not using it. Although you're right, we will need the config for the Android project.

[2018-10-25 18:11] victorevox commented on #964
Hi @indradha , I'm also facing this issue and I've **nativescript-google-maps-sdk**, Do you know if is there a fix we could implement in order to have this two plugins working?

Btw , this plugin was working fine on version 7.1.6

[2018-10-25 21:37] giorgiopiatti opened #992 "Permission denied after successful authentication"
It's been awhile when I first noticed this behavior:

Suppose you have an app that the first time on startup the user must login and you want then to retrieve the user personal data (accessible only granting the access to the specific `uid`).

So for not breaking anything the invocation of the relative functions for accessing the database are made after a successful authentication.
Check inside th

[2018-10-26 01:56] mrioso opened #993 "Facebook authenticate not redirect after success on iOS 10 and lower"
Facebook authenticate not redirect after success on iOS 10 and lower, but its work fine on android and iOS 11 - higher.

**package.json**
[code]

**firebase.nativescript.json**
[code]

**info.plist**
[code]

**ReservaCancha.entitlements**
[code]

**GoogleService-Info.plist**
[code]

[2018-10-26 07:31] apurvaAndroid commented on #784
getting same error!

[2018-10-26 07:40] EddyVerbruggen opened #994 "Face detection is broken on Android with plugin version 7.3.0"
The SDK's API has changed, so we need to update the plugin (again). Thanks for reporting this, @shiv19!

[2018-10-26 07:41] #994 closed

[2018-10-26 07:58] #991 closed

[2018-10-27 17:56] EddyVerbruggen commented on #819
Fixed by #996

[2018-10-27 17:56] #819 closed

[2018-10-28 22:03] giorgiopiatti commented on #992
I'm closing this issue due that the error wasn't fault of this plugin. I run into a strange behavior of RxJS.

[2018-10-28 22:03] #992 closed

[2018-10-29 11:59] keerl opened #997 "Facebook SDK Version Warning"
I received this email from Facebook the other day.

**SDK Upgrade: Android v4.37.0**

_myapp_ development currently uses Facebook SDK for Android v4.36.1, which relies on the recently deprecated Version 2.7 of the Graph API.

As a result, there is a risk that your app will no longer function if you don't upgrade to **Facebook SDK for Android v4.37.0.**

As an admin of this app, please upgrade to t

[2018-10-29 15:32] mrioso commented on #993
somebody could help me?

[2018-10-29 15:37] iranicus commented on #784
Receiving same error here folks, logs show:
[code]
This is with payload (following the HTTP v1 API format:
[code]

[2018-10-29 21:01] EddyVerbruggen opened #998 "Support marshalling arrays with primitives on iOS"
If your Firestore db contains an Array of DocumentReference objects it will not be parsed correctly to JS. On Android it's fine already, and if the Array contains JSON it's fine as well.

[2018-10-29 21:02] #998 closed

[2018-10-29 22:24] giorgiopiatti opened #999 "Crashlytics: must Initialize Fabric before using singleton()"
I've enabling the Firebase Crashlytics extension according to the [documentation](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/CRASHREPORTING.md)
but something is not working correcting.

According to this [https://stackoverflow.com/questions/50782068/why-is-fabric-not-initialized-java-lang-illegalstateexception-must-initialize](https://stackoverflow.com/question

[2018-10-30 03:31] jonathanRinciari opened #1000 "Directory not found, Build Failed when including MLKIT && Text Recognition"
Package.json:
`
{
    "nativescript": {
        "id": "org.nativescript.businesscardscanner",
        "tns-android": {
            "version": "4.2.0"
        },
        "tns-ios": {
            "version": "4.3.0-2018-09-19-01"
        }
    },
    "description": "NativeScript Application",
    "license": "SEE LICENSE IN <your-license-filename>",
    "repository": "<fill-your-repository-here>",

[2018-10-30 08:01] tahir-jamil opened #1001 "cloud messaging not showing notification with angular"
I am following the documentation for cloud message and we have firebase notifications to show notification in ios but its not working
https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/MESSAGING.md#interactive-notifications-ios-only-for-now

this is the home component in which i am using firebase
`import { Component, OnInit } from '@angular/core';
import { RouterExtens

[2018-10-30 08:12] EddyVerbruggen commented on #1001
Please share a repo instead of snippets.

[2018-10-30 08:13] tahir-jamil commented on #1001
https://github.com/tahir-jamil/seefarma

[2018-10-30 08:13] tahir-jamil commented on #1001
this is my repo i am working on

[2018-10-30 08:13] EddyVerbruggen commented on #1000
I actually have the same issue when using MLKit on iOS. Looks like this bit of the Firebase SDK was recently updated and causes an issue. Not sure how to fix it though!

[2018-10-30 08:15] EddyVerbruggen commented on #1001
Let's discuss there.

[2018-10-30 08:15] #1001 closed

[2018-10-30 08:16] tahir-jamil commented on #1001
ok

[2018-10-30 11:00] EddyVerbruggen commented on #1000
I'm planning to bump the Firebase SDK to the latest version, but that one has an issue as well (not related to this one). It looks like that issue is solved in their master branch already so I'm waiting for a new release, after which we can update as well.

[2018-10-30 16:10] jnorkus opened #1002 "No Firestore snapshots received after app has been offline for some time"
To reproduce:
1. Subscribe to a Firestore document snapshot
2. Go to airplane mode for 5min
3. Disable airplane mode
4. Make changes in Firestore
Result: changes are not picked up by the snapshot callback any more

Haven't tested on iOS, but it is easy to reproduce on Android.

Not sure if this is how Firestore SDKs work or this is a bug in the plugin? Haven't found anything about tracking connect

[2018-10-30 17:47] packytagliaferro commented on #972
I also was unable to get it to run on iOS. I got  exit code 65 over and over. I tried all suggested methods here.

[code]

[2018-10-30 20:07] NeriCodec commented on #976
Yeah, help !!!

[2018-10-31 15:21] BrianChapman commented on #930
@larssn Is there any chance we could get a peak at the working prototype?

[2018-10-31 22:56] waynerobinson opened #1003 "Can't find variable: FIRMessaging ; Zone: <root> ;"
I have started getting the following error on start-up and not sure what's changed that may cause  this.

[code]

[2018-11-01 08:43] larssn opened #1004 "Error: Tried to serialize an unsupported type: java.util.HashMap"
Hey

Ran into this yesterday (on Android). It happened a few times after a project rebuild.
I did some Googling, and it appears to be related to `markingmode: none` in NS (maybe releated: https://github.com/NativeScript/android-runtime/issues/887).

I'll leave it here for now.

[code]

[2018-11-01 13:23] farukzahra commented on #821
Cannot read property 'FirebaseAnalytics' of undefined
Same here

[2018-11-01 15:25] packytagliaferro opened #1005 "Exit Code 65 on iOS"
I am getting a failed error on iOS simulator after installing your plugin. Before I could build fine. After I deleted the plugin and all the hooks it built fine again. Here are the steps to reproduce:

**Error:**

[code]

**Versions:**

- TNS: 5.0.0-2018-10-10-12456
- Plugin: just installed so 7.3.0

**What I did:**

- Installed Plugin
- Added google files to respective folders
- added entitlement

[2018-11-02 07:42] shinde-sagar opened #1006 "pluginfirebaseinfo not found"
Hello All,

When I run my application using **tns run android** always getting error

How we can overcome from these issue.

Thanks,
Sagar Shinde

[2018-11-02 08:40] EddyVerbruggen commented on #1006
No idea. That's new.. Share a repo and perhaps someone can help.

[2018-11-02 08:40] #1006 closed

[2018-11-02 11:54] tahir-jamil opened #1007 "Error: Permission denied in Database integration"
Hear is the code snippets for firebase init
ngOnInit() {
    firebase.init({
      persist: true,
      onAuthStateChanged: function(data) { // optional but useful to immediately re-logon the user when he re-visits your app
        console.log(data.loggedIn ? "Logged in to firebase" : "Logged out from firebase");
        if (data.loggedIn) {
          console.log("user's email address: " + (data.u

[2018-11-02 11:58] tahir-jamil commented on #1007
this issue is with the android also this is the firebase conf
{
    "external_push_client_only": false,
    "using_ios": false,
    "using_android": true,
    "firestore": true,
    "realtimedb": true,
    "authentication": true,
    "remote_config": false,
    "performance_monitoring": false,
    "messaging": false,
    "crashlytics": false,
    "crash_reporting": true,
    "storage": true,
    "

[2018-11-02 16:20] Yohan923 commented on #1000
just wondering has this problem been fixed yet? i'm still being affected by this

[2018-11-02 18:11] EddyVerbruggen commented on #1000
I would have reported back here.

Keep an eye out for Firebase iOS SDK updates. They need to release an update first, then we can fix the plugin.

[2018-11-03 13:55] Ianc22 opened #1008 "Access Custom Claims On The Client - getIdTokenResult method non excistent"
Hi, first o fall thanks a lot for this useful plugin.

I've been hitting my head agains the wall trying to implement accesing the custom claims from the
client. Not sure if I've overlooked something?

Here is a link to the implementation required.
https://firebase.google.com/docs/auth/admin/custom-claims#access_custom_claims_on_the_client

Any assistance would be greatly appreciated.

[2018-11-03 15:14] Ianc22 commented on #1008
Thanks for your quick reply.

In case you are not aware of Custom Claims here's a rundown.

If you scroll to the top of the page that I linked you'll see instructions on how to create custom claims for the user.

admin.auth().setCustomUserClaims(uid, {admin: true}).then(() => {
// The new custom claims will propagate to the user's ID token the
// next time a new one is issued.
});

These claims th

[2018-11-03 15:24] mspusta78 opened #1009 "Version 7.3 conflict with nativescript-globalevents"
After I upgraded to version 7.3 I get the following

CONSOLE LOG file:///app/tns_modules/nativescript-platform-css/node_modules/nativescript-globalevents/globalevents.js:28:16: NativeScript-globalevents auto disabled; functionality appears to be already present!

I am using

"nativescript-globalevents": "^1.2.2"
"nativescript-platform-css": "^1.6.6"

and in my app.js I have

require("nativescript-

[2018-11-03 15:40] Ianc22 commented on #1008
Here's what the token looks like when checking it on the server:

context.auth.token ==>  {
  admin: true,
  coach: true,
  aud: 'inspire-219716',
  auth_time: 1541236732,
  user_id: 'qWmXEePRkAeKvS6NSJF8j2Wz1',
  sub: 'qWmXEePRkAeKn96NSJF8j2Wz1',
  iat: 1541236732,
  exp: 1541240332,
  email: 'user@nativescript.org',
  email_verified: false,
  firebase:
   { identities: { email: [Object] },

[2018-11-03 15:41] Ianc22 commented on #1008
Here's what the token looks like when checking it on the server:

context.auth.token ==>  {
  admin: true,
  coach: true,
  aud: 'blob-2749239',
  auth_time: 1541236732,
  user_id: 'qWmXEePRkAeKvS6NSJF8j2Wz1',
  sub: 'qWmXEePRkAeKn96NSJF8j2Wz1',
  iat: 1541236732,
  exp: 1541240332,
  email: 'user@nativescript.org',
  email_verified: false,
  firebase:
   { identities: { email: [Object] },
     si

[2018-11-03 20:00] EddyVerbruggen commented on #1009
That message (..already present) is not logged by this plugin. I think this is not related to this plugin, or at least I have never seen this.

[2018-11-03 20:03] mspusta78 commented on #1009
Thanks for your reply.

I verified that setting the

"invites" : true

in the firebase.nativescript.json

is what will trigger this error. When I set this flag to "false" all is
working well.

On Sat, Nov 3, 2018 at 4:00 PM Eddy Verbruggen <notifications@github.com>
wrote:

[2018-11-04 01:52] Ianc22 commented on #1008
Hey Eddy,

So I've been thinking. I don't think there's a need to amend the User object. We just need to implement the following two features, as mentioned, and we should be all set!

**to access the custom claims** - getIdTokenResult returns the current ID token result object
https://firebase.google.com/docs/reference/js/firebase.User#getIdTokenResult
`firebase.auth().currentUser.getIdTokenResult

[2018-11-04 10:11] tahir-jamil commented on #690
any update about the issue?

[2018-11-04 12:06] Ianc22 commented on #1008
I think I may have found it!

**firebase.android.ts:668** `firebase.getAuthToken = arg => { ... };`

**firebase.android.ts:676** `resolve(getTokenResult.getToken());`

need to add `getTokenResult.getClaims()' here somewhere, maybe with the resolve? WIP... lol

[2018-11-04 12:48] tahir-jamil commented on #379
hey eddy i have faced the same error

[2018-11-04 12:49] tahir-jamil commented on #379
https://github.com/tahir-jamil/new-translator

[2018-11-04 12:50] tahir-jamil commented on #379
hear is the repo and error logs as run the project

[2018-11-04 14:33] Ianc22 commented on #1008
Hey Eddy, so I have come across your implementation of the first requirement of **getIdToken(forceRefresh):string**.

It's implemented in your `firebase.getAuthToken()` method:

https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/AUTHENTICATION.md#getauthtoken

So I've gone ahead and added `firebase.getAuthTokenClaims()` method. Calling `user.getIdTokenResult(arg.forceR

[2018-11-04 17:32] EddyVerbruggen commented on #1008
@Ianc22 There's no `getIdTokenResult` on that class. Check the source here: https://firebase.google.com/docs/reference/android/com/google/firebase/auth/FirebaseUser

[2018-11-04 17:59] EddyVerbruggen commented on #1009
It's [this line](https://github.com/NathanaelA/nativescript-globalevents/blob/6e3010bd51ce9d56c2640a02247ebcc6dd30e82b/src/globalevents.js#L27) that logs the message - I think you'll need to dig deeper yourself because I don't use the 'nativescript-globalevents' plugin myself.

[2018-11-04 17:59] #1009 closed

[2018-11-04 18:16] EddyVerbruggen commented on #1007
No idea. What's the actual error?

[2018-11-04 18:40] Ianc22 commented on #1008
I'm back! After some digging I found that the Java SDK doesn't expose the `getIdTokenResult()` function. The `getIdToken()` actually returns the claims. You can access them via the getTokenResult.getClaims() method.

This, however, needs to be cast like you are doing with the User loginResult.

I just updated firebase.getAuthToken() to return an object instead of a string as you can see below:

[c

[2018-11-04 18:43] Ianc22 commented on #1008
I'm back! After some digging I found that the Java SDK doesn't expose the `getIdTokenResult()` function. The `getIdToken()` actually returns the claims. You can access them via the getTokenResult.getClaims() method.

This, however, needs to be cast like you are doing with the User loginResult.

I just updated firebase.getAuthToken() to return an object instead of a string as you can see below:

[c

[2018-11-04 18:52] Ianc22 commented on #1008
btw, `getTokenResult.getClaims()` returns the above... So looks like all the user claims instead of just the custom claims (admin and coach respectively)

[2018-11-04 18:56] Ianc22 commented on #1008
Yeah thanks for that, I'd discovered it already by the time you hinted! lol

[2018-11-05 09:32] Ianc22 commented on #1008
Hey Eddy,

I was a little hasty in closing this issue as IOS still needs sorting.

Also, will you be updating the package? Maybe instead of refactoring the getAuthToken method create an additional one to handle returning the custom claims?

[2018-11-05 09:59] EddyVerbruggen commented on #1008
Yeah, leave this open as a feature request.

We don't need a new method in case we can add the claims while maintaining backward.

[2018-11-05 13:22] Ianc22 commented on #1008
Yeah it's required this end. Gonna have to see if I can get the IOS sorted, can't test it this end though... Guess I can use NativeScript Sidekick ;)

The reason I suggested a new method was for backward compatibility as the interface `export function getAuthToken(option: GetAuthTokenOptions): Promise<string>` needs to be `export function getAuthToken(option: GetAuthTokenOptions): Promise<object>`

[2018-11-06 07:44] coderaven commented on #699
I just want to leave a comment here that you all sirs are heroes to us! Thanks for making this plugin happen! 😄

[2018-11-06 07:56] hoatructhanhlam commented on #1000
I have a similar problem with the barcode scanner. My project is in the critical stage :(

[2018-11-06 10:06] Ianc22 commented on #1008
Hi Eddy,

I just had a quick look at the IOS implementation. I found this method `getIDTokenResultForcingRefreshCompletion`.
I can't find any reference to it but I assume this is the one we're after as it's the Result.

I'm gonna give it a go and let you know.

[2018-11-06 11:45] sivsushruth commented on #607
Event I am facing the same issue. How was this fixed @shabib3 ?

[2018-11-06 11:53] shabib3 commented on #607
I think the demo folder show how it should be.

this is what I am doing:

main.ts:
[code]

app.component.ts:
[code]

[2018-11-06 11:56] sivsushruth commented on #607
Got it, trying it now. I was always putting it inside ngOnInit as specified in docs

[2018-11-06 12:15] sivsushruth commented on #607
Even this is crashing. FIRApp.configure() just crashes the iOS app without error @shabib3

[2018-11-06 13:23] sivsushruth commented on #607
Okay, have figured out the fix

Maybe it can help the plugin developers

So, build with xcode 10 fails
I reverted xcode to 9.4 and things are working ok now.

[2018-11-06 14:53] b02505048 commented on #248
Am using NativeScript Vue and every time I called
[code]
[code]
The `errorMessage` will be thrown no matter the old password is correct or not.
If reauth the user is needed, then in what way should we call the `changePassword` API? Thank you

[2018-11-06 17:00] NeriCodec opened #1010 "The Android Gradle plugin supports only Crashlytics (Nativescript 5.0)"
The Android Gradle plugin supports only Crashlytics Gradle plugin version 1.25.4 and higher.

[2018-11-06 21:48] adamschnaare opened #1011 "android build fails with 'flavor' error"
Using nativescript-plugin-firebase v 7.3.0

Prior to installing plugin, android build works fine.
I install the plugin and run:
[code]

and get the following result:
[code]
Thoughts?

[2018-11-07 04:19] adamschnaare commented on #1011
So.. perhaps nevermind. I believe I had two versions of the android sdk installed.

1. [This post helped. ](https://stackoverflow.com/questions/39645178/panic-broken-avd-system-path-check-your-android-sdk-root-value)
2. I also upgraded to tns-android 5.0.0 via `tns upgrade`

[2018-11-07 04:19] #1011 closed

[2018-11-07 07:16] htcsharp opened #1012 "Get error after install this plugin when run with sidekick"
Hi,
I installed this plugin step by step according to the document, but every time when I use sidekick to build or run the app on the device. I always get the error, the log is below:
[18-11-07 17:12:08.269] Build started.
[18-11-07 17:12:13.696] (CLI) Executing before-checkForChanges hook from /project/testmyapp/hooks/before-checkForChanges/firebase-copy-google-services.js
[18-11-07 17:12:13.700]

[2018-11-07 09:52] bearoutthere opened #1013 "FieldValue.serverTimestamp is not a function"
I know that there were previous issues concerning this problem but i've tried all the recommendations and all possible variations but am still getting the following error.

[code]

Here's the calling code
[code]

tns-android - 4.2.0
tns-core-modules - 4.2.1
nativescript-plugin-firebase - 7.1.0

I know i could use Date() to get the timestamp but i would really like to use server timestamp.
Any help

[2018-11-07 09:59] EddyVerbruggen commented on #1013
Can you bump to the latest plugin version (or at least the latest 7.1.x version) and try again?

[2018-11-07 09:59] bearoutthere commented on #1013
Sure thing.  Will do now.

[2018-11-07 11:32] raulvc opened #1014 "Non-firebase messaging and google-services.json"
The gradle build is struck due to needing a google-services.json, however as stated by the docs page I could use this plugin for a third party push service (I'm using amazon's SNS)

So I'm confused, is it mandatory for me to register a firebase app despite not using it so that this plugin will work?

[2018-11-07 11:44] EddyVerbruggen commented on #1014
Doesn't Amazon SNS build upon FCM for message delivery, in which case you'll need a Firebase configuration anyway (and consequently that `google-services.json` file)?

[2018-11-07 11:53] raulvc commented on #1014
I believe you're right Eddy :) sorry!

[2018-11-07 11:54] #1014 closed

[2018-11-07 15:02] thiamugb opened #1015 "'firebase.init error: TypeError: Cannot read property \'firebase\' of undefined' Updated in Nativescript-vue"

[2018-11-07 15:07] thiamugb commented on #1015
I have a problem like this if i use nativescript vue with firebase.
I use this template vue init nativescript-vue/vue-cli-template sample.
I dont know where i put the file firebase.nativescript.json

[2018-11-07 15:14] EddyVerbruggen commented on #1015
Share a repo please and @ me in an issue on your repo, then I might take a look.

[2018-11-07 15:14] #1015 closed

[2018-11-07 16:50] paweldziura commented on #1000
Temporary solution from my side:

1. in platforms/ios/Podfile remove versions from 'Firebase/Core' and 'GoogleUtilities'
I ended up with this:

[code]
That will install latest firebase 5.11.0 && GoogleUtilities 5.3.4

2. in platforms/ios use `pod install` (no pod repo update)
3. in `platforms/ios/plugins-debug.xcconfig` and `platforms/ios/plugins/plugins-release.xcconfig` in line 10 (`OTHER_LDFLAG

[2018-11-07 19:11] janossuta commented on #1010
I had the same issue but after I updated the plugin to the latest version the error message disappeared.
"nativescript-plugin-firebase": "^7.3.0"

[2018-11-07 22:35] NeriCodec commented on #1010
@janossuta got test now !!

[2018-11-07 22:49] DSimonovski opened #1016 "getCurrentUser doesn't return additionalUserInfo if already logged in"
Hey there. I have seen that this has been an everlasting issue and actually you have gone ahead and made some progress so the additionalUserInfo actually exists when the user is first logged out and then they log in.

However, this object still isn't being set if the user is already logged in right on init. Maybe you can try calling the corresponding 'get current user' function from the origin API

[2018-11-07 22:50] NeriCodec commented on #1010
Nice !!!

[2018-11-07 22:50] #1010 closed

[2018-11-07 23:42] htcsharp commented on #1012
Hi Giorgio,
Thank you for your reply. But I still get the same problem when I delete the platforms and rebuild.

the log is below:

[18-11-08 09:36:09.139] NativeScript Sidekick version: 1.13.0-v.2018.10.5.2
[18-11-08 09:36:09.492] Checking for updates...
[18-11-08 09:36:09.795] Dependencies versions: NodeJS: 10.13.0, npm: 6.4.1, NativeScript CLI: 4.2.4.
[18-11-08 09:36:10.769] No updates availabl

[2018-11-08 00:21] DSimonovski commented on #763
This still has problems, I have opened a new issue.

[2018-11-08 06:46] tranthang1997 opened #1018 "Google Sign In not installed - see gradle config"
When I do login with google I get error "Google Sign In not installed - see gradle config". Please help me. Thank!

[2018-11-08 07:58] b02505048 opened #1019 "changePassword() not working on Android"
Am using NativeScript Vue and every time I called
[code]
[code]

Works charmly on iOS but on Android the `errorMessage` above was thrown.
Any idea? Thanks

[2018-11-08 08:49] EddyVerbruggen commented on #1019
Hmm, I see that "Updating password failed" is logged when the "updatePassword" function fails, but there's a TODO to add the actual error message to the rejected promise. I'll do that for the next version, but it'll still mean your password won't be changed - so let's see what the actual error is:

Open `node_modules/nativescript-plugin-firebase/firebase.android.js` and search for `reject("Updatin

[2018-11-08 09:04] b02505048 commented on #1019
Hi @EddyVerbruggen, thank you very much! The `errorMessage` is shown below
[code]
Simply run `firebase.login` right before `firebase.changePassword` fix the problem on Android!
[code]
Should it be mentioned in README.md? Cheers!

[2018-11-08 09:04] #1019 closed

[2018-11-08 09:06] EddyVerbruggen commented on #1019
I guess that would be useful, but since it's a message from the Firebase SDK (not from the plugin) it feels a bit weird to document "their" SDK behaviour.

Anyhow, I'll add a quick note at https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/AUTHENTICATION.md#changing-a-password

Thanks for testing this!

[2018-11-08 09:10] EddyVerbruggen commented on #1018
Remove `firebase.nativescript.json`, `rm -rf platforms`, `npm i`, then pick "Google Sign In" when prompted, then run your app again.

[2018-11-08 09:10] #1018 closed

[2018-11-08 12:31] EddyVerbruggen commented on #1012
Can you please post your package.json?

[2018-11-08 15:06] calleja23 opened #1021 "no compability authentication with masive notification nativescript"
Hi,
First, thank you very much for the plugin.
second when I use the configuration of the plugin that I show next, from the firebase console the massive notifications do not arrive, but the individual ones. On the other hand, if I deactivate the authentication of the plugin parameterization, I can make massive notifications.
Can somebody help me?
Thanks

![image](https://user-images.githubusercont

[2018-11-08 15:11] EddyVerbruggen commented on #1021
What’s a massive notification?

[2018-11-08 15:37] calleja23 commented on #1021
Sorry,
https://console.firebase.google.com
Firebase console-> myProject-> cloud messaging->new notification-> i  write title and body -> next app android("all  devices connected")
![image](https://user-images.githubusercontent.com/11317014/48209034-739a3e80-e374-11e8-9d2d-1e8221998aed.png)

but if I send the notification from here it works

![image](https://user-images.githubusercontent.com/113170

[2018-11-08 16:08] danielalvesa commented on #518
I found a solution!

I had this same problem: my app received the notifications and the addOnMessageReceivedCallback() was called but only if my app was opened/suspended, otherwise, the app was opened but didn't pass the data and the function was ignored. I added this require variable at app.js (in app folder).

`const firebase = require("nativescript-plugin-firebase");`

in typescript I believe i

[2018-11-08 16:31] EddyVerbruggen commented on #518
Yep, that’s correct. You need to require the plugin for startup wiring to work. Same for iOS. The question is: how can I document this even better?

[2018-11-08 20:30] GeorgeRXia commented on #518
@EddyVerbruggen When I open my app through the notification, my onMessageReceivedCallback is called, but it doesn't have the body value of the payload. I am running on Android 7.0.

If the app is running in the foreground it works fine, I am able to get the body.

[2018-11-08 20:32] GeorgeRXia commented on #384
@NicoleZA  were you able to solve this issue?

[2018-11-08 23:12] Skintillion commented on #518
Make sure this is in your Android Manifest

[code]

[2018-11-08 23:42] htcsharp commented on #1012
Hi Eddy,
the package.json is below
{
  "nativescript": {
    "id": "org.nativescript.testmyapp",
    "tns-android": {
      "version": "5.0.0"
    },
    "tns-ios": {
      "version": "5.0.0"
    }
  },
  "description": "NativeScript Application",
  "license": "SEE LICENSE IN <your-license-filename>",
  "repository": "<fill-your-repository-here>",
  "dependencies": {
    "@angular/animations": "~6

[2018-11-09 07:31] EddyVerbruggen commented on #1012
That looks good. Is there a way I can run your exact project on Sidekick as well?

[2018-11-09 08:46] htcsharp commented on #1012
Hi Eddy,

The code is attached and may need your firebase json file to test. The package name I used is org.nativescript.testmyapp.

 And when I build for iOS, it shows build successfully but when run this app in emulator only the logo shows then the app exists.

Actually I only copy the code from an existing project to learn the nativescript and firebase, the link is https://github.com/sarojrout/